Repository nucypher/nucypher, pull requests merged in 2018-12, with the labels that each got.

#562 Specialize CLI for Ursula; Integrated NodeStorages
  .circleci/config.yml
  Pipfile
  examples/finnegans_wake_demo/run_federated_ursula.py
  nucypher/__about__.py
  nucypher/blockchain/eth/registry.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/cli.py
  nucypher/cli/__init__.py
  nucypher/cli/deploy.py
  nucypher/cli/main.py
  nucypher/cli/painting.py
  nucypher/cli/protocol.py
  nucypher/cli/types.py
  nucypher/config/characters.py
  nucypher/config/constants.py
  nucypher/config/keyring.py
  nucypher/config/node.py
  nucypher/config/storages.py
  nucypher/network/nodes.py
  nucypher/network/protocols.py
  nucypher/network/server.py
  nucypher/network/templates/basic_status.j2
  nucypher/policy/models.py
  nucypher/utilities/decorators.py
  nucypher/utilities/logging.py
  nucypher/utilities/sandbox/blockchain.py
  nucypher/utilities/sandbox/constants.py
  nucypher/utilities/sandbox/middleware.py
  nucypher/utilities/sandbox/ursula.py
  setup.cfg
  setup.py
  tests/blockchain/eth/contracts/base/seeder/test_seeder.py
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/entities/actors/test_miner.py
  tests/characters/test_alice_can_grant_and_revoke.py
  tests/characters/test_bob_handles_frags.py
  tests/characters/test_bob_joins_policy_and_retrieves.py
  tests/characters/test_crypto_characters_and_their_powers.py
  tests/characters/test_ursula_prepares_to_act_as_mining_node.py
  tests/cli/commands/test_help.py
  tests/cli/commands/test_run_ursula.py
  tests/cli/commands/test_stake.py
  tests/cli/commands/test_status.py
  tests/cli/commands/test_ursula.py
  tests/cli/conftest.py
  tests/cli/protocol/test_ursula_command.py
  tests/cli/test_accounts.py
  tests/cli/test_config.py
  tests/config/test_firstula_circumstances.py
  tests/config/test_keyring.py
  tests/config/test_storages.py
  tests/conftest.py
  tests/fixtures.py
  tests/learning/test_fleet_state.py
  tests/network/test_network_actors.py
  tests/network/test_node_storage.py
  tests/network/test_ursula_status.py
  tests/run_tests.py
Labels: API, CLI, Data Storage

#593 Maintain non-federated CLI
  .gitignore
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/chains.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/registry.py
  nucypher/cli/deploy.py
  nucypher/cli/main.py
  nucypher/cli/types.py
  nucypher/config/characters.py
  nucypher/config/node.py
  nucypher/utilities/sandbox/blockchain.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/interfaces/test_solidity_compiler.py
  tests/cli/commands/test_federated_ursula.py
  tests/cli/commands/test_status.py
  tests/cli/conftest.py
  tests/config/test_firstula_circumstances.py
  tests/config/test_storages.py
  tests/fixtures.py
  tests/network/test_node_storage.py
Labels: Bug, CLI, Configuration

#611 Rename EncryptingKeypair/EncryptingPower to DecryptingKeypair/DecryptingPower
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/config/keyring.py
  nucypher/crypto/powers.py
  nucypher/keystore/keypairs.py
  nucypher/keystore/keystore.py
  nucypher/network/nodes.py
  nucypher/policy/models.py
  tests/blockchain/eth/entities/agents/test_policy_manager_agent.py
  tests/characters/test_alice_can_grant_and_revoke.py
  tests/characters/test_bob_handles_frags.py
  tests/config/test_keyring.py
  tests/keystore/test_keypairs.py
  tests/keystore/test_keystore.py
Labels: API, Enhancement

#594 Maintain Gas Estimation Metrics
  .circleci/config.yml
  Pipfile
  nucypher/blockchain/eth/scripts/estimate_gas_tester.py
  nucypher/config/constants.py
  nucypher/utilities/logging.py
  tests/metrics/estimate_gas.py
Labels: Enhancement

#605 Ursula Development Configuration Test
  tests/config/test_ursula_config.py
Labels: Configuration

#613 Initial Packaging and Publication Automation
  .circleci/config.yml
  .circleci/validate-hook.sh
  Pipfile
  deploy/docker/Dockerfile
  deploy/docker/docker-compose.yml
  nucypher/config/node.py
  pytest.ini
  setup.py
Labels: Automation, Dependencies, circleci

#621 Reusing key-wrapping from Umbral in the keyring
  nucypher/config/keyring.py
Labels: Configuration, Dependencies, Security

#617 High-level TesterBlockchain network bootstrap method
  .gitignore
  nucypher/blockchain/eth/chains.py
  nucypher/utilities/sandbox/blockchain.py
  tests/metrics/estimate_gas.py
Labels: Enhancement
