Repository nucypher/nucypher, pull requests merged in 2018-10, with the labels that each got.

#467 Protection against node metadata replay attacks.
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/config/node.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  tests/characters/test_ursula_prepares_to_act_as_mining_node.py
  tests/fixtures.py
  tests/network/test_network_actors.py
Labels: Attack

#468 Restore Identity from Keyring Configuration
  .circleci/config.yml
  Pipfile
  cli/.nucypher.ini
  cli/main.py
  examples/finnegans-wake-federated.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/registry.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/config/characters.py
  nucypher/config/constants.py
  nucypher/config/keyring.py
  nucypher/config/node.py
  nucypher/config/parsers.py
  nucypher/config/utils.py
  nucypher/crypto/api.py
  nucypher/crypto/powers.py
  nucypher/keystore/keypairs.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  tests/characters/test_bob_handles_frags.py
  tests/cli/test_config.py
  tests/fixtures.py
  tests/network/test_network_actors.py
Labels: CLI, Configuration, Security

#473 Remove Kademlia digest function
  Pipfile
  nucypher/network/protocols.py
  nucypher/network/server.py
  tests/network/test_network_actors.py
Labels: Dependencies

#476 Configurable Node Storages
  .circleci/config.yml
  Pipfile
  cli/main.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/config/blockchain.py
  nucypher/config/characters.py
  nucypher/config/constants.py
  nucypher/config/node.py
  nucypher/config/storages.py
  nucypher/config/utils.py
  nucypher/network/server.py
  nucypher/utilities/sandbox/ursula.py
  tests/cli/test_config.py
  tests/config/test_storages.py
  tests/fixtures.py
Labels: API, Configuration, data storage

#478 Remove Pinned GitHub Dependencies
  Pipfile
  nucypher/blockchain/eth/interfaces.py
Labels: Dependencies

#479 Load Hardcoded Bootnodes at Startup
  cli/main.py
  nucypher/config/constants.py
  nucypher/config/node.py
Labels: CLI, Network

#477 Putting nucypher up-to-date wrt to pyumbral
  Pipfile
  nucypher/crypto/powers.py
  nucypher/keystore/db/models.py
  nucypher/keystore/keypairs.py
  nucypher/keystore/keystore.py
  nucypher/network/server.py
  nucypher/policy/models.py
  tests/characters/test_alice_can_grant_and_revoke.py
  tests/characters/test_bob_handles_frags.py
Labels: Dependencies

#480 Keyring Derived TLSHostingPower
  cli/main.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/config/characters.py
  nucypher/config/constants.py
  nucypher/config/keyring.py
  nucypher/config/node.py
  nucypher/network/server.py
  tests/fixtures.py
Labels: Network

#484 `UserEscrow` Agent & Deployer; Entity layer testing
  cli/main.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/chains.py
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/scripts/estimate_gas_tester.py
  nucypher/blockchain/eth/sol/source/contracts/Seeder.sol
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/config/characters.py
  nucypher/config/node.py
  nucypher/utilities/sandbox/ursula.py
  setup.py
  tests/blockchain/eth/contracts/main/__init__.py
  tests/blockchain/eth/contracts/main/test_seeder.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/actors/test_miner.py
  tests/blockchain/eth/entities/actors/test_policy_author.py
  tests/blockchain/eth/entities/agents/test_miner_escrow_agent.py
  tests/blockchain/eth/entities/agents/test_policy_manager_agent.py
  tests/blockchain/eth/entities/agents/test_token_agent.py
  tests/blockchain/eth/entities/agents/test_user_escrow_agent.py
  tests/blockchain/eth/entities/deployers/test_deploy_preallocations.py
  tests/blockchain/eth/entities/deployers/test_economics.py
  tests/blockchain/eth/entities/deployers/test_interdeployer_integration.py
  tests/blockchain/eth/entities/deployers/test_miner_escrow_deployer.py
  tests/blockchain/eth/entities/deployers/test_policy_manager_deployer.py
  tests/blockchain/eth/entities/deployers/test_token_deployer.py
  tests/blockchain/eth/entities/deployers/test_user_escrow_deployer.py
  tests/blockchain/eth/entities/test_actors.py
  tests/blockchain/eth/entities/test_agents.py
  tests/blockchain/eth/interfaces/test_chains.py
  tests/blockchain/eth/interfaces/test_registry.py
  tests/blockchain/eth/interfaces/test_solidity_compiler.py
  tests/cli/test_config.py
  tests/fixtures.py
  tox.ini
Labels: API, CLI, eth_contracts
