Repository nucypher/nucypher, pull requests merged in 2018-11, with the labels that each got.

#496 Federated Deployment Automation
  .gitignore
  Pipfile
  cli/main.py
  deploy/ansible/ansible.cfg
  deploy/ansible/inventory/ec2.ini
  deploy/ansible/inventory/ec2.py
  deploy/ansible/provision.yml
  deploy/ansible/restart_all.yml
  deploy/ansible/terminate.yml
  deploy/ansible/update.yml
  deploy/ansible/variables.template.yml
  deploy/ansible/wipe_ursula_config.yml
  deploy/docker/Dockerfile
  deploy/docker/docker-compose.yml
  deploy/services/firstula_node.j2
  deploy/services/ursula_node.j2
  examples/finnegans-wake-concise-demo.py
  examples/finnegans-wake-federated.py
  examples/run_federated_ursula.py
  nucypher/__init__.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/chains.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/sol/compile.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/config/characters.py
  nucypher/config/constants.py
  nucypher/config/node.py
  nucypher/config/storages.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/utilities/sandbox/blockchain.py
  nucypher/utilities/sandbox/middleware.py
  nucypher/utilities/sandbox/ursula.py
  tests/config/test_firstula_circumstances.py
  tests/conftest.py
Labels: Automation, CLI, Configuration

#513 Publication Automation
  .circleci/config.yml
Labels: Automation

#519 Inline Teacher URI Option; CLI Touch-ups
  Pipfile
  cli/__init__.py
  cli/main.py
  nucypher/__init__.py
  nucypher/utilities/logging.py
  scripts/install_solc.sh
  setup.py
  tests/config/test_storages.py
Labels: API, CLI

#530 Sentry for CLI Only (#526)
  cli/main.py
  examples/finnegans_wake_demo/finnegans-wake-federated.py
  nucypher/__init__.py
  nucypher/config/constants.py
  nucypher/utilities/logging.py
  tests/conftest.py
Labels: CLI, Logging

#547 Lots of little updates to status page, console output, and learning
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/cli.py
  nucypher/network/nicknames/__init__.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/network/templates/basic_status.j2
  nucypher/utilities/sandbox/ursula.py
  tests/learning/__init__.py
  tests/learning/test_fleet_state.py
  tests/learning/test_learning_from_teachers.py
  tests/network/test_network_actors.py
Labels: Bug

#565 Refactor node storages backend tests; Accomodate pytest>4
  tests/cli/test_accounts.py
  tests/cli/test_main.py
  tests/config/test_storages.py
  tests/network/test_node_storage.py
Labels: Bug, Dependencies

#576 [Federated] Dependency version freeze; Pipenv lock, legacy pip requirements.
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
  setup.py
  tests/cli/test_accounts.py
  tests/cli/test_main.py
  tests/config/test_storages.py
  tests/network/test_node_storage.py
Labels: Dependencies

#575 Dependency version freeze; Pipenv lock, legacy pip requirements.
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
  setup.py
Labels: Dependencies

#588 [Federated] Pin Umbral 0.1.1.a3
  Pipfile
Labels: Bug, Dependencies
