Repository nucypher/nucypher, pull requests merged in 2019-02, with the labels that each got.

#717 Expanded contribution docs
  .circleci/config.yml
  docs/source/guides/contribution_guide.rst
  docs/source/guides/federated_testnet_guide.rst
  docs/source/guides/installation_guide.md
  docs/source/guides/quickstart.md
  docs/source/index.rst
  setup.py
Labels: Documentation

#723 [Docs] Add Security section to README and remove wheel badge
  README.md
Labels: Documentation, Enhancement

#731 Update Dependency Locks, update to Hendrix 3.2.1
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

#736 Update dependency locks to accommodate hendrix 3.2.2
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

#746 CLI Moe - Namespaced cli modules by character
  deploy/learning_monitor.py
  nucypher/cli/config.py
  nucypher/cli/main.py
  nucypher/cli/moe.py
  nucypher/cli/status.py
  nucypher/cli/templates/monitor.html
  nucypher/cli/ursula.py
  tests/cli/protocol/test_ursula_command.py
  tests/conftest.py
Labels: CLI, Configuration, Enhancement

#740 Integrate py-solc, v0.5.0+ contract updates
  .circleci/config.yml
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/sol/compile.py
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/MinersEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/NuCypherToken.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/Seeder.sol
  nucypher/blockchain/eth/sol/source/contracts/UserEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/UserEscrowProxy.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/AdditionalMath.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Dispatcher.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Upgradeable.sol
  nucypher/blockchain/eth/sol/source/zeppelin/math/Math.sol
  nucypher/blockchain/eth/sol/source/zeppelin/math/SafeMath.sol
  nucypher/blockchain/eth/sol/source/zeppelin/ownership/Ownable.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/BasicToken.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/BurnableToken.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/DetailedERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/ERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/ERC20Basic.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/ERC20Detailed.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/IERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/SafeERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/StandardToken.sol
  requirements.txt
  scripts/install_solc.sh
  tests/blockchain/eth/contracts/contracts/IssuerTestSet.sol
  tests/blockchain/eth/contracts/contracts/MinersEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/PolicyManagerTestSet.sol
  tests/blockchain/eth/contracts/contracts/ReceiveApprovalMethodMock.sol
  tests/blockchain/eth/contracts/contracts/UserEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContracV2Bad.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractInterface.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV1.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV2.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV3.sol
  tests/blockchain/eth/contracts/main/miners_escrow/test_miners_escrow.py
  tests/blockchain/eth/contracts/main/token/test_token.py
  tests/blockchain/eth/entities/agents/test_miner_escrow_agent.py
Labels: Configuration, ETH Contracts, Enhancement

#752 [Hotfix] Update and Test Moe Network Monitor
  .circleci/config.yml
  deploy/services/moe_monitor.j2
  nucypher/cli/moe.py
  tests/cli/commands/test_moe.py
Labels: CLI

#757 [Hotfix] Check Standard Installation Entry Points
  .circleci/config.yml
  nucypher/blockchain/eth/sol/compile.py
  nucypher/cli/main.py
Labels: Bug, Dependencies

#747 More Node Provisioning: Federated Ursula, Moe, Geth Miners, Netstats
  deploy/ansible/eth_netstats/launch_eth_netstats.yml
  deploy/ansible/geth/files/bootnodes.txt
  deploy/ansible/geth/files/genesis.j2
  deploy/ansible/geth/launch_bootnodes.yml
  deploy/ansible/geth/launch_nodes.yml
  deploy/ansible/geth/wipe_chaindata.yml
  deploy/ansible/inventory/ec2.ini
  deploy/ansible/moe/launch_moe.yml
  deploy/ansible/ursulas/run_seednodes.yml
  deploy/ansible/ursulas/update_application.yml
  deploy/ansible/variables.template.yml
  deploy/geth/custom_genesis.json
  deploy/geth/initialize_blockchain.sh
  deploy/geth/install_geth_ubuntu.sh
  deploy/geth/launch_bootnode.sh
  deploy/geth/launch_node.sh
  deploy/networks.json
  deploy/services/eth_netstats.j2
  deploy/services/geth_bootnode.j2
  deploy/services/geth_miner.j2
  deploy/services/moe_monitor.j2
  nucypher/cli/templates/monitor.html
  nucypher/config/node.py
  tests/cli/commands/test_moe.py
Labels: Automation

#775 Unicode Policy Labels - Conventional Character Control API Keys
  nucypher/characters/lawful.py
  nucypher/cli/alice.py
  nucypher/cli/bob.py
  nucypher/cli/enrico.py
  nucypher/cli/moe.py
  nucypher/config/node.py
  nucypher/network/middleware.py
  nucypher/utilities/logging.py
  nucypher/utilities/sandbox/middleware.py
  nucypher/utilities/sandbox/policy.py
  tests/characters/test_character_control.py
  tests/crypto/test_bytestring_types.py
  tests/fixtures.py
Labels: Bug, blocker

#770 Updates version of solidity in vodka
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/MinersEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/MiningAdjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/Numerology.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/SignatureVerifier.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/UmbralDeserializer.sol
  nucypher/characters/lawful.py
  nucypher/policy/models.py
  requirements.txt
  tests/blockchain/eth/contracts/contracts/LibTestSet.sol
  tests/blockchain/eth/contracts/contracts/MiningAdjudicatorTestSet.sol
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager_operations.py
Labels: ETH Contracts
