Repository nucypher/nucypher, pull requests merged in 2019-08, with the labels that each got.

#1203 Improved Blockchain Syncing UX
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/stake.py
  tests/blockchain/eth/clients/test_mocked_clients.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
Labels: Bug 🐞, CLI, Enhancement

#1071 Restore 'nucypher status'
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/providers.py
  nucypher/blockchain/eth/registry.py
  nucypher/cli/painting.py
  nucypher/cli/status.py
  tests/blockchain/eth/clients/test_mocked_clients.py
  tests/cli/ursula/test_federated_ursula.py
Labels: CLI, Enhancement

#1211 Improve format of stake enactment datetimes for stakes listing
  nucypher/cli/painting.py
Labels: CLI, UX

#1244 Staking Documentation Improvements; Sidebar Cleanup
  docs/source/guides/staking_guide.rst
  docs/source/guides/ursula_configuration_guide.rst
  docs/source/index.rst
  nucypher/config/keyring.py
  readthedocs.yml
Labels: Documentation

#960 WorkLock
  docs/source/architecture/contracts.md
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  tests/blockchain/eth/contracts/contracts/StakingEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/WorkLockTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_tracking.py
  tests/blockchain/eth/contracts/main/worklock/test_worklock.py
  tests/metrics/estimate_gas.py
Labels: ETH Contracts, Economics 💵, Ursula :woman_astronaut:

#1257 Auto-detect for file scheme provider uri
  nucypher/blockchain/eth/interfaces.py
  tests/blockchain/eth/clients/test_mocked_clients.py
Labels: CLI, UX
