Repository nucypher/nucypher, pull requests merged in 2019-06, with the labels that each got.

#1048 Decentralized Identity Verification Fixes and Naming
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/crypto/api.py
  nucypher/network/nodes.py
  tests/characters/test_crypto_characters_and_their_powers.py
  tests/characters/test_ursula_prepares_to_act_as_mining_node.py
  tests/learning/test_fault_tolerance.py
  tests/network/test_network_actors.py
Labels: Bug 🐞, Naming stuff, Network, Protocol

#1047 dockerize demos for ci
  .circleci/config.yml
  dev/docker/3-ursulas.yml
  dev/docker/8-federated-ursulas.yml
  dev/docker/Dockerfile
  dev/docker/README.md
  examples/finnegans_wake_demo/finnegans-wake-demo.py
  examples/heartbeat_demo/alicia.py
  examples/heartbeat_demo/doctor.py
  scripts/circle/docker-compose.yml
  scripts/circle/download_and_run_finnegans_wake.sh
  scripts/circle/logOutput.sh
  scripts/circle/run_finnegans_wake_demo_docker-circle.sh
  scripts/circle/run_heartbeat_alicia_and_bob.sh
  scripts/circle/run_heartbeat_demo_docker-circle.sh
  scripts/demos/run_finnegans_wake_demo_docker.sh
  scripts/demos/run_heartbeat_demo_docker.sh
Labels: Automation, Demos, Test 🔍, circleci

#1069 Sentry Logging Integration with Breadcrumb Hooks and Blacklist
  .circleci/config.yml
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/blockchain/eth/clients.py
  nucypher/cli/config.py
  nucypher/config/constants.py
  nucypher/utilities/logging.py
  requirements.txt
  tests/conftest.py
Labels: Bug 🐞, Logging

#1076 Bump version: 0.1.0-alpha.22 → 0.1.0-alpha.23
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1078 Fix broken documentation links
  README.md
  docs/source/guides/character_control_guide.rst
  docs/source/guides/contribution_guide.rst
  docs/source/guides/installation_guide.md
  examples/finnegans_wake_demo/README.md
  examples/heartbeat_demo/alicia.py
  examples/heartbeat_demo/heartbeat_demo.md
  examples/postman/README.md
Labels: Documentation

#1074 Standardize pip reqs files
  .circleci/config.yml
  scripts/circle/compare_reqs.sh
  scripts/installation/rebuild_pipenv.sh
Labels: Automation, Dependencies

#1097 Defenestrate 'nucypher remove' from the CLI
  nucypher/cli/main.py
  tests/cli/test_mixed_configurations.py
Labels: Bug 🐞, CLI

#821 IPC-RPC Character Control
  nucypher/characters/base.py
  nucypher/characters/control/controllers.py
  nucypher/characters/control/emitters.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/control/serializers.py
  nucypher/characters/control/specifications.py
  nucypher/characters/lawful.py
  nucypher/cli/actions.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/enrico.py
  nucypher/cli/main.py
  nucypher/cli/processes.py
  nucypher/utilities/controllers.py
  scripts/deploy_then_stake.sh
  tests/characters/conftest.py
  tests/characters/control/conftest.py
  tests/characters/control/test_rpc_control.py
  tests/characters/control/test_web_control.py
  tests/cli/test_rpc_ipc_transport.py
Labels: CLI, Enhancement, Network, Protocol

#1106 Fix `py.test` warnings
  .circleci/config.yml
  pytest.ini
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/agents/test_user_escrow_agent.py
  tests/blockchain/eth/entities/deployers/test_user_escrow_deployer.py
  tests/blockchain/eth/interfaces/test_chains.py
  tests/cli/test_deploy.py
Labels: Test 🔍
