Repository nucypher/nucypher, pull requests merged in 2019-10, with the labels that each got.

#1372 Add @pytest.mark.nightly marker to specify nightly tests
  .circleci/config.yml
  pytest.ini
  tests/blockchain/eth/contracts/main/staking_escrow/test_sampling_distribution.py
  tests/conftest.py
Labels: Automation, Test 🔍, circleci

#1374 Bump version: 0.1.0-alpha.28 → 0.1.0-alpha.29
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1377 Glossary Page for Docs
  docs/source/glossary.rst
  docs/source/index.rst
Labels: Documentation

#1365 Docs for fundamental character concepts/processes including diagrams
  docs/source/.static/img/alice_grant.svg
  docs/source/.static/img/bob_retrieve.svg
  docs/source/.static/img/enrico_encrypt.svg
  docs/source/.static/img/nucypher_overview.svg
  docs/source/.static/img/ursula_reencrypt.svg
  docs/source/architecture/character.rst
  docs/source/architecture/contracts.md
  docs/source/demos/finnegans_wake_demo.rst
  docs/source/index.rst
Labels: Documentation

#1382 Relock Dependencies
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

#1389 Release notes for pre-release epics
  docs/source/.static/img/nu_epics.jpg
  docs/source/index.rst
  docs/source/release_notes/genesis_release.md
  docs/source/release_notes/pre_release_epics.md
Labels: Documentation

#1391 Update README to be in line with Docs
  README.md
  docs/source/.static/img/nucypher_overview.png
Labels: Documentation

#1387 Stake Graphing and Layout; Dark Theme; Organize Status Apps
  Pipfile
  nucypher/blockchain/eth/token.py
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/cli/status.py
  nucypher/network/nodes.py
  nucypher/network/status/assets/stylesheet.css
  nucypher/network/status/status_page.py
  nucypher/network/status_app/__init__.py
  nucypher/network/status_app/assets/bWLwgP.css
  nucypher/network/status_app/assets/favicon.ico
  nucypher/network/status_app/assets/nucypher_logo.png
  nucypher/network/status_app/assets/stylesheet.css
  nucypher/network/status_app/base.py
  nucypher/network/status_app/crawler.py
  nucypher/network/status_app/db.py
  nucypher/network/status_app/moe.py
  nucypher/network/status_app/templates/moe.html
  nucypher/network/status_app/ursula.py
  requirements.txt
Labels: Mo, Web

#1396 Bump version: 0.1.0-alpha.29 → 0.1.0-alpha.30
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1381 Character Creation Ease
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/config/keyring.py
  nucypher/crypto/powers.py
  nucypher/network/nodes.py
Labels: API, Enhancement

#1338 [WIP] Getting Started with Characters Guide
  docs/source/guides/getting_started.md
  docs/source/guides/quickstart.md
  docs/source/index.rst
  nucypher/policy/policies.py
Labels: Documentation

#1400 Bump version: 0.1.0-alpha.30 → 1.0.0-beta.1
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1401 Darth-Moe Status Page Cleanup
  nucypher/network/status_app/base.py
  nucypher/network/status_app/moe.py
Labels: Mo, Web

#1404 Add "TreasureMap" to the Glossary.
  docs/source/glossary.rst
Labels: Documentation

#1417 Improve CLI commands to better detect invalid option/commands and provide context-specific help
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/enrico.py
  nucypher/cli/characters/felix.py
  nucypher/cli/characters/stake.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/config.py
  nucypher/cli/deploy.py
  nucypher/cli/status.py
  tests/cli/conftest.py
  tests/cli/test_alice.py
  tests/cli/test_bob.py
  tests/cli/test_cli_lifecycle.py
  tests/cli/test_enrico.py
  tests/cli/test_felix.py
  tests/cli/test_help.py
  tests/cli/test_mixed_configurations.py
  tests/cli/ursula/test_federated_ursula.py
  tests/cli/ursula/test_run_ursula.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
Labels: CLI, Enhancement, UX

#1430 Include pending transactions when calculating a nonce
  nucypher/blockchain/eth/interfaces.py
Labels: Bug 🐞

#1364 Extract sample() from solidity to python
  .circleci/config.yml
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  tests/blockchain/eth/contracts/main/staking_escrow/test_sampling.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/entities/agents/test_sampling_distribution.py
  tests/characters/test_ursula_prepares_to_act_as_mining_node.py
Labels: ETH Contracts, Enhancement

#1441 Bump version: 1.0.0-beta.1 → 1.0.0-beta.2
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1437 Cleanup of Moe Status Page regarding checksum, graphs, and states
  nucypher/network/status_app/base.py
  nucypher/network/status_app/moe.py
Labels: Mo, UX, Web

#1442 Bump version: 1.0.0-beta.2 → 1.1.0-beta.0
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate
