Repository nucypher/nucypher, pull requests merged in 2019-01, with the labels that each got.

#640 Update pinned pipenv dependencies and requirements
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

#637 CLI bug fixes and enhancements
  nucypher/cli/main.py
  nucypher/cli/protocol.py
  nucypher/config/node.py
  nucypher/network/nodes.py
  nucypher/utilities/sandbox/constants.py
  tests/cli/commands/test_run_ursula.py
  tests/config/test_ursula_config.py
  tests/fixtures.py
Labels: Bug, CLI, Enhancement

#650 Configure CircleCI to use frozen dependencies
  .circleci/config.yml
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies, circleci

#659 Domain management via CLI and configurations
  nucypher/cli/main.py
  nucypher/config/characters.py
  nucypher/config/node.py
Labels: CLI, Configuration, Network

#670 Use en_US.UTF-8 instead of Debian specific C.UTF-8
  deploy/ansible/run_seednodes.yml
  deploy/ansible/update.yml
  examples/run_demo_ursula_fleet.py
Labels: Bug, Configuration

#677 Updates Finnegan's Wake Demo API
  examples/finnegans_wake_demo/finnegans-wake--demo.py
  examples/finnegans_wake_demo/finnegans-wake-verbose-demo.py
  examples/finnegans_wake_demo/run_federated_ursula.py
Labels: Bug, Enhancement

#676 Make domain constants bytestrings
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/config/constants.py
  nucypher/config/node.py
  nucypher/network/nodes.py
  nucypher/network/server.py
Labels: Configuration, Enhancement

#641 Separate automated docker build from upload steps
  .circleci/config.yml
  .circleci/trigger_job.sh
Labels: Automation

#652 Federated Ursula Provisioning API Updates
  deploy/ansible/ansible.cfg
  deploy/ansible/provision/provision_ec2.yml
  deploy/ansible/provision/terminate.yml
  deploy/ansible/ursulas/restart_services.yml
  deploy/ansible/ursulas/run_seednodes.yml
  deploy/ansible/ursulas/update_application.yml
  deploy/ansible/ursulas/wipe_configuration.yml
  deploy/ansible/wipe_ursula_config.yml
  deploy/services/firstula_node.j2
  deploy/services/ursula_node.j2
Labels: Automation, Configuration

#674 Goodbye apistar, hello flask
  .circleci/config.yml
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/characters/lawful.py
  nucypher/cli/main.py
  nucypher/cli/processes.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/utilities/sandbox/middleware.py
  requirements.txt
  tests/cli/protocol/test_ursula_command.py
  tests/network/test_ursula_status.py
Labels: API, Dependencies, Network

#681 [Docs] Massive Documentation Cleanup - Continue Porting
  README.md
  docs/source/api/characters.rst
  docs/source/api/config.rst
  docs/source/api/crypto.rst
  docs/source/api/keyring.rst
  docs/source/api/keystore.rst
  docs/source/api/network.rst
  docs/source/api/policy.rst
  docs/source/architecture/contracts.md
  docs/source/architecture/upgradeable_proxy_contracts.md
  docs/source/conf.py
  docs/source/demos/finnegans_wake_demo.md
  docs/source/demos/heartbeat_demo.md
  docs/source/demos/local_fleet_demo.md
  docs/source/guides/configuration_guide.rst
  docs/source/guides/contribution_guide.md
  docs/source/guides/federated_testnet_guide.md
  docs/source/guides/installation_guide.md
  docs/source/guides/quickstart.md
  nucypher/crypto/api.py
  nucypher/policy/models.py
Labels: Documentation, Enhancement

#685 Update Dependencies and Locks
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/blockchain/eth/chains.py
  nucypher/utilities/sandbox/blockchain.py
  requirements.txt
  setup.py
Labels: Dependencies, blocker

#682 [Docs] Usable Demo and Guide Documentation
  README.md
  docs/source/demos/finnegans_wake_demo.md
  docs/source/demos/finnegans_wake_demo.rst
  docs/source/demos/local_fleet_demo.md
  docs/source/guides/contribution_guide.md
  docs/source/guides/federated_testnet_guide.md
  docs/source/guides/installation_guide.md
  docs/source/guides/quickstart.md
Labels: Documentation

#686 [Docs] Clean up README and fix logo
  README.md
  docs/source/.static/img/nucypher.png
  docs/source/.static/img/nucypher_logo.svg
  docs/source/index.rst
Labels: Documentation

#689 [Docs] Refinement of docs for contracts
  docs/contracts.rst
  docs/source/.static/img/Dispatcher.png
  docs/source/.static/img/Dispatcher2.png
  docs/source/.static/img/Dispatcher3.png
  docs/source/.static/img/Hard-fork.png
  docs/source/.static/img/Hard-fork2.png
  docs/source/.static/img/Hard-fork3.png
  docs/source/architecture/contracts.md
  docs/source/architecture/upgradeable_proxy_contracts.md
Labels: Documentation

#680 Initial Documentation
  .gitignore
  README.md
  docs/Makefile
  docs/architecture.rst
  docs/contracts.rst
  docs/make.bat
  docs/source/.static/img/Dispatcher.png
  docs/source/.static/img/nucypher.png
  docs/source/.static/img/nucypher_logo.svg
  docs/source/api/characters.rst
  docs/source/api/config.rst
  docs/source/api/crypto.rst
  docs/source/api/keyring.rst
  docs/source/api/keystore.rst
  docs/source/api/network.rst
  docs/source/api/policy.rst
  docs/source/architecture/contracts.md
  docs/source/architecture/upgradeable_proxy_contracts.md
  docs/source/conf.py
  docs/source/demos/finnegans_wake_demo.rst
  docs/source/demos/heartbeat_demo.md
  docs/source/demos/local_fleet_demo.md
  docs/source/guides/contribution_guide.md
  docs/source/guides/federated_testnet_guide.md
  docs/source/guides/installation_guide.md
  docs/source/guides/quickstart.md
  docs/source/guides/ursula_configuration_guide.rst
  docs/source/index.rst
  docs/source/release_notes/genesis_release.md
  nucypher/blockchain/eth/sol/source/contracts/proxy/README.MD
  nucypher/blockchain/eth/sol/source/contracts/proxy/UPDATE.MD
  nucypher/blockchain/eth/sol/source/contracts/proxy/pics/Dispatcher.png
  nucypher/blockchain/eth/sol/source/contracts/proxy/pics/Dispatcher2.png
  nucypher/blockchain/eth/sol/source/contracts/proxy/pics/Dispatcher3.png
  nucypher/blockchain/eth/sol/source/contracts/proxy/pics/Hard-fork.png
  nucypher/blockchain/eth/sol/source/contracts/proxy/pics/Hard-fork2.png
  nucypher/blockchain/eth/sol/source/contracts/proxy/pics/Hard-fork3.png
  nucypher/characters/factories.py
  nucypher/crypto/api.py
  nucypher/policy/models.py
Labels: Documentation

#692 Include readthedocs.yml
  README.md
  docs/source/index.rst
  readthedocs.yml
Labels: Documentation

#693 Resolve sphinx build failures
  docs/source/architecture/contracts.md
  docs/source/architecture/upgradeable_proxy_contracts.md
  docs/source/demos/finnegans_wake_demo.rst
  docs/source/index.rst
Labels: Dependencies, Documentation

#694 Address docstring malformation
  nucypher/config/keyring.py
Labels: Configuration, Documentation

#696 Successful RTD Configuration
  docs/source/conf.py
  docs/source/demos/heartbeat_demo.md
  docs/source/demos/local_fleet_demo.md
  nucypher/characters/base.py
  nucypher/crypto/powers.py
Labels: Configuration, Dependencies, Documentation

#702 [Release] Alpha Distribution
  .bumpversion.cfg
  .circleci/config.yml
  README.md
  docs/source/conf.py
  docs/source/guides/contribution_guide.rst
  nucypher/__about__.py
  setup.py
Labels: Automation

#707 Fix formatting issues of RST files
  docs/source/architecture/upgradeable_proxy_contracts.rst
  docs/source/demos/finnegans_wake_demo.rst
  docs/source/demos/local_fleet_demo.rst
  docs/source/guides/contribution_guide.rst
  docs/source/guides/federated_testnet_guide.rst
  docs/source/guides/ursula_configuration_guide.rst
  docs/source/index.rst
Labels: Documentation

#691 Real-time learning monitor
  deploy/learning_monitor.py
  deploy/templates/monitor.html
  nucypher/characters/base.py
  nucypher/network/nodes.py
Labels: Enhancement, Network, Web

#712 Fix Issue #711 - Ensure Ursula uses operating mode from configuration file
  nucypher/cli/main.py
  tests/cli/commands/test_federated_ursula.py
Labels: Bug, CLI

#713 Don't require to change directory to where the script is
  deploy/learning_monitor.py
Labels: Bug, Web

#709 Ursula Command Help & Docs Build Check
  .circleci/config.yml
  docs/Makefile
  nucypher/cli/processes.py
Labels: Automation, Documentation

#509 On-chain ZKP verification for re-encryption correctness
  nucypher/blockchain/eth/sol/source/contracts/ChallengeOverseer.sol
  nucypher/blockchain/eth/sol/source/contracts/MinersEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/MiningAdjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/Numerology.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/UmbralDeserializer.sol
  nucypher/characters/lawful.py
  nucypher/network/server.py
  nucypher/policy/models.py
  tests/blockchain/eth/contracts/contracts/ChallengeTestSet.sol
  tests/blockchain/eth/contracts/contracts/MinersEscrowTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/lib/test_umbral_deserializer.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_mining.py
  tests/blockchain/eth/contracts/main/mining_adjudicator/conftest.py
  tests/blockchain/eth/contracts/main/mining_adjudicator/test_mining_adjudicator.py
Labels: Cryptography, ETH Contracts
