Repository nucypher/nucypher, pull requests merged in 2019-05, with the labels that each got.

#959 I feel pretty...Make Moe/Ursula status pages slightly prettier
  .circleci/config.yml
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/cli/templates/monitor.html
  nucypher/network/server.py
  nucypher/network/status/__init__.py
  nucypher/network/status/assets/bWLwgP.css
  nucypher/network/status/assets/favicon.ico
  nucypher/network/status/assets/nucypher_logo.png
  nucypher/network/status/assets/stylesheet.css
  nucypher/network/status/status_page.py
  nucypher/network/templates/basic_status.j2
  pytest.ini
  requirements.txt
  tests/conftest.py
  tests/network/status/test_ursula_status.py
  tests/network/test_ursula_status.py
Labels: Enhancement, Mo, Network, Ursula :woman_astronaut:

#952 Felix Audible - Geth Private Chain Provisioning
  deploy/ansible/felix/initialize_felix.yml
  deploy/ansible/felix/launch_felix.yml
  deploy/ansible/felix/update_felix.yml
  deploy/ansible/geth/files/bootnodes.txt
  deploy/ansible/geth/files/genesis.j2
  deploy/ansible/geth/init_blockchain.yml
  deploy/ansible/geth/launch_nodes.yml
  deploy/ansible/geth/wipe_chaindata.yml
  deploy/ansible/ursulas/rename_configs.yml
  deploy/geth/custom_genesis.json
  deploy/services/felix_faucet.j2
  deploy/services/geth_miner.j2
Labels: Automation, Felix

#873 Enhancing upgradability
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/MinersEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/MiningAdjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/UserEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/UserEscrowProxy.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Dispatcher.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Upgradeable.sol
  nucypher/blockchain/eth/sol/source/zeppelin/utils/Address.sol
  tests/blockchain/eth/contracts/base/test_dispatcher.py
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/base/test_multisig.py
  tests/blockchain/eth/contracts/contracts/IssuerTestSet.sol
  tests/blockchain/eth/contracts/contracts/MinersEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/MiningAdjudicatorTestSet.sol
  tests/blockchain/eth/contracts/contracts/PolicyManagerTestSet.sol
  tests/blockchain/eth/contracts/contracts/UserEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/proxy/BadContracts.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContracV2Bad.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractInterface.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV1.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV2.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV3.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV4.sol
  tests/blockchain/eth/contracts/contracts/proxy/Destroyable.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_miners_escrow_additional.py
  tests/blockchain/eth/contracts/main/mining_adjudicator/test_mining_adjudicator.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager_operations.py
  tests/blockchain/eth/contracts/main/user_escrow/conftest.py
  tests/blockchain/eth/contracts/main/user_escrow/test_user_escrow.py
  tests/blockchain/eth/contracts/main/user_escrow/test_user_escrow_proxy.py
Labels: ETH Contracts, Enhancement, Security

#947 Vodka aftertaste
  .circleci/config.yml
  examples/finnegans_wake_demo/finnegans-wake-demo.py
  examples/heartbeat_demo/alicia.py
  examples/heartbeat_demo/doctor.py
  nucypher/blockchain/economics.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/sol/source/contracts/MiningAdjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/ReEncryptionValidator.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/SignatureVerifier.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/UmbralDeserializer.sol
  nucypher/characters/base.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/lawful.py
  nucypher/crypto/utils.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/policy/models.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/contracts/contracts/LibTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/lib/test_reencryption_validator.py
  tests/blockchain/eth/contracts/lib/test_signature_verifier.py
  tests/blockchain/eth/contracts/lib/test_umbral_deserializer.py
  tests/blockchain/eth/contracts/main/mining_adjudicator/conftest.py
  tests/blockchain/eth/contracts/main/mining_adjudicator/test_mining_adjudicator.py
  tests/blockchain/eth/entities/deployers/test_economics.py
  tests/characters/test_bob_joins_policy_and_retrieves.py
  tests/characters/test_character_control.py
  tests/characters/test_crypto_characters_and_their_powers.py
  tests/cli/conftest.py
  tests/cli/test_cli_lifecycle.py
  tests/cli/ursula/test_blockchain_ursula.py
  tests/crypto/test_signature.py
  tests/crypto/test_utils.py
  tests/fixtures.py
  tests/metrics/estimate_gas.py
Labels: Economics 💵, Slashing

#1012 Resolve Dependency Conflicts
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  dev/docker/Dockerfile
  requirements.txt
  scripts/installation/rebuild_pipenv.sh
Labels: Dependencies

#1022 Support Constantinople (Solc + PyEVM)
  scripts/installation/install_solc.sh
Labels: ETH Contracts

#1017 Disallow creating persistent character configurations in --dev mode
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/ursula.py
  tests/cli/test_alice.py
  tests/cli/test_bob.py
  tests/cli/ursula/test_run_ursula.py
Labels: CLI, Configuration

#949 Separate worker role from miner/staker
  docs/source/architecture/contracts.md
  nucypher/blockchain/economics.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/MinersEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/MiningAdjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/UserEscrowProxy.sol
  nucypher/cli/characters/ursula.py
  nucypher/utilities/sandbox/constants.py
  nucypher/utilities/sandbox/ursula.py
  tests/blockchain/eth/contracts/contracts/MinersEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/MiningAdjudicatorTestSet.sol
  tests/blockchain/eth/contracts/contracts/UserEscrowTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/miners_escrow/conftest.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_miners_escrow.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_miners_escrow_additional.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_mining.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_tracking.py
  tests/blockchain/eth/contracts/main/mining_adjudicator/test_mining_adjudicator.py
  tests/blockchain/eth/contracts/main/user_escrow/test_user_escrow.py
  tests/blockchain/eth/entities/actors/test_miner.py
  tests/blockchain/eth/entities/agents/test_miner_escrow_agent.py
  tests/blockchain/eth/entities/agents/test_user_escrow_agent.py
  tests/blockchain/eth/entities/deployers/test_economics.py
  tests/metrics/estimate_gas.py
Labels: ETH Contracts, Ursula :woman_astronaut:

#1020 Miner -> staker in contracts
  docs/source/architecture/contracts.md
  docs/source/architecture/upgradeable_proxy_contracts.rst
  nucypher/blockchain/eth/sol/source/contracts/Adjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/UserEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/UserEscrowProxy.sol
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/contracts/AdjudicatorTestSet.sol
  tests/blockchain/eth/contracts/contracts/PolicyManagerTestSet.sol
  tests/blockchain/eth/contracts/contracts/StakingEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/UserEscrowTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/adjudicator/conftest.py
  tests/blockchain/eth/contracts/main/adjudicator/test_adjudicator.py
  tests/blockchain/eth/contracts/main/policy_manager/conftest.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager.py
  tests/blockchain/eth/contracts/main/staking_escrow/conftest.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_mining.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_tracking.py
  tests/blockchain/eth/contracts/main/user_escrow/conftest.py
  tests/blockchain/eth/contracts/main/user_escrow/test_user_escrow.py
Labels: Documentation, ETH Contracts, Naming stuff
