Repository nucypher/nucypher, pull requests merged in 2019-12, with the labels that each got.

#1487 Fixes #1343 - Move StakeHolder to blockchain Actors
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/cli/characters/stake.py
  nucypher/config/characters.py
  tests/fixtures.py
Labels: Naming stuff

#1489 Add staker address to Ursula status page
  nucypher/network/server.py
  nucypher/network/templates/basic_status.j2
Labels: Ursula :woman_astronaut:, Web

#1485 Fixes #828 - Allow solc install script to crash instead of report success
  .circleci/config.yml
  scripts/installation/install_solc.sh
Labels: Bug 🐞

#1491 Relock Deps; Control CI cache ownership
  .circleci/config.yml
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

#1121 [APPROVED - DON'T MERGE YET] Contracts size optimizations
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/compile.py
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/AdditionalMath.sol
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/contracts/PolicyManagerTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager_operations.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/metrics/estimate_gas.py
Labels: ETH Contracts, Enhancement

#1378 [APPROVED - DON'T MERGE YET] Fix potential problem with EIP-1884
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PreallocationEscrow.sol
  nucypher/blockchain/eth/sol/source/zeppelin/utils/Address.sol
  tests/blockchain/eth/contracts/contracts/PolicyManagerTestSet.sol
  tests/blockchain/eth/contracts/contracts/ReentrancyTest.sol
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager_operations.py
  tests/blockchain/eth/contracts/main/staking_contracts/test_preallocation_escrow.py
  tests/blockchain/eth/contracts/main/worklock/test_worklock.py
Labels: Bug 🐞, ETH Contracts

#963 [EPIC] Doubtfire: Modifications for Monitoring Applications
  nucypher/blockchain/eth/token.py
  nucypher/characters/banners.py
  nucypher/characters/base.py
  nucypher/characters/chaotic.py
  nucypher/characters/control/emitters.py
  nucypher/characters/lawful.py
  nucypher/cli/characters/enrico.py
  nucypher/cli/characters/moe.py
  nucypher/cli/main.py
  nucypher/cli/status.py
  nucypher/cli/templates/monitor.html
  nucypher/config/keyring.py
  nucypher/config/storages.py
  nucypher/crypto/api.py
  nucypher/keystore/keypairs.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/network/templates/basic_status.j2
  pytest.ini
  scripts/local_fleet/run_local_ursula_fleet.py
  tests/cli/test_moe.py
  tests/config/test_storages.py
  tests/conftest.py
  tests/markers.py
  tests/network/test_ursula_status.py
Labels: Mo, UX, Web

#1493 Ensure all tests can run in a singe session; Docker adjustments
  deploy/docker/Dockerfile
  docs/source/guides/ursula_configuration_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/cli/actions.py
  nucypher/config/keyring.py
  nucypher/config/storages.py
  nucypher/network/teachers.py
  scripts/deploy_then_stake.sh
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/cli/conftest.py
  tests/cli/test_alice.py
  tests/cli/test_bob.py
  tests/cli/test_status.py
  tests/cli/ursula/test_federated_ursula.py
  tests/fixtures.py
Labels: Bug 🐞, Enhancement, Test 🔍

#1520 Tolerate non-staking nodes in storages; Handle NotStaking in learning
  nucypher/network/nodes.py
Labels: Blocker, Bug 🐞

#1523 Excavate Re-encryption logic; WorkOrder Datastore Models
  nucypher/characters/lawful.py
  nucypher/cli/painting.py
  nucypher/crypto/utils.py
  nucypher/keystore/db/models.py
  nucypher/keystore/keystore.py
  nucypher/network/middleware.py
  nucypher/network/server.py
  nucypher/policy/collections.py
  tests/characters/test_bob_handles_frags.py
  tests/keystore/test_keystore.py
Labels: Enhancement, Ursula :woman_astronaut:

#1539 CLI Guide for Grant and Retrieve
  docs/source/guides/cli_guide.rst
  docs/source/index.rst
Labels: CLI, Documentation

#1470 Versioning of contracts and upgradability test
  docs/source/architecture/contracts.md
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/sol/compile.py
  nucypher/blockchain/eth/sol/source/contracts/Adjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/MultiSig.sol
  nucypher/blockchain/eth/sol/source/contracts/NuCypherToken.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/Seeder.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/AdditionalMath.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/ReEncryptionValidator.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/SignatureVerifier.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/UmbralDeserializer.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Dispatcher.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Upgradeable.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/AbstractStakingContract.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PreallocationEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  nucypher/cli/deploy.py
  nucypher/cli/painting.py
  nucypher/utilities/sandbox/blockchain.py
  tests/blockchain/eth/contracts/contracts/AdjudicatorTestSet.sol
  tests/blockchain/eth/contracts/contracts/IssuerTestSet.sol
  tests/blockchain/eth/contracts/contracts/LibTestSet.sol
  tests/blockchain/eth/contracts/contracts/PolicyManagerTestSet.sol
  tests/blockchain/eth/contracts/contracts/ReceiveApprovalMethodMock.sol
  tests/blockchain/eth/contracts/contracts/StakingContractsTestSet.sol
  tests/blockchain/eth/contracts/contracts/StakingEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/WorkLockTestSet.sol
  tests/blockchain/eth/contracts/contracts/proxy/BadContracts.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV1.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV2.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV4.sol
  tests/blockchain/eth/contracts/contracts/proxy/Destroyable.sol
  tests/blockchain/eth/contracts/test_contracts_upgradeability.py
  tests/blockchain/eth/entities/deployers/test_interdeployer_integration.py
  tests/blockchain/eth/entities/deployers/test_policy_manager_deployer.py
  tests/blockchain/eth/entities/deployers/test_preallocation_escrow_deployer.py
  tests/blockchain/eth/entities/deployers/test_staking_escrow_deployer.py
  tests/blockchain/eth/interfaces/contracts/multiversion/v1/VersionTest.sol
  tests/blockchain/eth/interfaces/contracts/multiversion/v2/VersionTest.sol
  tests/blockchain/eth/interfaces/test_chains.py
  tests/blockchain/eth/interfaces/test_registry.py
  tests/blockchain/eth/interfaces/test_solidity_compiler.py
  tests/cli/test_deploy.py
  tests/cli/test_deploy_commands.py
Labels: ETH Contracts, Enhancement, Test 🔍

#1407 WorkLock updates
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  nucypher/cli/deploy.py
  nucypher/utilities/sandbox/blockchain.py
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/contracts/IssuerTestSet.sol
  tests/blockchain/eth/contracts/contracts/StakingEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/WorkLockTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/staking_escrow/conftest.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/blockchain/eth/contracts/main/worklock/test_worklock.py
  tests/blockchain/eth/contracts/test_contracts_upgradeability.py
  tests/cli/test_deploy.py
  tests/fixtures.py
Labels: ETH Contracts

#1542 Re-stake flag invert
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  tests/blockchain/eth/contracts/integration/test_contract_economics.py
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/blockchain/eth/entities/agents/test_staking_escrow_agent.py
  tests/cli/ursula/test_stake_via_allocation_contract.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/metrics/estimate_gas.py
Labels: ETH Contracts
