Repository nucypher/nucypher, pull requests merged in 2019-04, with the labels that each got.

#891 Give responses an application/json content type
  nucypher/characters/control/emitters.py
Labels: Bug 🐞, Web

#826 Docker dev
  README.md
  dev/docker/3-ursulas.yml
  dev/docker/Dockerfile
  dev/docker/README.md
  dev/docker/docker-compose.yml
  dev/docker/scripts/install/entrypoint.sh
  dev/docker/scripts/shell.ps1
  dev/docker/scripts/shell.sh
  dev/docker/scripts/test.ps1
  dev/docker/scripts/test.sh
  dev/docker/scripts/ursula.ps1
  dev/docker/scripts/ursula.sh
Labels: Automation, Enhancement

#908 Fix Issues #807 and #896
  nucypher/cli/characters/ursula.py
  nucypher/config/node.py
Labels: Bug 🐞

#863 Vodka hangover
  nucypher/blockchain/eth/sol/source/contracts/MiningAdjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/Numerology.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/ReEncryptionValidator.sol
  nucypher/characters/lawful.py
  nucypher/network/server.py
  nucypher/policy/models.py
  tests/blockchain/eth/contracts/contracts/LibTestSet.sol
  tests/blockchain/eth/contracts/lib/test_reencryption_validator.py
  tests/blockchain/eth/contracts/main/mining_adjudicator/test_mining_adjudicator.py
  tests/characters/test_bob_handles_frags.py
Labels: ETH Contracts, Slashing

#910 Update and re-lock dependencies; Reintroduce Codecov
  .circleci/config.yml
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  examples/full_staking_flow.sh
  examples/stake.py
  requirements.txt
Labels: Bug 🐞, Dependencies, Enhancement, Test 🔍

#915 Infuriating comprehension. Fixes #911 and Fixes #912 (duplicates).
  nucypher/characters/lawful.py
Labels: Bug 🐞, Network, Ursula :woman_astronaut:, blocker

#827 [WIP] Release notes for pre-release epic branches.
  nucypher/characters/lawful.py
Labels: Documentation, Enhancement

#916 Two bandaids.
  nucypher/network/nodes.py
  nucypher/network/server.py
Labels: Bug 🐞, Ursula :woman_astronaut:, blocker

#918 Bump version: 0.1.0-alpha.21 → 0.1.0-alpha.22
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#861 Multi-tenant Configurations & Destruction
  nucypher/characters/control/emitters.py
  nucypher/cli/actions.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/felix.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/config.py
  nucypher/cli/deploy.py
  nucypher/cli/main.py
  nucypher/config/characters.py
  nucypher/config/keyring.py
  nucypher/config/node.py
  tests/cli/test_help.py
  tests/cli/test_mixed_configurations.py
  tests/cli/ursula/test_federated_ursula.py
Labels: API, Bug 🐞, CLI, Configuration

#900 Store active policies via a policy ID
  nucypher/characters/control/controllers.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/control/serializers.py
  nucypher/characters/control/specifications.py
  nucypher/characters/lawful.py
  nucypher/cli/characters/alice.py
  nucypher/crypto/utils.py
  nucypher/policy/models.py
  tests/characters/test_alice_can_grant_and_revoke.py
  tests/characters/test_character_control.py
Labels: Alice 👩, Enhancement

#899 Improve management of ETH test accounts. Test coverage power-up.
  .circleci/config.yml
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/config/keyring.py
  nucypher/utilities/sandbox/blockchain.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/actors/test_policy_author.py
  tests/blockchain/eth/entities/agents/test_policy_manager_agent.py
  tests/blockchain/eth/entities/deployers/test_deploy_preallocations.py
  tests/blockchain/eth/entities/deployers/test_token_deployer.py
  tests/blockchain/eth/entities/deployers/test_user_escrow_deployer.py
  tests/blockchain/eth/interfaces/test_chains.py
  tests/cli/conftest.py
  tests/fixtures.py
Labels: Automation, Bug 🐞, Enhancement, Test 🔍

#823 Re-stake in contracts
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/sol/source/contracts/MinersEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/MiningAdjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/NuCypherToken.sol
  nucypher/blockchain/eth/sol/source/contracts/UserEscrowProxy.sol
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/contracts/contracts/MinersEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/MiningAdjudicatorTestSet.sol
  tests/blockchain/eth/contracts/contracts/UserEscrowTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/miners_escrow/conftest.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_miners_escrow.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_miners_escrow_additional.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_miners_escrow_operations.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_mining.py
  tests/blockchain/eth/contracts/main/miners_escrow/test_tracking.py
  tests/blockchain/eth/contracts/main/policy_manager/conftest.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager_operations.py
  tests/blockchain/eth/contracts/main/user_escrow/conftest.py
  tests/blockchain/eth/contracts/main/user_escrow/test_user_escrow.py
  tests/metrics/estimate_gas.py
Labels: Bug 🐞, ETH Contracts, Enhancement, Ursula :woman_astronaut:

#866 MiningAdjudicatorDeployer, TokenEconomics and Stake Integration
  nucypher/blockchain/economics.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/chains.py
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/policies.py
  nucypher/blockchain/eth/token.py
  nucypher/blockchain/eth/utils.py
  nucypher/characters/chaotic.py
  nucypher/characters/control/controllers.py
  nucypher/characters/control/serializers.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/config.py
  nucypher/cli/deploy.py
  nucypher/cli/painting.py
  nucypher/cli/types.py
  nucypher/config/constants.py
  nucypher/config/node.py
  nucypher/policy/models.py
  nucypher/utilities/sandbox/blockchain.py
  nucypher/utilities/sandbox/constants.py
  nucypher/utilities/sandbox/ursula.py
  tests/blockchain/eth/contracts/base/seeder/test_seeder.py
  tests/blockchain/eth/contracts/main/token/test_token.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/actors/test_miner.py
  tests/blockchain/eth/entities/actors/test_policy_author.py
  tests/blockchain/eth/entities/agents/test_miner_escrow_agent.py
  tests/blockchain/eth/entities/agents/test_policy_manager_agent.py
  tests/blockchain/eth/entities/agents/test_token_agent.py
  tests/blockchain/eth/entities/agents/test_user_escrow_agent.py
  tests/blockchain/eth/entities/deployers/test_deploy_preallocations.py
  tests/blockchain/eth/entities/deployers/test_economics.py
  tests/blockchain/eth/entities/deployers/test_interdeployer_integration.py
  tests/blockchain/eth/entities/deployers/test_policy_manager_deployer.py
  tests/blockchain/eth/entities/deployers/test_user_escrow_deployer.py
  tests/blockchain/eth/interfaces/test_chains.py
  tests/blockchain/eth/interfaces/test_token_and_stake.py
  tests/cli/conftest.py
  tests/cli/test_deploy.py
  tests/cli/test_felix.py
  tests/cli/test_mixed_configurations.py
  tests/cli/ursula/test_blockchain_ursula.py
  tests/fixtures.py
  tests/metrics/estimate_gas.py
Labels: API, Configuration, Economics 💵, Slashing

#948 Add devnet info to quickstart docs
  docs/source/guides/quickstart.md
Labels: Documentation

#874 Bob handles failure cases with a bit more tact
  nucypher/characters/lawful.py
  nucypher/network/server.py
  tests/characters/conftest.py
  tests/characters/test_bob_handles_frags.py
  tests/characters/test_bob_joins_policy_and_retrieves.py
  tests/characters/test_character_control.py
  tests/fixtures.py
Labels: Bob 👨‍💼
