Repository nucypher/nucypher, pull requests merged in 2019-07, with the labels that each got.

#1052 [EPIC] NuCypher Staking Device Utility
  nucypher/cli/hardware/__init__.py
  nucypher/cli/hardware/backends.py
  nucypher/cli/main.py
  tests/cli/conftest.py
Labels: API, Enhancement

#1120 Some CI updates/tweaks
  .circleci/config.yml
  scripts/circle/docker-compose.yml
Labels: Automation, circleci

#1092 TransactingPower
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/policies.py
  nucypher/characters/base.py
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/cli/actions.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/felix.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/config.py
  nucypher/cli/deploy.py
  nucypher/cli/status.py
  nucypher/config/keyring.py
  nucypher/config/node.py
  nucypher/crypto/powers.py
  nucypher/network/nodes.py
  nucypher/utilities/sandbox/blockchain.py
  nucypher/utilities/sandbox/ursula.py
  tests/blockchain/eth/clients/test_geth_integration.py
  tests/blockchain/eth/clients/test_mocked_clients.py
  tests/blockchain/eth/contracts/main/adjudicator/conftest.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/actors/test_staker.py
  tests/blockchain/eth/entities/agents/test_adjudicator_agent.py
  tests/blockchain/eth/entities/agents/test_policy_manager_agent.py
  tests/blockchain/eth/entities/agents/test_staking_escrow_agent.py
  tests/blockchain/eth/entities/agents/test_token_agent.py
  tests/blockchain/eth/entities/agents/test_user_escrow_agent.py
  tests/characters/test_crypto_characters_and_their_powers.py
  tests/cli/test_alice.py
  tests/cli/test_cli_lifecycle.py
  tests/cli/test_deploy.py
  tests/config/test_keyring.py
  tests/crypto/test_powers.py
  tests/fixtures.py
  tests/learning/test_fault_tolerance.py
  tests/metrics/estimate_gas.py
Labels: API

#1064 Introduce Stakeholder
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/token.py
  nucypher/config/base.py
  nucypher/config/node.py
  nucypher/crypto/powers.py
  tests/blockchain/eth/clients/test_geth_integration.py
  tests/blockchain/eth/entities/actors/test_stakeholder.py
  tests/config/test_character_configuration.py
Labels: API

#1056 Extract Stakeholder CLI and Deploy Actions
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/token.py
  nucypher/cli/actions.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/config.py
  nucypher/cli/deploy.py
  nucypher/cli/main.py
  nucypher/cli/painting.py
  nucypher/cli/stake.py
  nucypher/cli/types.py
  nucypher/config/characters.py
  nucypher/config/keyring.py
  nucypher/config/node.py
  nucypher/crypto/powers.py
  nucypher/utilities/sandbox/blockchain.py
  tests/blockchain/eth/clients/test_geth_integration.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/actors/test_stakeholder.py
  tests/blockchain/eth/entities/deployers/test_adjudicator_deployer.py
  tests/blockchain/eth/entities/deployers/test_policy_manager_deployer.py
  tests/blockchain/eth/entities/deployers/test_staking_escrow_deployer.py
  tests/blockchain/eth/entities/deployers/test_token_deployer.py
  tests/blockchain/eth/entities/deployers/test_user_escrow_deployer.py
  tests/characters/test_alice_can_grant_and_revoke.py
  tests/cli/test_deploy.py
  tests/cli/test_mixed_configurations.py
  tests/cli/ursula/test_blockchain_ursula.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/fixtures.py
  tests/metrics/estimate_gas.py
Labels: CLI, Ursula :woman_astronaut:

#1130 Deprecates "funding account" and account creation options
  nucypher/blockchain/eth/actors.py
  nucypher/cli/stake.py
  tests/blockchain/eth/entities/actors/test_stakeholder.py
  tests/cli/ursula/test_run_ursula.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/fixtures.py
Labels: CLI, UX, Ursula :woman_astronaut:

#1131 "Resume" and single-contract deployments via CLI.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/cli/deploy.py
  nucypher/cli/stake.py
  nucypher/crypto/powers.py
  tests/blockchain/eth/clients/test_mocked_clients.py
  tests/blockchain/eth/entities/actors/test_stakeholder.py
  tests/characters/test_crypto_characters_and_their_powers.py
  tests/crypto/test_powers.py
Labels: CLI, Enhancement

#1146 CLI Cleanup
  deploy/services/moe_monitor.j2
  deploy/services/ursula_node.j2
  dev/docker/8-federated-ursulas.yml
  docs/source/demos/local_fleet_demo.rst
  docs/source/guides/deployment_guide.rst
  docs/source/guides/federated_testnet_guide.rst
  docs/source/guides/installation_guide.md
  docs/source/guides/quickstart.md
  docs/source/guides/ursula_configuration_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/cli/actions.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/enrico.py
  nucypher/cli/characters/felix.py
  nucypher/cli/characters/moe.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/deploy.py
  nucypher/cli/painting.py
  nucypher/cli/stake.py
  nucypher/config/characters.py
  nucypher/crypto/powers.py
  scripts/circle/docker-compose.yml
  scripts/deploy_then_stake.sh
  scripts/local_fleet/run_local_fleet.sh
  scripts/local_fleet/run_local_ursula_fleet.py
  scripts/local_fleet/run_single_ursula.py
  tests/cli/test_alice.py
  tests/cli/test_cli_lifecycle.py
  tests/cli/test_deploy.py
  tests/cli/test_felix.py
  tests/cli/test_mixed_configurations.py
  tests/cli/test_moe.py
  tests/cli/ursula/test_federated_ursula.py
  tests/cli/ursula/test_run_ursula.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
Labels: Bug 🐞, CLI, Enhancement

#1170 UX: Add the ability to provide progress during NuCypher contract deployments
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/deployers.py
  nucypher/cli/deploy.py
  nucypher/cli/painting.py
  tests/blockchain/eth/entities/deployers/conftest.py
  tests/blockchain/eth/entities/deployers/test_adjudicator_deployer.py
  tests/blockchain/eth/entities/deployers/test_interdeployer_integration.py
  tests/blockchain/eth/entities/deployers/test_policy_manager_deployer.py
  tests/blockchain/eth/entities/deployers/test_staking_escrow_deployer.py
  tests/blockchain/eth/entities/deployers/test_token_deployer.py
  tests/blockchain/eth/entities/deployers/test_user_escrow_deployer.py
Labels: CLI, Staking, UX

#1177 Bump version: 0.1.0-alpha.23 → 0.1.0-alpha.24
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1123 [WIP] Adds static file service to all web server endpoints
  nucypher/characters/chaotic.py
  nucypher/characters/control/controllers.py
  nucypher/config/constants.py
  nucypher/keystore/keypairs.py
  nucypher/network/protocols.py
  nucypher/network/server.py
  tests/network/test_static_service.py
Labels: Network, Protocol, Web
