Repository nucypher/nucypher, pull requests merged in 2019-09, with the labels that each got.

#1283 Staking Process Relief
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/token.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/cli/characters/ursula.py
  nucypher/config/node.py
  nucypher/config/storages.py
  nucypher/crypto/powers.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/policy/policies.py
  nucypher/utilities/sandbox/ursula.py
  tests/blockchain/eth/entities/actors/conftest.py
  tests/blockchain/eth/entities/actors/test_staker.py
  tests/blockchain/eth/entities/actors/test_worker.py
  tests/characters/test_stakeholder.py
  tests/characters/test_ursula_prepares_to_act_as_mining_node.py
  tests/cli/test_mixed_configurations.py
  tests/cli/test_options.py
  tests/cli/ursula/test_run_ursula.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/config/test_storages.py
  tests/conftest.py
  tests/crypto/test_powers.py
  tests/learning/test_fault_tolerance.py
Labels: Bug 🐞, Ursula :woman_astronaut:

#1289 Bump version: 0.1.0-alpha.25 → 0.1.0-alpha.26
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1295 Resolve issues running local development fleet scripts/files
  docs/source/demos/local_fleet_demo.rst
  docs/source/guides/installation_guide.md
  nucypher/cli/config.py
  scripts/local_fleet/run_local_fleet.sh
Labels: Bug 🐞, Ursula :woman_astronaut:

#1055 Improving TokenEconomics for tests
  nucypher/blockchain/economics.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/token.py
  nucypher/blockchain/eth/utils.py
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/cli/characters/stake.py
  nucypher/cli/types.py
  nucypher/utilities/sandbox/blockchain.py
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/integration/test_contract_economics.py
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/adjudicator/conftest.py
  tests/blockchain/eth/contracts/main/adjudicator/test_adjudicator.py
  tests/blockchain/eth/contracts/main/staking_escrow/conftest.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/actors/test_investigator.py
  tests/blockchain/eth/entities/actors/test_staker.py
  tests/blockchain/eth/entities/agents/test_adjudicator_agent.py
  tests/blockchain/eth/entities/deployers/test_adjudicator_deployer.py
  tests/blockchain/eth/entities/deployers/test_deploy_preallocations.py
  tests/blockchain/eth/entities/deployers/test_economics.py
  tests/blockchain/eth/interfaces/test_token_and_stake.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/fixtures.py
  tests/metrics/estimate_gas.py
Labels: Economics 💵, Enhancement, Test 🔍

#1296 Relock Dependencies; Use Pip throughout CI
  .circleci/config.yml
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/sol/compile.py
  nucypher/utilities/sandbox/blockchain.py
  requirements.txt
  scripts/installation/install_solc.sh
  setup.py
  tests/blockchain/eth/clients/test_mocked_clients.py
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/lib/test_reencryption_validator.py
  tests/blockchain/eth/entities/actors/test_investigator.py
  tests/blockchain/eth/entities/agents/test_adjudicator_agent.py
  tests/blockchain/eth/entities/deployers/test_policy_manager_deployer.py
  tests/blockchain/eth/entities/deployers/test_staking_escrow_deployer.py
  tests/crypto/test_powers.py
  tests/fixtures.py
  tests/metrics/estimate_gas.py
Labels: Dependencies, circleci

#1284 Staking / Ursula guide update
  docs/source/guides/staking_guide.rst
  docs/source/guides/ursula_configuration_guide.rst
Labels: Documentation

#1310 Bump version: 0.1.0-alpha.26 → 0.1.0-alpha.27
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1157 Ownership Inspection and Transference
  nucypher/blockchain/economics.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/registry.py
  nucypher/cli/actions.py
  nucypher/cli/characters/stake.py
  nucypher/cli/deploy.py
  nucypher/cli/painting.py
  nucypher/cli/status.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/entities/agents/test_user_escrow_agent.py
  tests/blockchain/eth/entities/deployers/test_deploy_preallocations.py
  tests/blockchain/eth/entities/deployers/test_user_escrow_deployer.py
  tests/cli/test_deploy.py
  tests/cli/test_deploy_commands.py
  tests/fixtures.py
Labels: CLI, Enhancement

#1259 Add staker info tools to `nucypher status`
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/token.py
  nucypher/cli/characters/stake.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/painting.py
  nucypher/cli/status.py
  nucypher/network/nicknames/__init__.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_sampling_distribution.py
  tests/blockchain/eth/entities/actors/test_investigator.py
  tests/blockchain/eth/interfaces/test_token_and_stake.py
  tests/cli/test_status.py
  tests/fixtures.py
Labels: CLI, Enhancement

#1226 Project description.
  README.md
  docs/source/index.rst
Labels: Documentation

#1315 Bump version: 0.1.0-alpha.27 → 0.1.0-alpha.28
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1316 Moe/Ursula Status Page Widgets Cleanup
  nucypher/network/status/assets/stylesheet.css
  nucypher/network/status/status_page.py
Labels: UX, Ursula :woman_astronaut:, Web

#1328 Relock Dependencies
  .circleci/config.yml
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
  scripts/circle/compare_reqs.sh
  scripts/circle/rebuild_pipenv.sh
  scripts/installation/relock_dependencies.sh
Labels: Blocker, Dependencies

#1331 CLI lifecycle test didn't work. When it does, tests didn't pass
  tests/cli/test_cli_lifecycle.py
Labels: Bug 🐞

#1334 Fixes #1333
  nucypher/blockchain/eth/actors.py
  nucypher/cli/characters/ursula.py
Labels: Blocker, Bug 🐞

#1317 Transition from pytest-dash to dash[testing] for dash UI Testing
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  pytest.ini
  requirements.txt
  tests/conftest.py
  tests/markers.py
  tests/network/status/test_ursula_status.py
Labels: Enhancement, Test 🔍, Ursula :woman_astronaut:

#1314 Upgradable and Ownable Deployer Mixins
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/deployers.py
  tests/blockchain/eth/contracts/main/adjudicator/conftest.py
  tests/blockchain/eth/entities/deployers/test_adjudicator_deployer.py
  tests/blockchain/eth/entities/deployers/test_interdeployer_integration.py
Labels: API, Contract Administrator, Enhancement

#1339 Restaking Control
  docs/source/guides/staking_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/registry.py
  nucypher/cli/actions.py
  nucypher/cli/characters/stake.py
  nucypher/cli/painting.py
  tests/blockchain/eth/entities/actors/test_staker.py
  tests/blockchain/eth/entities/agents/test_staking_escrow_agent.py
  tests/cli/test_deploy_commands.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
Labels: API, CLI, Staking

#1350 Update dependency locks
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Blocker, Dependencies

#1356 Relock dependencies
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Blocker, Dependencies

#1318 Contracts tests time optimization
  nucypher/utilities/sandbox/blockchain.py
  tests/blockchain/eth/interfaces/test_chains.py
  tests/fixtures.py
Labels: Test 🔍

#1344 Bare Deployment and Retargeting Workflow
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/cli/actions.py
  nucypher/cli/deploy.py
  nucypher/cli/painting.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/blockchain/eth/entities/deployers/test_staking_escrow_deployer.py
  tests/cli/conftest.py
  tests/cli/test_cli_lifecycle.py
  tests/cli/test_deploy.py
  tests/cli/test_deploy_commands.py
  tests/cli/test_felix.py
  tests/cli/test_mixed_configurations.py
  tests/cli/test_status.py
  tests/cli/ursula/test_run_ursula.py
Labels: CLI, Contract Administrator, Enhancement
