Repository nucypher/nucypher, pull requests merged in 2019-11, with the labels that each got.

#1313 Moe self-signed certificate for HTTPS + WSS
  nucypher/characters/chaotic.py
  nucypher/cli/characters/moe.py
  nucypher/crypto/api.py
  nucypher/keystore/keypairs.py
  nucypher/network/status_app/moe.py
  nucypher/network/status_app/templates/moe.html
Labels: Mo, Security, Web

#1445 Ensure tls websocket is subscribed to state and node events
  nucypher/characters/chaotic.py
  nucypher/cli/characters/moe.py
  nucypher/network/status_app/moe.py
Labels: Mo, Web

#1456 Pagination for `getAllActiveStakers` method
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/stake.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/status.py
  nucypher/config/characters.py
  nucypher/config/node.py
  nucypher/utilities/sandbox/blockchain.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/entities/agents/test_staking_escrow_agent.py
  tests/blockchain/eth/interfaces/test_chains.py
  tests/cli/test_status.py
Labels: ETH Contracts, Enhancement, performance

#1461 Separate network monitoring into `crawler` and `dashboard`
  nucypher/characters/banners.py
  nucypher/characters/base.py
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/cli/characters/enrico.py
  nucypher/cli/characters/moe.py
  nucypher/cli/main.py
  nucypher/cli/monitor.py
  nucypher/config/keyring.py
  nucypher/config/storages.py
  nucypher/crypto/api.py
  nucypher/keystore/keypairs.py
  nucypher/network/monitor/__init__.py
  nucypher/network/monitor/app.py
  nucypher/network/monitor/assets/bWLwgP.css
  nucypher/network/monitor/assets/favicon.ico
  nucypher/network/monitor/assets/nucypher_logo.png
  nucypher/network/monitor/assets/stylesheet.css
  nucypher/network/monitor/base.py
  nucypher/network/monitor/crawler.py
  nucypher/network/monitor/db.py
  nucypher/network/monitor/ursula.py
  nucypher/network/nodes.py
  nucypher/network/status_app/crawler.py
  nucypher/network/status_app/templates/moe.html
  nucypher/network/status_app/ursula.py
  scripts/local_fleet/run_local_ursula_fleet.py
  tests/cli/test_moe.py
  tests/config/test_storages.py
Labels: Mo, Web

#1467 Bump version: 1.1.0-beta.0 → 1.2.0-beta.1
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
  nucypher/characters/control/emitters.py
  nucypher/characters/lawful.py
  nucypher/cli/characters/alice.py
  nucypher/cli/config.py
  tests/cli/test_cli_lifecycle.py
  tests/cli/ursula/test_run_ursula.py
Labels: Release Candidate

#1476 Python 3.8 Support
  .circleci/config.yml
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/utilities/sandbox/ursula.py
  requirements.txt
  setup.py
  tests/blockchain/eth/entities/actors/test_staker.py
  tests/fixtures.py
Labels: Dependencies
