Repository nucypher/nucypher, pull requests merged in 2019-03, with the labels that each got.

#802 Character Controllers and Emitters (I/O)
  .circleci/config.yml
  Pipfile
  examples/finnegans_wake_demo/finnegans-wake-demo.py
  examples/heartbeat_demo/alicia.py
  nucypher/characters/banners.py
  nucypher/characters/base.py
  nucypher/characters/chaotic.py
  nucypher/characters/control/__init__.py
  nucypher/characters/control/controllers.py
  nucypher/characters/control/emitters.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/control/serializers.py
  nucypher/characters/control/specifications.py
  nucypher/characters/lawful.py
  nucypher/cli/actions.py
  nucypher/cli/alice.py
  nucypher/cli/bob.py
  nucypher/cli/characters/__init__.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/enrico.py
  nucypher/cli/characters/moe.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/config.py
  nucypher/cli/deploy.py
  nucypher/cli/enrico.py
  nucypher/cli/main.py
  nucypher/cli/moe.py
  nucypher/cli/painting.py
  nucypher/config/characters.py
  nucypher/config/constants.py
  nucypher/config/keyring.py
  nucypher/config/node.py
  nucypher/config/storages.py
  nucypher/data_sources.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/policy/models.py
  nucypher/utilities/logging.py
  nucypher/utilities/sandbox/constants.py
  scripts/demos/demo_endpoint_scratchpad.py
  scripts/demos/run_finnegans_wake_demo.sh
  scripts/demos/run_heartbeat_demo.sh
  scripts/hooks/validate_circleci_config.sh
  scripts/installation/install_solc.sh
  scripts/local_fleet/run_local_fleet.sh
  scripts/local_fleet/run_local_ursula_fleet.py
  scripts/local_fleet/run_lonely_ursula.py
  scripts/local_fleet/run_single_ursula.py
  tests/characters/test_character_control.py
  tests/cli/conftest.py
  tests/cli/test_alice.py
  tests/cli/test_cli_lifecycle.py
  tests/cli/ursula/test_federated_ursula.py
  tests/cli/ursula/test_run_ursula.py
  tests/config/test_storages.py
  tests/conftest.py
  tests/fixtures.py
Labels: CLI, Network

#819 Update Moe Provisioning and Networks.json
  deploy/ansible/moe/launch_moe.yml
  deploy/networks.json
  nucypher/characters/chaotic.py
  nucypher/config/constants.py
Labels: Automation, Bug 🐞

#808 Explain NuCypher characters in the Heartbeat demo docs
  README.md
  docs/source/demos/heartbeat_demo.md
  docs/source/demos/heartbeat_demo.rst
  docs/source/index.rst
Labels: Documentation, Enhancement

#805 Deploy & Stake CLI, Blockchain Policy Integration
  dev-requirements.txt
  docs/source/guides/deployment_guide.rst
  docs/source/guides/staking_guide.rst
  docs/source/guides/ursula_configuration_guide.rst
  docs/source/index.rst
  examples/heartbeat_demo/alicia.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/chains.py
  nucypher/blockchain/eth/decorators.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/policies.py
  nucypher/blockchain/eth/utils.py
  nucypher/characters/banners.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/cli/actions.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/config.py
  nucypher/cli/deploy.py
  nucypher/cli/main.py
  nucypher/cli/painting.py
  nucypher/cli/processes.py
  nucypher/cli/types.py
  nucypher/config/characters.py
  nucypher/config/keyring.py
  nucypher/config/node.py
  nucypher/config/storages.py
  nucypher/crypto/powers.py
  nucypher/network/server.py
  nucypher/policy/models.py
  nucypher/utilities/logging.py
  nucypher/utilities/sandbox/blockchain.py
  nucypher/utilities/sandbox/constants.py
  nucypher/utilities/sandbox/ursula.py
  scripts/local_fleet/deploy_then_stake.sh
  scripts/local_fleet/run_local_ursula_fleet.py
  scripts/local_fleet/run_single_ursula.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/actors/test_miner.py
  tests/blockchain/eth/entities/agents/test_miner_escrow_agent.py
  tests/blockchain/eth/entities/agents/test_policy_manager_agent.py
  tests/characters/conftest.py
  tests/characters/test_bob_joins_policy_and_retrieves.py
  tests/cli/conftest.py
  tests/cli/test_deploy.py
  tests/cli/ursula/test_blockchain_ursula.py
  tests/cli/ursula/test_federated_ursula.py
  tests/cli/ursula/test_run_ursula.py
  tests/cli/ursula/test_stake.py
  tests/config/test_keyring.py
  tests/conftest.py
  tests/fixtures.py
  tests/learning/test_fault_tolerance.py
  tests/network/test_network_actors.py
Labels: CLI, Configuration, Enhancement

#374 Multi-signature contract with off-chain signing
  nucypher/blockchain/eth/sol/source/contracts/MultiSig.sol
  tests/blockchain/eth/contracts/base/test_multisig.py
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
Labels: ETH Contracts, Security

#782 Add postman collection and README for general workflow
  examples/postman/NuCypher.postman_collection.json
  examples/postman/README.md
  examples/postman/dev.postman_environment.json
Labels: Automation, Documentation, Enhancement

#830 Base Denominations Management
  docs/source/guides/deployment_guide.rst
  docs/source/guides/staking_guide.rst
  docs/source/guides/ursula_configuration_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/token.py
  nucypher/blockchain/eth/utils.py
  nucypher/cli/actions.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/painting.py
  nucypher/cli/types.py
  nucypher/config/node.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/actors/test_miner.py
  tests/blockchain/eth/entities/actors/test_policy_author.py
  tests/blockchain/eth/interfaces/test_token_and_stake.py
  tests/cli/conftest.py
  tests/cli/ursula/test_blockchain_ursula.py
  tests/fixtures.py
Labels: API, Configuration, Enhancement

#795 Add a revoke endpoint
  nucypher/characters/control/controllers.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/control/serializers.py
  nucypher/characters/control/specifications.py
  nucypher/characters/lawful.py
  nucypher/cli/characters/alice.py
  nucypher/crypto/kits.py
  nucypher/policy/models.py
  tests/characters/test_character_control.py
Labels: API

#806 Draft of docs for slashing
  .circleci/config.yml
  Pipfile
  docs/source/architecture/contracts.md
  docs/source/architecture/slashing.rst
  docs/source/conf.py
  docs/source/guides/contribution_guide.rst
  docs/source/index.rst
  setup.py
Labels: Documentation, Slashing

#812 Felix Distribution Mechanism
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/policies.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/token.py
  nucypher/characters/banners.py
  nucypher/characters/chaotic.py
  nucypher/characters/control/controllers.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/unlawful.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/felix.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/config.py
  nucypher/cli/deploy.py
  nucypher/cli/main.py
  nucypher/cli/painting.py
  nucypher/cli/templates/felix.html
  nucypher/config/characters.py
  nucypher/config/constants.py
  nucypher/config/keyring.py
  nucypher/config/node.py
  nucypher/config/storages.py
  nucypher/crypto/powers.py
  nucypher/keystore/db/models.py
  nucypher/network/server.py
  nucypher/utilities/logging.py
  requirements.txt
  tests/cli/test_deploy.py
  tests/cli/test_felix.py
  tests/conftest.py
Labels: Automation, CLI, Economics 💵, Enhancement, Ursula :woman_astronaut:

#890 Bump version: 0.1.0-alpha.20 → 0.1.0-alpha.21
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate
