Repository nucypher/nucypher, pull requests merged in 2020-01, with the labels that each got.

#1536 Improves Staking UX via CLI; Many Bug Fixes
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/token.py
  nucypher/cli/actions.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/stake.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/painting.py
  nucypher/config/base.py
  nucypher/config/node.py
  nucypher/utilities/logging.py
  tests/cli/ursula/test_federated_ursula.py
  tests/config/test_base_configuration.py
  tests/config/test_character_configuration.py
  tests/conftest.py
Labels: Bug 🐞, CLI

#1552 Modify allowed value range for divide cli prompt
  nucypher/cli/characters/stake.py
Labels: Bug 🐞, CLI

#1434 CLI options cleanup
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/control/emitters.py
  nucypher/cli/actions.py
  nucypher/cli/characters/alice.py
  nucypher/cli/characters/bob.py
  nucypher/cli/characters/enrico.py
  nucypher/cli/characters/felix.py
  nucypher/cli/characters/stake.py
  nucypher/cli/characters/ursula.py
  nucypher/cli/common_options.py
  nucypher/cli/config.py
  nucypher/cli/deploy.py
  nucypher/cli/status.py
  nucypher/config/node.py
  nucypher/utilities/logging.py
  tests/cli/test_help.py
  tests/cli/test_rpc_ipc_transport.py
  tests/cli/ursula/test_stake_via_allocation_contract.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/cli/ursula/test_ursula_command.py
  tests/conftest.py
Labels: CLI, Logging

#1459 Policy refactoring
  docs/source/architecture/contracts.md
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/utils.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/control/serializers.py
  nucypher/characters/control/specifications.py
  nucypher/characters/lawful.py
  nucypher/config/characters.py
  nucypher/policy/policies.py
  tests/blockchain/eth/contracts/contracts/PolicyManagerTestSet.sol
  tests/blockchain/eth/contracts/contracts/StakingContractsTestSet.sol
  tests/blockchain/eth/contracts/contracts/StakingEscrowTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager_operations.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking.py
  tests/blockchain/eth/entities/agents/test_policy_manager_agent.py
  tests/blockchain/eth/entities/agents/test_preallocation_escrow_agent.py
  tests/blockchain/eth/entities/agents/test_sampling_distribution.py
  tests/characters/control/blockchain/conftest.py
  tests/cli/ursula/test_stake_via_allocation_contract.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/fixtures.py
  tests/metrics/estimate_gas.py
Labels: Alice 👩, ETH Contracts, Enhancement

#1557 Incorrect recommendation for missing StakeholderConfiguration file
  nucypher/cli/actions.py
  nucypher/cli/characters/felix.py
  nucypher/cli/characters/stake.py
  tests/cli/test_alice.py
  tests/cli/test_bob.py
  tests/cli/test_felix.py
  tests/cli/ursula/test_run_ursula.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/config/test_character_configuration.py
Labels: Bug 🐞, CLI, Configuration

#1562 Removing PE from WorkLock
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  tests/blockchain/eth/contracts/contracts/WorkLockTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/worklock/test_worklock.py
Labels: ETH Contracts

#1544 Wind-down parameter
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  nucypher/cli/actions.py
  nucypher/cli/characters/stake.py
  nucypher/cli/painting.py
  tests/blockchain/eth/contracts/contracts/StakingContractsTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/staking_contracts/test_preallocation_escrow.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/blockchain/eth/entities/actors/test_staker.py
  tests/blockchain/eth/entities/agents/test_preallocation_escrow_agent.py
  tests/blockchain/eth/entities/agents/test_staking_escrow_agent.py
  tests/cli/ursula/test_stake_via_allocation_contract.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
Labels: ETH Contracts, Enhancement, Ursula :woman_astronaut:

#1565 Prolong Stake API; Slight Code Reorg
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/token.py
  nucypher/characters/chaotic.py
  nucypher/cli/commands/__init__.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/enrico.py
  nucypher/cli/commands/felix.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/status.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/config.py
  nucypher/cli/main.py
  nucypher/cli/options.py
  nucypher/cli/templates/felix.html
  setup.py
  tests/blockchain/eth/entities/agents/test_staking_escrow_agent.py
  tests/cli/test_deploy.py
  tests/cli/test_deploy_commands.py
  tests/cli/test_felix.py
  tests/cli/test_help.py
  tests/cli/test_status.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
Labels: API, CLI, Enhancement

#1576 Link "registry" domains to learning domains
  docs/source/guides/staking_guide.rst
  docs/source/guides/ursula_configuration_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/contract_registry/frances/contract_registry.json
  nucypher/blockchain/eth/contract_registry/miranda/contract_registry.json
  nucypher/blockchain/eth/contract_registry/miranda/individual_allocation_ABI.json
  nucypher/blockchain/eth/networks.py
  nucypher/blockchain/eth/registry.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/cli/actions.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/status.py
  nucypher/cli/commands/ursula.py
  nucypher/config/characters.py
  nucypher/config/node.py
  nucypher/network/nodes.py
  nucypher/network/teachers.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/interfaces/test_registry.py
  tests/characters/test_bob_handles_frags.py
  tests/characters/test_bob_joins_policy_and_retrieves.py
  tests/cli/test_alice.py
  tests/cli/test_cli_lifecycle.py
  tests/cli/ursula/test_stake_via_allocation_contract.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/config/test_character_configuration.py
  tests/fixtures.py
  tests/learning/test_discovery_phases.py
Labels: Blocker

#1573 Improve inter-guide reading experience; Staking Cleanup
  docs/source/guides/installation_guide.md
  docs/source/guides/staking_guide.rst
  docs/source/guides/ursula_configuration_guide.rst
Labels: Documentation

#1590 Bump version: 1.2.0-beta.2 → 2.0.0-beta.0
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1558 Sub-stakes description
  docs/source/architecture/slashing.rst
  docs/source/architecture/sub_stakes.rst
  docs/source/guides/staking_guide.rst
  docs/source/index.rst
  nucypher/cli/actions.py
Labels: Documentation

#1615 Node Maturation Fixes; Docker Documentation Correction; Improved Staking Overview; Ursula JSON status
  docs/source/guides/installation_guide.md
  docs/source/guides/staking_guide.rst
  docs/source/guides/ursula_configuration_guide.rst
  nucypher/cli/painting.py
  nucypher/network/nodes.py
  nucypher/network/server.py
Labels: Bug 🐞, Documentation, Ursula :woman_astronaut:

#1582 Felix Update and Staging
  nucypher/characters/chaotic.py
  nucypher/cli/commands/felix.py
  tests/cli/test_felix.py
Labels: Felix

#1617 [Release] Bump version: 2.0.0-beta.0 → 2.0.0-beta.1
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1635 [Release] Bump version: 2.0.0-beta.1 → 2.0.0-beta.2
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1631 Update installation_guide.md
  docs/source/guides/installation_guide.md
Labels: Documentation

#1550 Worklock API V3
  nucypher/blockchain/economics.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/token.py
  nucypher/characters/banners.py
  nucypher/characters/chaotic.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/felix.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/commands/worklock.py
  nucypher/cli/options.py
  nucypher/cli/painting.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/utilities/sandbox/blockchain.py
  nucypher/utilities/sandbox/middleware.py
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/staking_escrow/conftest.py
  tests/blockchain/eth/entities/actors/test_bidder.py
  tests/blockchain/eth/entities/agents/test_sampling_distribution.py
  tests/blockchain/eth/entities/agents/test_staking_escrow_agent.py
  tests/blockchain/eth/entities/agents/test_worklock_agent.py
  tests/blockchain/eth/entities/deployers/conftest.py
  tests/blockchain/eth/entities/deployers/test_policy_manager_deployer.py
  tests/blockchain/eth/entities/deployers/test_worklock_deployer.py
  tests/blockchain/eth/interfaces/test_token_and_stake.py
  tests/cli/test_deploy.py
  tests/cli/test_deploy_commands.py
  tests/cli/test_worklock_cli.py
  tests/fixtures.py
Labels: API, CLI, Economics 💵
