Repository nucypher/nucypher, pull requests merged in 2020-10, with the labels that each got.

#2321 Fixes #2316; CI timeout for deploy CLI tests
  nucypher/cli/commands/deploy.py
  tests/acceptance/cli/deploy/conftest.py
  tests/acceptance/cli/deploy/test_deploy_cli.py
  tests/acceptance/cli/deploy/test_deploy_cli_commands.py
  tests/acceptance/cli/deploy/test_deploy_cli_multisig
Labels: Bug 🐞, Test 🔍

#2326 Pytest-timeout configuration; Dependency relock
  .circleci/pytest.ini
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Configuration, Enhancement, Test 🔍

#2329 Bump circleci dependency cache version
  .circleci/config.yml
Labels: CircleCI

#2322 Use stateless getLogs() rpc instead of event filters across codebase
  nucypher/blockchain/eth/events.py
  nucypher/cli/commands/stake.py
  nucypher/utilities/prometheus/collector.py
  tests/unit/test_blockchain_events.py
Labels: CLI, Ursula :woman_astronaut:

#2333 Link to p2p validator dashboard from prometheus endpoint docs.
  docs/source/.static/img/p2p_validator_dashboard.png
  docs/source/guides/network_node/ursula_configuration_guide.rst
Labels: Documentation, Ursula :woman_astronaut:

#2339 Ensure that testnet flag is set correctly for deployer
  nucypher/cli/commands/deploy.py
  tests/acceptance/cli/deploy/test_deploy_cli.py
Labels: CLI

#2080 Automated cloud deployment for all!
  deploy/ansible/worker/include/check_running_ursula.yml
  deploy/ansible/worker/include/init_ursula.yml
  deploy/ansible/worker/include/init_worker.yml
  deploy/ansible/worker/include/run_geth.yml
  deploy/ansible/worker/include/run_ursula.yml
  deploy/ansible/worker/include/stop_containers.yml
  deploy/ansible/worker/include/update_existing_ursula.yml
  deploy/ansible/worker/setup_remote_workers.yml
  deploy/ansible/worker/stop_remote_workers.yml
  docs/source/guides/network_node/network_node.rst
  docs/source/guides/network_node/nucypher_host_management_cli.rst
  nucypher/blockchain/eth/actors.py
  nucypher/cli/commands/cloudworkers.py
  nucypher/cli/main.py
  nucypher/cli/painting/staking.py
  nucypher/config/characters.py
  nucypher/config/node.py
  nucypher/utilities/clouddeploy.py
  nucypher/utilities/templates/cloud_deploy_ansible_inventory.j2
Labels: Automation, Ursula :woman_astronaut:

#2343 Allow --from-unlocked flag to specify when only uncollected staking rewards and unlocked substakes are used for creating/increasing a stake.
  nucypher/blockchain/eth/actors.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  tests/integration/cli/test_stake_cli_functionality.py
Labels: CLI, Staking, UX

#2132 Integrate Treasure Map storage into the Datastore
  nucypher/blockchain/eth/agents.py
  nucypher/characters/base.py
  nucypher/characters/control/specifications/fields/treasuremap.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/crypto/constants.py
  nucypher/datastore/models.py
  nucypher/network/middleware.py
  nucypher/network/server.py
  nucypher/policy/collections.py
  nucypher/policy/policies.py
  tests/acceptance/characters/test_decentralized_grant.py
  tests/acceptance/characters/test_freerider_attacks.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
  tests/integration/learning/test_discovery_phases.py
  tests/integration/network/test_federated_actors.py
  tests/integration/network/test_treasure_map_integration.py
  tests/unit/datastore/test_datastore.py
  tests/unit/datastore/test_datastore_models.py
Labels: API, Data Storage, Ursula :woman_astronaut:

#2347 Nickname refactoring & changing nickname symbols to more common ones
  nucypher/acumen/nicknames.py
  nucypher/acumen/perception.py
  nucypher/blockchain/eth/actors.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/cli/painting/nodes.py
  nucypher/cli/painting/status.py
  nucypher/config/storages.py
  nucypher/network/nodes.py
  nucypher/network/templates/basic_status.j2
  nucypher/utilities/prometheus/collector.py
  tests/acceptance/characters/test_ursula_web_status.py
  tests/acceptance/network/test_network_actors.py
  tests/integration/learning/test_learning_upgrade.py
Labels: CLI, Web

#2204 One more time: `commitToNextPeriod` gas optimizations
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/sol/__conf__.py
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  tests/contracts/contracts/PolicyManagerTestSet.sol
  tests/contracts/contracts/StakingEscrowTestSet.sol
  tests/contracts/integration/test_intercontract_integration.py
  tests/contracts/main/policy_manager/test_policy_manager.py
  tests/contracts/main/policy_manager/test_policy_manager_operations.py
  tests/contracts/main/staking_escrow/test_staking.py
  tests/contracts/main/staking_escrow/test_staking_escrow.py
Labels: ETH Contracts

#2351 Even nicer status page
  MANIFEST.in
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/acumen/perception.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/network/templates/basic_status.j2
  nucypher/network/templates/basic_status.mako
  nucypher/utilities/clouddeploy.py
  nucypher/utilities/templates/cloud_deploy_ansible_inventory.j2
  nucypher/utilities/templates/cloud_deploy_ansible_inventory.mako
  requirements.txt
Labels: Web

#2381 Bring docs-requirements versions in sync with requirements
  docs-requirements.txt
Labels: Documentation

#2376 Be cool prometheus...just be cool
  docs/source/guides/network_node/ursula_configuration_guide.rst
  nucypher/cli/commands/ursula.py
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/prometheus/metrics.py
  tests/unit/test_prometheus.py
Labels: Configuration, Ursula :woman_astronaut:

#2378 Status page fixes
  nucypher/acumen/perception.py
  nucypher/network/nodes.py
  nucypher/network/templates/basic_status.mako
Labels: Web

#2382 Check for inconsistent dependencies on docs build
  .circleci/config.yml
Labels: CircleCI

#2377 Actually allow minimum stake of 15,000 NU
  nucypher/cli/commands/stake.py
  tests/integration/cli/test_stake_cli_functionality.py
Labels: Bug 🐞, Staking, Ursula :woman_astronaut:

#2389 Track pending commitment transactions in WorkTracker
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/token.py
  nucypher/network/nodes.py
  nucypher/utilities/datafeeds.py
  nucypher/utilities/gas_strategies.py
  tests/acceptance/blockchain/actors/test_worker.py
  tests/fixtures.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
  tests/integration/conftest.py
  tests/mock/agents.py
  tests/unit/test_blockchain_interface.py
  tests/unit/test_datafeeds.py
  tests/utils/blockchain.py
Labels: Bug 🐞, Ursula :woman_astronaut:

#2384 Method to remove unused sub-stakes in StakingEscrow
  docs/source/guides/network_node/staking_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/contracts/main/staking_escrow/test_staking_escrow_additional.py
Labels: CLI, ETH Contracts

#2396 Simple GitHub action to ensure release note entry included in PRs into main.
  .github/workflows/pr_release_note_entry.yml
  newsfragments/2396.feature.rst
Labels: Code Quality 🔧, Documentation
