Repository nucypher/nucypher, pull requests merged in 2020-07, with the labels that each got.

#2117 Some fixes for `stake` commands
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/token.py
  nucypher/cli/actions/select.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/cli/painting/staking.py
  tests/acceptance/blockchain/interfaces/test_token_and_stake.py
  tests/acceptance/characters/test_stakeholder.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/integration/blockchain/test_token_and_stake.py
  tests/integration/cli/actions/test_select_client_account.py
  tests/integration/cli/actions/test_select_client_account_for_staking.py
  tests/integration/cli/actions/test_select_stake.py
  tests/integration/cli/test_stake_cli_functionality.py
Labels: CLI, Staking, Test 🔍, UX

#2121 Update WorkLock terminology
  docs/source/architecture/worklock.rst
  docs/source/guides/worklock_guide.rst
  nucypher/cli/commands/worklock.py
  nucypher/cli/literature.py
  nucypher/cli/painting/worklock.py
  tests/acceptance/cli/test_worklock_cli.py
  tests/integration/cli/test_worklock_cli_functionality.py
Labels: Naming stuff

#2128 Fixes for the rest of the CLI tests on Treasure Island.
  nucypher/characters/base.py
  nucypher/characters/chaotic.py
  nucypher/characters/control/controllers.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/utils.py
  nucypher/config/node.py
  nucypher/network/nodes.py
  tests/acceptance/characters/control/test_rpc_control_blockchain.py
  tests/acceptance/cli/lifecycle.py
  tests/acceptance/cli/test_decentralized_cli_lifecycle.py
  tests/acceptance/cli/test_federated_cli_lifecycle.py
  tests/acceptance/cli/test_felix.py
  tests/acceptance/cli/ursula/test_run_ursula.py
  tests/acceptance/cli/ursula/test_stake_via_allocation_contract.py
  tests/fixtures.py
  tests/integration/learning/test_discovery_phases.py
  tests/integration/learning/test_learning_upgrade.py
  tests/mock/performance_mocks.py
  tests/utils/middleware.py
Labels: CLI, Test 🔍

#2135 Ensure Prometheus metric for CommitmentMade is correctly updated on startup
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/prometheus/metrics.py
Labels: Automation, Bug 🐞, Ursula :woman_astronaut:

#2143 "Tone down" node operator agreement language - Closes #2047.
  nucypher/cli/literature.py
Labels: CLI, Help Wanted, UX

#2161 Fix bug in `StakingEscrow.mergeStake()` when using same index twice
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  tests/contracts/main/staking_escrow/test_staking_escrow.py
Labels: Bug 🐞, ETH Contracts

#2142 Command to increase stake and small refactoring for `Stake` class
  docs/source/guides/network_node/staking_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/token.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/cli/painting/staking.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/blockchain/interfaces/test_token_and_stake.py
  tests/acceptance/characters/test_stakeholder.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/integration/blockchain/test_token_and_stake.py
  tests/integration/cli/test_stake_cli_functionality.py
  tests/integration/conftest.py
Labels: CLI, Enhancement, Staking, Test 🔍
