Repository nucypher/nucypher, pull requests merged in 2020-03, with the labels that each got.

#1761 Bump version: 2.0.0-beta.7 → 2.0.0-beta.8 and Small touch up to docs.
  .bumpversion.cfg
  docs/source/conf.py
  docs/source/guides/contribution_guide.rst
  nucypher/__about__.py
Labels: Release Candidate

#1767 Fixes #1786 - Allow eager POA injection during interactive account selection
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/control/emitters.py
  nucypher/cli/actions.py
  nucypher/cli/commands/worklock.py
Labels: Bug 🐞

#1773 🐳 Worklock updates (option 4)
  nucypher/blockchain/economics.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/contract_registry/frances/contract_registry.json
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/worklock.py
  nucypher/cli/painting.py
  tests/blockchain/eth/contracts/contracts/StakingEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/WorkLockTestSet.sol
  tests/blockchain/eth/contracts/integration/test_contract_economics.py
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/contracts/main/worklock/test_worklock.py
  tests/blockchain/eth/entities/actors/test_bidder.py
  tests/blockchain/eth/entities/agents/test_worklock_agent.py
  tests/blockchain/eth/entities/deployers/test_worklock_deployer.py
  tests/cli/test_worklock_cli.py
  tests/fixtures.py
Labels: ETH Contracts, Economics 💵, Enhancement

#1779 Bump version: 2.0.0-beta.8 → 2.0.0-beta.9
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1794 Bump version: 2.0.0-beta.9 → 2.0.0-beta.10
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1803 Forbid a refund before claiming tokens in WorkLock
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  tests/blockchain/eth/contracts/main/worklock/test_worklock.py
Labels: Bug 🐞, ETH Contracts

#1804 Bump version: 2.0.0-beta.10 → 2.0.0-beta.11
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1664 Extract Signing Clients (Web3 and Clef)
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/decorators.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/signers.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/cli/actions.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/commands/worklock.py
  nucypher/cli/options.py
  nucypher/config/characters.py
  nucypher/config/node.py
  nucypher/crypto/powers.py
  tests/blockchain/eth/clients/test_mocked_clients.py
  tests/characters/test_crypto_characters_and_their_powers.py
  tests/crypto/test_transacting_power.py
  tests/fixtures.py
Labels: Enhancement, UX

#1781 Documentation - Update FAQ support
  docs/source/support/faq.rst
Labels: Documentation, Enhancement

#1785 Manual shutdown for worklock
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  tests/blockchain/eth/contracts/main/worklock/test_worklock.py
Labels: ETH Contracts, Enhancement

#1764 StakingEscrow pre-allocations
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/entities/deployers/test_deploy_idle_network.py
  tests/metrics/estimate_gas.py
Labels: ETH Contracts, Enhancement

#1462 Self-Availability Checks; Ursula Rescheduling
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/token.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/painting.py
  nucypher/config/characters.py
  nucypher/network/middleware.py
  nucypher/network/protocols.py
  nucypher/network/sensors.py
  nucypher/network/server.py
  scripts/circle/docker-compose.yml
  scripts/circle/logOutput.sh
  tests/characters/test_bob_joins_policy_and_retrieves.py
  tests/conftest.py
  tests/fixtures.py
  tests/network/test_availability.py
Labels: Enhancement, Network, Ursula :woman_astronaut:

#1806 Documentation/FAQ Edits
  docs/source/architecture/character.rst
  docs/source/architecture/sub_stakes.rst
  docs/source/guides/development/character_control_guide.rst
  docs/source/guides/development/development.rst
  docs/source/guides/network_node/network_node.rst
  docs/source/guides/network_node/staking_guide.rst
  docs/source/guides/network_node/ursula_configuration_guide.rst
  docs/source/guides/worklock_guide.rst
  docs/source/index.rst
  docs/source/support/faq.rst
  docs/source/support/troubleshooting.rst
Labels: Documentation, Enhancement
