Repository nucypher/nucypher, pull requests merged in 2020-11, with the labels that each got.

#2415 Update newsfragment documentation
  newsfragments/2415.misc.rst
  newsfragments/README.md
Labels: Documentation

#2402 Enroll bare deployment of StakingEscrow 5.5.1
  newsfragments/2402.misc.rst
  nucypher/blockchain/eth/contract_registry/mainnet/contract_registry.json
Labels: Changes in Registry

#2346 Documentation for signing with hardware wallets
  docs/source/guides/ethereum_node.rst
Labels: Documentation

#2432 Retro-actively update release notes for prior nucypher versions - starting with mainnet launch
  docs/source/release_notes/releases.rst
Labels: Documentation

#2436 Add newsfragment for PR #2346.
  newsfragments/2346.doc.rst
Labels: Documentation

#2446 Help command displaying default config and log paths
  docs/source/guides/network_node/ursula_configuration_guide.rst
  docs/source/support/faq.rst
  newsfragments/2446.misc.rst
  nucypher/cli/main.py
  nucypher/cli/painting/help.py
  tests/acceptance/cli/deploy/test_deploy_cli.py
  tests/unit/cli/test_help.py
Labels: CLI
