Repository nucypher/nucypher, pull requests merged in 2020-09, with the labels that each got.

#2217 Slight mention of local signers and clef in the worklock CLI guide
  docs/source/guides/worklock_guide.rst
Labels: Documentation

#2213 Relock Dependencies
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

#2223 Updates to WorkLock documentation
  docs/source/architecture/worklock.rst
  docs/source/guides/development/cli_guide.rst
  docs/source/guides/development/getting_started.rst
  docs/source/guides/ethereum_node.rst
  docs/source/guides/network_node/staking_guide.rst
  docs/source/guides/network_node/ursula_configuration_guide.rst
  docs/source/guides/worklock_guide.rst
  docs/source/support/faq.rst
  docs/source/support/troubleshooting.rst
Labels: Documentation

#2229 Include etherscan links and contract addresses in registry readme
  nucypher/blockchain/eth/contract_registry/mainnet/README.md
Labels: Documentation

#1811 First iteration of pooling contract
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PoolingStakingContract.sol
  nucypher/blockchain/eth/sol/source/zeppelin/ownership/Ownable.sol
  tests/contracts/main/staking_contracts/conftest.py
  tests/contracts/main/staking_contracts/test_pooling_contract.py
Labels: ETH Contracts

#2212 new static files service for Web Servers supported by latest hendrix version
  Pipfile
  Pipfile.lock
  nucypher/characters/chaotic.py
  nucypher/characters/control/controllers.py
  nucypher/datastore/keypairs.py
  nucypher/network/resources.py
  tests/acceptance/network/test_static_files.py
Labels: Web

#2237 Add geth version requirements to clef documentation
  docs/source/guides/ethereum_node.rst
Labels: Documentation

#2211 Stake command to control snapshots flag
  docs/source/guides/network_node/staking_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/cli/actions/confirm.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/cli/painting/staking.py
  nucypher/cli/painting/status.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/constants.py
Labels: Staking

#2119 Initial integration of Aragon ecosystem with NuCypher
  MANIFEST.in
  nucypher/blockchain/eth/__init__.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/aragon.py
  nucypher/blockchain/eth/aragon_artifacts/Agent.json
  nucypher/blockchain/eth/aragon_artifacts/TokenManager.json
  nucypher/blockchain/eth/aragon_artifacts/Voting.json
  nucypher/blockchain/eth/aragon_artifacts/VotingAggregator.json
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/contract_registry/ibex/dao_registry.json
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/networks.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/sol/source/contracts/dao/IForwarder.sol
  nucypher/blockchain/eth/sol/source/contracts/dao/TokenManager.sol
  nucypher/blockchain/eth/sol/source/contracts/dao/Voting.sol
  nucypher/cli/commands/dao.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/worklock.py
  nucypher/cli/main.py
  nucypher/cli/options.py
  tests/acceptance/blockchain/agents/test_aragon_agents.py
  tests/contracts/contracts/AragonTestSet.sol
  tests/fixtures.py
  tests/unit/test_aragon.py
Labels: DAO

#2231 [BlueOyster] Single-domain learning
  examples/finnegans_wake_demo/finnegans-wake-demo.py
  examples/heartbeat_demo/alicia.py
  examples/heartbeat_demo/doctor.py
  examples/run_demo_ursula_fleet.py
  nucypher/blockchain/eth/actors.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/felix.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/literature.py
  nucypher/cli/options.py
  nucypher/config/characters.py
  nucypher/config/node.py
  nucypher/crypto/constants.py
  nucypher/crypto/keypairs.py
  nucypher/crypto/powers.py
  nucypher/network/__init__.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/policy/collections.py
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/seednodes.py
  tests/acceptance/cli/test_alice.py
  tests/acceptance/cli/test_bob.py
  tests/acceptance/cli/ursula/test_stake_via_allocation_contract.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/fixtures.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
  tests/integration/characters/test_ursula_startup.py
  tests/integration/cli/actions/test_select_client_account_for_staking.py
  tests/integration/cli/test_stake_cli_functionality.py
  tests/integration/config/test_character_configuration.py
  tests/integration/config/test_storages.py
  tests/integration/learning/test_domains.py
  tests/integration/learning/test_firstula_circumstances.py
  tests/integration/learning/test_learning_upgrade.py
  tests/integration/learning/test_learning_versions.py
  tests/integration/network/test_treasure_map_integration.py
  tests/mock/performance_mocks.py
  tests/unit/characters/test_character_serialization.py
  tests/unit/characters/test_character_sign_and_verify.py
  tests/unit/crypto/test_coordinates_serialization.py
  tests/unit/crypto/test_keccak_sanity.py
  tests/unit/crypto/test_keypairs.py
  tests/unit/crypto/test_umbral_signatures.py
  tests/unit/datastore/test_datastore.py
  tests/utils/config.py
Labels: BlueOyster🍄, Ursula :woman_astronaut:

#2251 Don't run availability checks by default
  nucypher/characters/lawful.py
  nucypher/config/characters.py
Labels: Network, Ursula :woman_astronaut:

#2245 Batch/Throttle events filter results 1000 (default) blocks at a time for CommitmentMade prometheus metrics collector
  nucypher/blockchain/eth/events.py
  nucypher/blockchain/eth/utils.py
  nucypher/cli/commands/status.py
  nucypher/cli/commands/ursula.py
  nucypher/config/constants.py
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/prometheus/metrics.py
  tests/acceptance/cli/ursula/test_run_ursula.py
  tests/unit/test_blockchain_utils.py
  tests/unit/test_prometheus.py
Labels: Oily Rags 🛢️, UX, Ursula :woman_astronaut:

#2253 Provide periodic feedback to user about still waiting for bonding and funding
  nucypher/blockchain/eth/actors.py
  tests/acceptance/cli/test_mixed_configurations.py
  tests/acceptance/cli/ursula/test_run_ursula.py
Labels: UX, Ursula :woman_astronaut:

#2259 Fix broken docs build due to dependencies
  docs-requirements.txt
Labels: Documentation

#2258 Remove force re-stake lock
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/__conf__.py
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PoolingStakingContract.sol
  nucypher/cli/commands/deploy.py
  nucypher/cli/literature.py
  tests/acceptance/blockchain/actors/test_deployer.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/cli/test_deploy_commands.py
  tests/contracts/integration/test_intercontract_integration.py
  tests/contracts/main/staking_escrow/test_staking_escrow.py
  tests/metrics/estimate_gas.py
Labels: ETH Contracts, Staking

#2260 Equalize dependency versions with nucypher requirements.
  docs-requirements.txt
Labels: Documentation

#2256 Docs Update
  docs/source/demos/finnegans_wake_demo.rst
  docs/source/demos/heartbeat_demo.rst
  docs/source/demos/local_fleet_demo.rst
  docs/source/guides/ethereum_node.rst
  docs/source/guides/installation_guide.rst
  examples/finnegans_wake_demo/README.md
  examples/heartbeat_demo/heartbeat_demo.md
Labels: Documentation

#2267 StakingEscrow: enable wind down for claim from worklock
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  tests/contracts/integration/test_intercontract_integration.py
  tests/contracts/main/staking_escrow/test_staking_escrow.py
Labels: ETH Contracts, Staking

#2278 Commit without haste
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/decorators.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/token.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/processes.py
  tests/acceptance/blockchain/agents/test_policy_manager_agent.py
  tests/acceptance/blockchain/agents/test_preallocation_escrow_agent.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/cli/test_worklock_cli.py
  tests/acceptance/cli/ursula/test_local_keystore_integration.py
Labels: Bug 🐞, Oily Rags 🛢️, Ursula :woman_astronaut:

#2265 Improving restoration of store nodes metadata
  examples/run_demo_ursula_fleet.py
  nucypher/characters/base.py
  nucypher/config/storages.py
  nucypher/network/nodes.py
  tests/fixtures.py
  tests/integration/config/test_storages.py
  tests/integration/learning/test_domains.py
Labels: BlueOyster🍄

#2264 Export ursula_availability_score prometheus metric
  nucypher/utilities/prometheus/collector.py
Labels: Ursula :woman_astronaut:

#2279 Document operational requirements for Worker node.
  docs/source/guides/installation_guide.rst
  docs/source/guides/network_node/ursula_configuration_guide.rst
Labels: Documentation

#2276 Make sure datastores are not retained in tests
  nucypher/characters/lawful.py
  nucypher/network/server.py
  tests/conftest.py
  tests/fixtures.py
  tests/integration/conftest.py
  tests/integration/network/test_network_upgrade.py
  tests/mock/performance_mocks.py
Labels: Data Storage, Test 🔍, Ursula :woman_astronaut:

#2220 Trezorlib Transaction Signing
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/blockchain/eth/__init__.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/signers/__init__.py
  nucypher/blockchain/eth/signers/base.py
  nucypher/blockchain/eth/signers/hardware.py
  nucypher/blockchain/eth/signers/software.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/cli/actions/select.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/dao.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/multisig.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/commands/worklock.py
  nucypher/config/characters.py
  nucypher/config/node.py
  nucypher/crypto/powers.py
  requirements.txt
  tests/acceptance/blockchain/interfaces/test_solidity_compiler.py
  tests/acceptance/characters/test_transacting_power_acceptance.py
  tests/acceptance/cli/ursula/test_local_keystore_integration.py
  tests/fixtures.py
  tests/integration/blockchain/test_keystore_signer_filesystem_integration.py
  tests/integration/cli/actions/test_select_client_account.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/unit/test_web3_signers.py
Labels: API, Enhancement

#2304 Some contract updates
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  tests/contracts/contracts/StakingContractsTestSet.sol
  tests/contracts/integration/test_intercontract_integration.py
  tests/contracts/main/staking_contracts/test_staking_interface.py
  tests/contracts/main/staking_escrow/test_staking_escrow.py
  tests/contracts/main/staking_escrow/test_staking_escrow_additional.py
Labels: ETH Contracts

#2287 Add default retry functionality to EthereumClients
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/providers.py
  nucypher/blockchain/middleware/__init__.py
  nucypher/blockchain/middleware/retry.py
  tests/unit/test_web3_clients.py
  tests/unit/test_web3_middleware.py
Labels: Configuration, Network

#2315 Confirmations and pre-flight for upgrade CLI
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/registry.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/status.py
  nucypher/cli/literature.py
  nucypher/cli/options.py
  nucypher/cli/painting/deployment.py
  nucypher/cli/utils.py
  tests/acceptance/blockchain/deployers/test_policy_manager_deployer.py
  tests/acceptance/blockchain/deployers/test_preallocation_escrow_deployer.py
  tests/acceptance/blockchain/deployers/test_staking_escrow_deployer.py
  tests/acceptance/blockchain/interfaces/test_chains.py
  tests/acceptance/cli/test_deploy_cli.py
  tests/acceptance/cli/test_deploy_commands.py
  tests/contracts/test_contracts_upgradeability.py
Labels: CLI
