Repository nucypher/nucypher, pull requests merged in 2020-08, with the labels that each got.

#2166 Solidity -> 0.7.0
  nucypher/blockchain/eth/sol/__conf__.py
  nucypher/blockchain/eth/sol/source/aragon/interfaces/IERC900History.sol
  nucypher/blockchain/eth/sol/source/contracts/Adjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/MultiSig.sol
  nucypher/blockchain/eth/sol/source/contracts/NuCypherToken.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/AdditionalMath.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/Bits.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/ReEncryptionValidator.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/SignatureVerifier.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/Snapshot.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/UmbralDeserializer.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Dispatcher.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Upgradeable.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/AbstractStakingContract.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PreallocationEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  nucypher/blockchain/eth/sol/source/zeppelin/math/Math.sol
  nucypher/blockchain/eth/sol/source/zeppelin/math/SafeMath.sol
  nucypher/blockchain/eth/sol/source/zeppelin/ownership/Ownable.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/ERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/ERC20Detailed.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/IERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/SafeERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/utils/Address.sol
  tests/acceptance/blockchain/interfaces/contracts/multiversion/v1/VersionTest.sol
  tests/acceptance/blockchain/interfaces/contracts/multiversion/v2/VersionTest.sol
  tests/contracts/contracts/AdjudicatorTestSet.sol
  tests/contracts/contracts/IssuerTestSet.sol
  tests/contracts/contracts/LibTestSet.sol
  tests/contracts/contracts/PolicyManagerTestSet.sol
  tests/contracts/contracts/ReceiveApprovalMethodMock.sol
  tests/contracts/contracts/ReentrancyTest.sol
  tests/contracts/contracts/StakingContractsTestSet.sol
  tests/contracts/contracts/StakingEscrowTestSet.sol
  tests/contracts/contracts/WorkLockTestSet.sol
  tests/contracts/contracts/proxy/BadContracts.sol
  tests/contracts/contracts/proxy/ContractV1.sol
  tests/contracts/contracts/proxy/ContractV2.sol
  tests/contracts/contracts/proxy/ContractV3.sol
  tests/contracts/contracts/proxy/ContractV4.sol
  tests/contracts/contracts/proxy/Destroyable.sol
  tests/contracts/contracts/proxy/ReceiveFallbackTestSet.sol
Labels: ETH Contracts

#2099 Datastore Roundup
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/characters/chaotic.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/lawful.py
  nucypher/cli/painting/nodes.py
  nucypher/config/storages.py
  nucypher/datastore/base.py
  nucypher/datastore/datastore.py
  nucypher/datastore/db/__init__.py
  nucypher/datastore/db/models.py
  nucypher/datastore/deprecated.py
  nucypher/datastore/models.py
  nucypher/network/server.py
  nucypher/utilities/prometheus/collector.py
  requirements.txt
  tests/acceptance/characters/test_decentralized_grant.py
  tests/acceptance/characters/test_freerider_attacks.py
  tests/acceptance/cli/test_worklock_cli.py
  tests/acceptance/cli/ursula/test_stake_via_allocation_contract.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/constants.py
  tests/fixtures.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/integration/characters/test_federated_grant_and_revoke.py
  tests/integration/config/test_character_configuration.py
  tests/integration/config/test_keyring_integration.py
  tests/integration/config/test_storages.py
  tests/integration/conftest.py
  tests/integration/datastore/test_datastore.py
  tests/integration/learning/test_discovery_phases.py
  tests/integration/network/test_network_upgrade.py
  tests/mock/performance_mocks.py
  tests/unit/datastore/test_datastore.py
  tests/utils/ursula.py
Labels: Data Storage

#2158 `create`/`increase`: flag to use unlocked tokens, `merge` command in `stake`
  docs/source/guides/network_node/staking_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/token.py
  nucypher/cli/actions/select.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/integration/blockchain/test_token_and_stake.py
  tests/integration/cli/actions/test_select_stake.py
  tests/integration/cli/test_stake_cli_functionality.py
Labels: Enhancement, Staking

#2056 Simplify staker sampling
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/network/nodes.py
  nucypher/policy/policies.py
  tests/acceptance/blockchain/agents/test_policy_manager_agent.py
  tests/acceptance/blockchain/agents/test_sampling_distribution.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
Labels: Enhancement

#2159 Signer support for Felix.
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/chaotic.py
  nucypher/cli/commands/felix.py
  nucypher/config/characters.py
  nucypher/config/node.py
Labels: Enhancement, Felix

#2179 Service Fee (Pricing) documentation
  docs/source/architecture/service_fees.rst
  docs/source/index.rst
Labels: Documentation, Economics 💵, Protocol

#2170 Few more fixes for `staker`
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/multisig.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/token.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/status.py
  nucypher/cli/literature.py
  nucypher/cli/painting/staking.py
  nucypher/cli/painting/status.py
  nucypher/cli/processes.py
  tests/acceptance/blockchain/agents/test_contract_agency.py
  tests/acceptance/cli/test_status.py
  tests/acceptance/cli/ursula/test_stake_via_allocation_contract.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/integration/cli/test_stake_cli_functionality.py
  tests/unit/test_registry_basics.py
Labels: Staking

#2183 Random documentation improvements
  Makefile
  docs/source/guides/contribution_guide.rst
  docs/source/guides/installation_guide.rst
  nucypher/cli/literature.py
  scripts/circle/compare_reqs.sh
Labels: Documentation

#2073 (Optionally) Run Unit Tests as pre-push hook
  .circleci/config.yml
  .circleci/install_circle_cli.sh
  .circleci/pytest.ini
  .pre-commit-config.yaml
  Makefile
  Pipfile.lock
  dev-requirements.txt
  docs/source/guides/contribution_guide.rst
  docs/source/guides/environment_variables.rst
  pytest.ini
  requirements.txt
  scripts/hooks/run_unit_tests.sh
  tests/acceptance/blockchain/actors/test_deployer.py
  tests/acceptance/blockchain/actors/test_investigator.py
  tests/acceptance/blockchain/actors/test_multisig_actors.py
  tests/acceptance/blockchain/actors/test_policy_author.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/actors/test_worker.py
  tests/acceptance/blockchain/agents/test_adjudicator_agent.py
  tests/acceptance/blockchain/agents/test_policy_manager_agent.py
  tests/acceptance/blockchain/agents/test_preallocation_escrow_agent.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/blockchain/deployers/test_adjudicator_deployer.py
  tests/acceptance/blockchain/deployers/test_deploy_idle_network.py
  tests/acceptance/blockchain/deployers/test_deploy_preallocations.py
  tests/acceptance/blockchain/deployers/test_interdeployer_integration.py
  tests/acceptance/blockchain/deployers/test_multisig_deployer.py
  tests/acceptance/blockchain/deployers/test_preallocation_escrow_deployer.py
  tests/acceptance/network/test_network_actors.py
  tests/conftest.py
  tests/contracts/base/test_dispatcher.py
  tests/contracts/base/test_issuer.py
  tests/contracts/base/test_multisig.py
  tests/contracts/integration/test_intercontract_integration.py
  tests/contracts/lib/test_reencryption_validator.py
  tests/contracts/lib/test_signature_verifier.py
  tests/contracts/lib/test_snapshot.py
  tests/contracts/lib/test_umbral_deserializer.py
  tests/contracts/main/adjudicator/test_adjudicator.py
  tests/contracts/main/policy_manager/test_policy_manager.py
  tests/contracts/main/policy_manager/test_policy_manager_operations.py
  tests/contracts/main/staking_contracts/test_preallocation_escrow.py
  tests/contracts/main/staking_contracts/test_staking_interface.py
  tests/contracts/main/staking_contracts/test_staking_interface_router.py
  tests/contracts/main/staking_escrow/test_staking.py
  tests/contracts/main/staking_escrow/test_staking_escrow.py
  tests/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/contracts/main/token/test_token.py
  tests/contracts/main/worklock/test_worklock.py
  tests/contracts/test_contracts_upgradeability.py
  tests/integration/blockchain/test_keystore_signer_and_keyring.py
  tests/unit/test_blockchain_economics_model.py
Labels: Automation, Code Quality 🔧

#2193 Further reinforce hypothetical nature of WorkLock example scenarios
  docs/source/architecture/worklock.rst
Labels: Documentation

#2191 WorkLock: `restake` lock while claiming tokens
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  nucypher/cli/commands/deploy.py
  nucypher/cli/literature.py
  tests/acceptance/blockchain/actors/test_deployer.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/cli/test_deploy_commands.py
  tests/contracts/contracts/StakingEscrowTestSet.sol
  tests/contracts/contracts/WorkLockTestSet.sol
  tests/contracts/integration/test_intercontract_integration.py
  tests/contracts/main/staking_escrow/test_staking_escrow.py
  tests/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/metrics/estimate_gas.py
Labels: ETH Contracts

#2197 Modify WorkLock properties/values to be more closely related to actual limits
  docs/source/architecture/worklock.rst
Labels: Documentation

#2195 FAQ & Doc updates for stake delegation and mainnet worklock
  docs/source/.static/img/running_a_node_decision.svg
  docs/source/architecture/worklock.rst
  docs/source/guides/network_node/network_node.rst
  docs/source/support/faq.rst
Labels: Documentation, Oily Rags 🛢️

#2215 Update tests for worklock deployers with new default parameters
  tests/acceptance/blockchain/deployers/test_worklock_deployer.py
Labels: Test 🔍
