Repository nucypher/nucypher, pull requests merged in 2020-05, with the labels that each got.

#1922 Multi-account management for local keystore signers
  nucypher/blockchain/eth/__init__.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/signers.py
  nucypher/characters/lawful.py
  nucypher/config/node.py
  tests/blockchain/eth/clients/test_keystore_signer.py
  tests/cli/ursula/test_ursula_local_keystore_cli_integration.py
Labels: API, Enhancement

#1945 Shut the FAQ up!
  docs/source/glossary.rst
  docs/source/guides/development/cli_guide.rst
  docs/source/guides/development/getting_started.rst
  docs/source/guides/installation_guide.rst
  docs/source/guides/network_node/staking_guide.rst
  docs/source/guides/network_node/ursula_configuration_guide.rst
  docs/source/guides/worklock_guide.rst
  docs/source/index.rst
  docs/source/support/faq.rst
  docs/source/support/troubleshooting.rst
Labels: Documentation

#1948 Deprecate nucypher py-solc fork; Use py-solc-x
  .circleci/config.yml
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/blockchain/eth/sol/__conf__.py
  nucypher/blockchain/eth/sol/compile.py
  requirements.txt
  scripts/installation/install_solc.py
Labels: Dependencies

#1953 Fix for Autodoc build on ReadTheDocs
  Makefile
  docs/Makefile
  docs/source/conf.py
Labels: Documentation

#1958 `nucypher` module must be present to build APIs docs section
  readthedocs.yml
Labels: Documentation

#1964 Bug Fixes: WSS Provider, Keystore file Handling
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/signers.py
  tests/blockchain/eth/clients/test_keystore_signer.py
  tests/cli/ursula/test_ursula_local_keystore_cli_integration.py
  tests/fixtures.py
Labels: Bug 🐞

#1973 Fixes mixed configuration test inaccuracy
  tests/cli/conftest.py
  tests/cli/test_mixed_configurations.py
  tests/cli/ursula/test_ursula_local_keystore_cli_integration.py
Labels: Bug 🐞, CircleCI, Test 🔍

#1949 Fast (WorkLock) functional testing
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/providers.py
  nucypher/cli/commands/worklock.py
  nucypher/cli/painting.py
  nucypher/utilities/sandbox/blockchain.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/clients/test_geth_integration.py
  tests/cli/conftest.py
  tests/cli/functional/conftest.py
  tests/cli/functional/test_ursula_local_keystore_cli_functionality.py
  tests/cli/functional/test_worklock_cli_functionality.py
  tests/cli/ursula/test_local_keystore_integration.py
  tests/cli/ursula/test_stake_via_allocation_contract.py
  tests/conftest.py
  tests/fixtures.py
  tests/mock/agents.py
  tests/mock/interfaces.py
Labels: API, CLI, Test 🔍, not-premature

#1884 Two-phase issuance
  nucypher/blockchain/economics.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/contracts/IssuerTestSet.sol
  tests/blockchain/eth/contracts/contracts/StakingEscrowTestSet.sol
  tests/blockchain/eth/contracts/integration/test_contract_economics.py
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/staking_escrow/conftest.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/blockchain/eth/contracts/test_contracts_upgradeability.py
  tests/blockchain/eth/entities/agents/test_sampling_distribution.py
  tests/blockchain/eth/entities/deployers/test_economics.py
  tests/blockchain/eth/entities/deployers/test_staking_escrow_deployer.py
Labels: ETH Contracts, Economics 💵

#1990 Removal of 'min' from fee range & more informative/consistent comments
  docs/source/guides/network_node/staking_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  nucypher/cli/actions.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/multisig.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/status.py
  nucypher/cli/painting.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/actors/test_staker.py
  tests/blockchain/eth/entities/agents/test_policy_manager_agent.py
  tests/blockchain/eth/entities/deployers/test_policy_manager_deployer.py
  tests/cli/test_status.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/fixtures.py
Labels: ETH Contracts, Hard Fork, Naming stuff

#1991 Documentation of running ETH node and using clef
  docs/source/guides/development/cli_guide.rst
  docs/source/guides/development/getting_started.rst
  docs/source/guides/ethereum_node.rst
  docs/source/guides/network_node/staking_guide.rst
  docs/source/guides/network_node/ursula_configuration_guide.rst
  docs/source/guides/worklock_guide.rst
  docs/source/index.rst
  docs/source/support/faq.rst
Labels: Documentation, Enhancement

#1994 Clarify System Requirements
  docs/source/guides/installation_guide.rst
Labels: Documentation

#1951 Proposal: set slashing coefficients to almost zero
  nucypher/blockchain/economics.py
Labels: Economics 💵

#2013 Support for missing tests package
  nucypher/blockchain/eth/providers.py
  nucypher/characters/control/controllers.py
  nucypher/characters/unlawful.py
  nucypher/cli/options.py
  nucypher/exceptions.py
  scripts/local_fleet/run_single_ursula.py
  tests/test_package.py
Labels: Packaging

#2018 Fix up 3rd local keystore test case
  tests/blockchain/eth/signers/test_keystore_signer.py
  tests/cli/functional/conftest.py
  tests/cli/functional/test_ursula_local_keystore_cli_functionality.py
  tests/cli/functional/test_worklock_cli_functionality.py
  tests/cli/ursula/test_local_keystore_integration.py
Labels: Bug 🐞, Test 🔍

#2020 Relock dependencies
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

#2003 Test reproducing double CA bug and Fix 1/2 of (#2002)
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/token.py
  tests/blockchain/eth/entities/actors/test_worker.py
Labels: Bug 🐞, Ursula :woman_astronaut:

#2032 Check the actual boolean values instead of asserting a non-empty tuple
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
Labels: Bug 🐞, Test 🔍

#1998 Estimate number of bidders, functional test for enable-claiming
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/cli/commands/worklock.py
  nucypher/cli/literature.py
  tests/blockchain/eth/entities/agents/test_worklock_agent.py
  tests/cli/functional/conftest.py
  tests/cli/functional/test_worklock_cli_functionality.py
  tests/cli/test_worklock_cli.py
Labels: Enhancement, Test 🔍

#2026 Fix Codecov / CircleCI Integration
  .circleci/config.yml
Labels: CircleCI, Code Quality 🔧

#2042 Fix broken links in docs.
  docs/source/architecture/contracts.rst
  docs/source/guides/development/getting_started.rst
  docs/source/guides/installation_guide.rst
Labels: Documentation

#2049 Bugfixes to WorkLock command
  nucypher/blockchain/eth/actors.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/worklock.py
  nucypher/cli/literature.py
  nucypher/cli/painting/worklock.py
Labels: Bug 🐞, CLI

#2039 Small test fixes
  nucypher/config/node.py
  pytest.ini
  tests/cli/test_deploy_commands.py
  tests/fixtures.py
  tests/utils/blockchain.py
Labels: Enhancement, Test 🔍

#1931 Package management enhancements
  .circleci/config.yml
  .circleci/install_circle_cli.sh
  MANIFEST.in
  Makefile
  Pipfile
  Pipfile.lock
  deploy/docker/Dockerfile
  dev-requirements.txt
  docs-requirements.txt
  docs/Makefile
  mypy.ini
  newsfragments/.gitignore
  newsfragments/README.md
  newsfragments/validate_files.py
  nucypher/__about__.py
  nucypher/characters/unlawful.py
  pyproject.toml
  readthedocs.yml
  requirements.txt
  scripts/installation/relock_dependencies.sh
  scripts/release/test_package.py
  setup.cfg
  setup.py
  tests/acceptance/network/test_availability.py
  tox.ini
Labels: Automation, CircleCI, Configuration, Dependencies, Packaging

#2033 IO test fixtures change: mock stdin directly instead of `click` functions, use `capsys` for stdout
  tests/acceptance/cli/ursula/test_federated_ursula.py
  tests/acceptance/cli/ursula/test_run_ursula.py
  tests/constants.py
  tests/fixtures.py
  tests/integration/cli/actions/test_auth_actions.py
  tests/integration/cli/actions/test_config_actions.py
  tests/integration/cli/actions/test_confirm_actions.py
  tests/integration/cli/actions/test_select_client_account.py
  tests/integration/cli/actions/test_select_client_account_for_staking.py
  tests/integration/cli/actions/test_select_config_file.py
  tests/integration/cli/actions/test_select_network.py
  tests/integration/cli/actions/test_select_stake.py
  tests/integration/cli/test_worklock_cli_functionality.py
  tests/integration/config/test_character_configuration.py
  tests/integration/conftest.py
  tests/mock/io.py
Labels: Enhancement, Test 🔍

#1944 [EPIC] Kerabatsos - Documentation Before Mainnet
  Makefile
  docs/Makefile
  docs/source/architecture/contracts.rst
  docs/source/conf.py
  docs/source/glossary.rst
  docs/source/guides/development/cli_guide.rst
  docs/source/guides/development/getting_started.rst
  docs/source/guides/environment_variables.rst
  docs/source/guides/ethereum_node.rst
  docs/source/guides/installation_guide.rst
  docs/source/guides/network_node/staking_guide.rst
  docs/source/guides/network_node/ursula_configuration_guide.rst
  docs/source/guides/worklock_guide.rst
  docs/source/index.rst
  docs/source/support/faq.rst
  docs/source/support/troubleshooting.rst
  nucypher/blockchain/eth/signers.py
  readthedocs.yml
Labels: Documentation, Enhancement, Epic :book:

#1923 Feat/event metrics
  dev-requirements.txt
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/utilities/json_metrics_export.py
  nucypher/utilities/prometheus.py
  requirements.txt
  tests/prometheus/test_json_exporter.py
Labels: Enhancement, Ursula :woman_astronaut:
