Repository nucypher/nucypher, pull requests merged in 2020-06, with the labels that each got.

#2064 Small updates in contract docs
  docs/source/architecture/contracts.rst
Labels: Documentation

#2037 Typing for Contract Agents
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/decorators.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/events.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/sol/compile.py
  nucypher/characters/base.py
  nucypher/characters/control/specifications/exceptions.py
  nucypher/cli/commands/stake.py
  nucypher/cli/config.py
  nucypher/crypto/kits.py
  nucypher/crypto/splitters.py
  nucypher/network/nodes.py
  nucypher/types.py
  setup.py
  tests/acceptance/blockchain/agents/test_preallocation_escrow_agent.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/blockchain/agents/test_token_agent.py
  tests/acceptance/cli/test_deploy.py
Labels: Code Quality 🔧

#2076 Fixes duplicate apidoc build
  Makefile
  docs/source/conf.py
Labels: Automation, Bug 🐞, Documentation

#2077 Relock dependencies; Include hypothesis.
  .gitignore
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

#2082 [Hotfix] Fix ursula forget command
  nucypher/cli/commands/ursula.py
Labels: Bug 🐞, CLI, Naming stuff

#2079 SPDX license identifier in contracts
  nucypher/blockchain/eth/sol/__conf__.py
  nucypher/blockchain/eth/sol/source/aragon/interfaces/IERC900History.sol
  nucypher/blockchain/eth/sol/source/contracts/Adjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/MultiSig.sol
  nucypher/blockchain/eth/sol/source/contracts/NuCypherToken.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/AdditionalMath.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/Bits.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/ReEncryptionValidator.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/SignatureVerifier.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/Snapshot.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/UmbralDeserializer.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Dispatcher.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Upgradeable.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/AbstractStakingContract.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PreallocationEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  nucypher/blockchain/eth/sol/source/zeppelin/math/Math.sol
  nucypher/blockchain/eth/sol/source/zeppelin/math/SafeMath.sol
  nucypher/blockchain/eth/sol/source/zeppelin/ownership/Ownable.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/ERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/ERC20Detailed.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/IERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/SafeERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/utils/Address.sol
  tests/acceptance/blockchain/interfaces/contracts/multiversion/v1/VersionTest.sol
  tests/acceptance/blockchain/interfaces/contracts/multiversion/v2/VersionTest.sol
  tests/contracts/base/test_dispatcher.py
  tests/contracts/contracts/AdjudicatorTestSet.sol
  tests/contracts/contracts/IssuerTestSet.sol
  tests/contracts/contracts/LibTestSet.sol
  tests/contracts/contracts/PolicyManagerTestSet.sol
  tests/contracts/contracts/ReceiveApprovalMethodMock.sol
  tests/contracts/contracts/ReentrancyTest.sol
  tests/contracts/contracts/StakingContractsTestSet.sol
  tests/contracts/contracts/StakingEscrowTestSet.sol
  tests/contracts/contracts/WorkLockTestSet.sol
  tests/contracts/contracts/proxy/BadContracts.sol
  tests/contracts/contracts/proxy/ContractV1.sol
  tests/contracts/contracts/proxy/ContractV2.sol
  tests/contracts/contracts/proxy/ContractV3.sol
  tests/contracts/contracts/proxy/ContractV4.sol
  tests/contracts/contracts/proxy/Destroyable.sol
  tests/contracts/contracts/proxy/ReceiveFallbackTestSet.sol
Labels: ETH Contracts

#2075 `receive()` function in contracts
  nucypher/blockchain/eth/sol/source/contracts/MultiSig.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Dispatcher.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/AbstractStakingContract.sol
  tests/contracts/base/test_dispatcher.py
  tests/contracts/contracts/ReentrancyTest.sol
  tests/contracts/contracts/StakingContractsTestSet.sol
  tests/contracts/contracts/proxy/ReceiveFallbackTestSet.sol
Labels: ETH Contracts, Enhancement

#2072 Hide 'commit-next' from help messages
  nucypher/cli/commands/ursula.py
  nucypher/cli/processes.py
  tests/acceptance/cli/test_help.py
  tests/acceptance/cli/ursula/test_ursula_command.py
Labels: CLI, UX

#2086 Removes TestPyPI as part of CD workflow
  .circleci/config.yml
Labels: CircleCI, Packaging, Test 🔍

#2069 Initial Refactor of ursula prometheus metrics work from #1923
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/utilities/json_metrics_export.py
  nucypher/utilities/prometheus.py
  nucypher/utilities/prometheus/__init__.py
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/prometheus/metrics.py
  tests/integration/cli/actions/test_auth_actions.py
  tests/unit/test_prometheus.py
Labels: Automation, Enhancement, Ursula :woman_astronaut:

#2100 Ensure that prometheus imports are locally scoped
  nucypher/characters/lawful.py
  nucypher/cli/commands/ursula.py
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/prometheus/metrics.py
Labels: Automation, Ursula :woman_astronaut:

#2101 Correct usage of TxReceipt.data during grant
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/multisig.py
  tests/acceptance/blockchain/deployers/test_staking_escrow_deployer.py
Labels: Bug 🐞

#2025 Updates for staker in StakingEscrow
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  tests/contracts/contracts/StakingContractsTestSet.sol
  tests/contracts/contracts/StakingEscrowTestSet.sol
  tests/contracts/integration/test_intercontract_integration.py
  tests/contracts/main/staking_contracts/test_staking_interface.py
  tests/contracts/main/staking_escrow/conftest.py
  tests/contracts/main/staking_escrow/test_staking.py
  tests/contracts/main/staking_escrow/test_staking_escrow.py
  tests/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/metrics/estimate_gas.py
Labels: ETH Contracts, Enhancement, Staking

#2104 Variety of cleanup work related to docs/cli output for setting up staker and worker
  docs/source/guides/network_node/staking_guide.rst
  docs/source/guides/network_node/ursula_configuration_guide.rst
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/cli/painting/worklock.py
Labels: CLI, Documentation

#2097 `mint` command + minor updates for `collect-reward` in CLI
  docs/source/guides/network_node/staking_guide.rst
  docs/source/support/faq.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/types.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/integration/cli/test_stake_cli_functionality.py
  tests/integration/cli/test_worklock_cli_functionality.py
  tests/integration/conftest.py
  tests/mock/agents.py
Labels: CLI, Staking, Test 🔍
