Repository nucypher/nucypher, pull requests merged in 2020-04, with the labels that each got.

#1821 Update link to 2-phase economics document
  docs/source/index.rst
Labels: Documentation

#1788 Staking contracts updates
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/AbstractStakingContract.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PreallocationEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  tests/blockchain/eth/contracts/contracts/StakingContractsTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/staking_contracts/conftest.py
  tests/blockchain/eth/contracts/main/staking_contracts/test_preallocation_escrow.py
  tests/blockchain/eth/contracts/main/staking_contracts/test_staking_interface.py
  tests/blockchain/eth/contracts/main/staking_contracts/test_staking_interface_router.py
  tests/blockchain/eth/entities/agents/test_preallocation_escrow_agent.py
  tests/cli/ursula/test_stake_via_allocation_contract.py
Labels: ETH Contracts, Enhancement

#1819 Bug fixes for Ursula: availability sensor, cert/stamp verification, nicknames
  nucypher/blockchain/eth/actors.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/cli/actions.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/options.py
  nucypher/cli/painting.py
  nucypher/config/characters.py
  nucypher/config/node.py
  nucypher/config/storages.py
  nucypher/network/middleware.py
  nucypher/network/nicknames/__init__.py
  nucypher/network/nodes.py
  nucypher/network/sensors.py
  nucypher/network/server.py
Labels: Bug 🐞

#1824 Bump version: 2.0.0-beta.11 → 2.1.0-beta.1
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1831 Relock Deps
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Bug 🐞, Dependencies

#1825 Gemini ansible worker deploy tweaks
  deploy/ansible/worker/README.md
  deploy/ansible/worker/get_workers_status.yml
  deploy/ansible/worker/include/check_running_ursula.yml
  deploy/ansible/worker/include/init_ursula.yml
  deploy/ansible/worker/include/init_worker.yml
  deploy/ansible/worker/include/run_geth.yml
  deploy/ansible/worker/include/run_ursula.yml
  deploy/ansible/worker/include/setup_docker.yml
  deploy/ansible/worker/include/setup_user.yml
  deploy/ansible/worker/include/update_existing_ursula.yml
  deploy/ansible/worker/inventory.yml
  deploy/ansible/worker/setup_remote_workers.yml
  deploy/ansible/worker/update_remote_workers.yml
Labels: Automation, Ursula :woman_astronaut:

#1815 External signer documentation for staking CLI
  docs/source/guides/network_node/staking_guide.rst
Labels: CLI, Documentation

#1840 docs: remove <YOUR STAKER ADDRESS>
  docs/source/guides/network_node/ursula_configuration_guide.rst
Labels: Documentation

#1810 Update solidity to 0.6.x
  nucypher/blockchain/eth/sol/__conf__.py
  nucypher/blockchain/eth/sol/source/contracts/Adjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/MultiSig.sol
  nucypher/blockchain/eth/sol/source/contracts/NuCypherToken.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/Seeder.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/AdditionalMath.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/ReEncryptionValidator.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/SignatureVerifier.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/UmbralDeserializer.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Dispatcher.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Upgradeable.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/AbstractStakingContract.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PreallocationEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  nucypher/blockchain/eth/sol/source/zeppelin/math/Math.sol
  nucypher/blockchain/eth/sol/source/zeppelin/math/SafeMath.sol
  nucypher/blockchain/eth/sol/source/zeppelin/ownership/Ownable.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/ERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/ERC20Detailed.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/IERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/token/ERC20/SafeERC20.sol
  nucypher/blockchain/eth/sol/source/zeppelin/utils/Address.sol
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/contracts/AdjudicatorTestSet.sol
  tests/blockchain/eth/contracts/contracts/IssuerTestSet.sol
  tests/blockchain/eth/contracts/contracts/LibTestSet.sol
  tests/blockchain/eth/contracts/contracts/PolicyManagerTestSet.sol
  tests/blockchain/eth/contracts/contracts/ReceiveApprovalMethodMock.sol
  tests/blockchain/eth/contracts/contracts/ReentrancyTest.sol
  tests/blockchain/eth/contracts/contracts/StakingContractsTestSet.sol
  tests/blockchain/eth/contracts/contracts/StakingEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/WorkLockTestSet.sol
  tests/blockchain/eth/contracts/contracts/proxy/BadContracts.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV1.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV2.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV3.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV4.sol
  tests/blockchain/eth/contracts/contracts/proxy/Destroyable.sol
  tests/blockchain/eth/interfaces/contracts/multiversion/v1/VersionTest.sol
  tests/blockchain/eth/interfaces/contracts/multiversion/v2/VersionTest.sol
Labels: ETH Contracts

#1839 Availability sensor bug fixes and Improvements
  nucypher/blockchain/eth/actors.py
  nucypher/characters/lawful.py
  nucypher/cli/actions.py
  nucypher/cli/painting.py
  nucypher/cli/processes.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/network/trackers.py
  tests/cli/ursula/test_federated_ursula.py
  tests/conftest.py
  tests/network/test_availability.py
Labels: Bug 🐞

#1851 Bump version: 2.1.0-beta.1 → 2.1.0-beta.2
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1856 Enable docs to build with latest version of sphinx
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  docs/source/conf.py
  requirements.txt
Labels: Documentation

#1847 Fix failed examples tests on CI
  scripts/circle/run_finnegans_wake_demo_docker-circle.sh
  scripts/circle/run_heartbeat_demo_docker-circle.sh
Labels: Bug 🐞, Demos, circleci

#1850 Test ReEncryptionValidator library constants
  tests/blockchain/eth/contracts/contracts/LibTestSet.sol
  tests/blockchain/eth/contracts/lib/test_reencryption_validator.py
Labels: Test 🔍

#1853 Fix signing messages with Clef
  nucypher/blockchain/eth/signers.py
Labels: Bug 🐞, Ursula :woman_astronaut:

#1872 fix doctor.retrieve param in heartbeat_demo example
  examples/heartbeat_demo/doctor.py
Labels: Bug 🐞, Demos

#1865 Remove deployment secrets
  docs/source/guides/deployment_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/decorators.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/sol/source/contracts/proxy/Dispatcher.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Upgradeable.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/AbstractStakingContract.sol
  nucypher/cli/commands/deploy.py
  nucypher/utilities/sandbox/blockchain.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/clients/test_geth_integration.py
  tests/blockchain/eth/contracts/base/test_dispatcher.py
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/contracts/proxy/BadContracts.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV4.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/adjudicator/conftest.py
  tests/blockchain/eth/contracts/main/adjudicator/test_adjudicator.py
  tests/blockchain/eth/contracts/main/policy_manager/conftest.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager.py
  tests/blockchain/eth/contracts/main/staking_contracts/conftest.py
  tests/blockchain/eth/contracts/main/staking_contracts/test_staking_interface.py
  tests/blockchain/eth/contracts/main/staking_contracts/test_staking_interface_router.py
  tests/blockchain/eth/contracts/main/staking_escrow/conftest.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/blockchain/eth/contracts/test_contracts_upgradeability.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/deployers/conftest.py
  tests/blockchain/eth/entities/deployers/test_adjudicator_deployer.py
  tests/blockchain/eth/entities/deployers/test_deploy_idle_network.py
  tests/blockchain/eth/entities/deployers/test_interdeployer_integration.py
  tests/blockchain/eth/entities/deployers/test_policy_manager_deployer.py
  tests/blockchain/eth/entities/deployers/test_preallocation_escrow_deployer.py
  tests/blockchain/eth/entities/deployers/test_staking_escrow_deployer.py
  tests/blockchain/eth/entities/deployers/test_worklock_deployer.py
  tests/cli/conftest.py
  tests/cli/test_deploy.py
  tests/cli/test_deploy_commands.py
  tests/cli/test_felix.py
  tests/fixtures.py
Labels: Do Not Merge, Hard Fork

#1875 Immutable fields in contracts
  nucypher/blockchain/eth/sol/__conf__.py
  nucypher/blockchain/eth/sol/source/contracts/Adjudicator.sol
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/AbstractStakingContract.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PreallocationEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  tests/blockchain/eth/contracts/contracts/AdjudicatorTestSet.sol
  tests/blockchain/eth/contracts/contracts/IssuerTestSet.sol
  tests/blockchain/eth/contracts/contracts/PolicyManagerTestSet.sol
  tests/blockchain/eth/contracts/contracts/StakingContractsTestSet.sol
  tests/blockchain/eth/contracts/contracts/StakingEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/WorkLockTestSet.sol
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
Labels: ETH Contracts, Enhancement, Hard Fork

#1885 Pre-Worklock Bug Fixes / Enhancements
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/registry.py
  nucypher/blockchain/eth/signers.py
  nucypher/blockchain/eth/sol/source/contracts/Seeder.sol
  nucypher/characters/banners.py
  nucypher/cli/actions.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/felix.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/status.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/commands/worklock.py
  nucypher/cli/options.py
  nucypher/cli/painting.py
  nucypher/config/constants.py
  nucypher/utilities/sandbox/constants.py
  tests/blockchain/eth/clients/test_geth_integration.py
  tests/blockchain/eth/contracts/base/seeder/test_seeder.py
  tests/blockchain/eth/contracts/integration/test_contract_economics.py
  tests/blockchain/eth/entities/agents/test_sampling_distribution.py
  tests/blockchain/eth/entities/agents/test_staking_escrow_agent.py
  tests/cli/test_deploy.py
  tests/cli/test_deploy_commands.py
  tests/cli/test_multisig_cli.py
  tests/cli/test_status.py
  tests/cli/test_worklock_cli.py
  tests/cli/ursula/test_stake_via_allocation_contract.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
Labels: API, Bug 🐞, CLI, Enhancement

#1887 Add list of node-as-a-service providers
  docs/source/index.rst
  docs/source/support/faq.rst
  docs/source/support/node_providers.rst
Labels: Documentation, Enhancement

#1868 Even lazier node instantiation.
  Pipfile.lock
  dev-requirements.txt
  nucypher/cli/painting.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  requirements.txt
  tests/config/test_storages.py
  tests/learning/test_domains.py
Labels: Dependencies, Enhancement, not-premature

#1892 Documentation to incorporate WorkLock v4 updates
  docs/source/architecture/worklock.rst
  docs/source/guides/worklock_guide.rst
  docs/source/index.rst
  nucypher/blockchain/eth/agents.py
  nucypher/cli/painting.py
  tests/blockchain/eth/entities/agents/test_worklock_agent.py
Labels: Documentation, Enhancement, UX

#1925 Relock Deps (New ConstantSorrow Version)
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  requirements.txt
Labels: Dependencies

#1926 Extricate Documentation Requirements; Reconfigure RTD
  .circleci/config.yml
  .gitignore
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  docs/requirements.txt
  docs/source/conf.py
  readthedocs.yml
  requirements.txt
Labels: Automation, Dependencies, Documentation, Packaging, circleci

#1927 Deprecate aafigure
  docs/requirements.txt
  docs/source/architecture/slashing.rst
  docs/source/architecture/sub_stakes.rst
  docs/source/conf.py
  setup.py
Labels: Dependencies, Documentation

#1890 Introduce Pre-Commit Framework
  .bandit
  .flake8
  .pre-commit-config.yaml
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  docs/source/guides/installation_guide.md
  nucypher/cli/actions.py
  nucypher/cli/main.py
  requirements.txt
  scripts/hooks/validate_circleci_config.sh
Labels: Automation, Enhancement

#1915 Iteration of contracts optimizations
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/Bits.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Dispatcher.sol
  nucypher/blockchain/eth/sol/source/contracts/proxy/Upgradeable.sol
  tests/blockchain/eth/contracts/base/test_dispatcher.py
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/contracts/StakingEscrowTestSet.sol
  tests/blockchain/eth/contracts/contracts/WorkLockTestSet.sol
  tests/blockchain/eth/contracts/contracts/proxy/ContractV4.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager_operations.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/metrics/estimate_gas.py
Labels: ETH Contracts, Enhancement, Hard Fork

#1917 ERC900 connectors for StakingEscrow
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/sol/compile.py
  nucypher/blockchain/eth/sol/source/aragon/interfaces/IERC900History.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/lib/Snapshot.sol
  nucypher/utilities/sandbox/blockchain.py
  setup.py
  tests/blockchain/eth/contracts/base/test_multisig.py
  tests/blockchain/eth/contracts/contracts/LibTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/lib/test_snapshot.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/metrics/estimate_gas.py
  tests/utils/solidity.py
Labels: Do Not Merge, ETH Contracts

#1891 Verify consistent ownership during deployment; Handle Insufficient funds TX failure.
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/utils.py
  nucypher/cli/actions.py
  nucypher/cli/options.py
  tests/blockchain/eth/clients/test_geth_integration.py
  tests/blockchain/eth/interfaces/test_chains.py
Labels: Contract Administrator, Enhancement

#1932 RST only docs and Sphinx APIdoc configuration
  .circleci/config.yml
  .circleci/validate-hook.sh
  .gitignore
  Makefile
  docs/source/api/characters.rst
  docs/source/api/config.rst
  docs/source/api/crypto.rst
  docs/source/api/datastore.rst
  docs/source/api/keyring.rst
  docs/source/api/network.rst
  docs/source/api/policy.rst
  docs/source/apidoc/module.rst_t
  docs/source/apidoc/package.rst_t
  docs/source/apidoc/toc.rst_t
  docs/source/architecture/contracts.md
  docs/source/architecture/contracts.rst
  docs/source/conf.py
  docs/source/demos/heartbeat_demo.rst
  docs/source/guides/development/getting_started.md
  docs/source/guides/development/getting_started.rst
  docs/source/guides/installation_guide.md
  docs/source/guides/installation_guide.rst
  docs/source/index.rst
  docs/source/release_notes/genesis_release.md
  docs/source/release_notes/genesis_release.rst
  docs/source/release_notes/pre_release_epics.rst
  docs/source/release_notes/releases.rst
  nucypher/blockchain/economics.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/clients.py
  nucypher/config/base.py
Labels: Configuration, Documentation

#1858 Add keystore signer implemenation for ursula only
  nucypher/blockchain/eth/signers.py
  nucypher/blockchain/eth/token.py
  nucypher/cli/actions.py
  nucypher/config/characters.py
  nucypher/config/node.py
Labels: API, UX, Ursula :woman_astronaut:

#1934 Adapt `nucypher-deploy` to Clef+Infura. New IBEX testnet 🐐
  docs/source/guides/network_node/staking_guide.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/contract_registry/ibex/contract_registry.json
  nucypher/blockchain/eth/networks.py
  nucypher/blockchain/eth/providers.py
  nucypher/blockchain/eth/signers.py
  nucypher/cli/actions.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/commands/worklock.py
  nucypher/cli/painting.py
Labels: API, Changes in Registry

#1939 Update IBEX contract registry 🐐
  nucypher/blockchain/eth/contract_registry/ibex/contract_registry.json
Labels: Changes in Registry

#1940 Random update to docs: update link to node providers, building docs
  docs/requirements.txt
  docs/source/guides/contribution_guide.rst
  docs/source/support/node_providers.rst
  setup.py
Labels: Documentation
