Repository nucypher/nucypher, pull requests merged in 2020-02, with the labels that each got.

#1605 Single Command line worker deploy/update with ansible
  deploy/ansible/worker/README.md
  deploy/ansible/worker/get_workers_status.yml
  deploy/ansible/worker/include/check_running_ursula.yml
  deploy/ansible/worker/include/init_ursula.yml
  deploy/ansible/worker/include/init_worker.yml
  deploy/ansible/worker/include/run_geth.yml
  deploy/ansible/worker/include/run_ursula.yml
  deploy/ansible/worker/include/setup_docker.yml
  deploy/ansible/worker/include/setup_user.yml
  deploy/ansible/worker/include/update_existing_ursula.yml
  deploy/ansible/worker/inventory.yml
  deploy/ansible/worker/setup_remote_workers.yml
  deploy/ansible/worker/update_remote_workers.yml
Labels: Automation, Ursula :woman_astronaut:

#1641 Cleanup Embedded Node Status Details
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/config/storages.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  tests/characters/test_ursula_web_status.py
Labels: API, UX, Ursula :woman_astronaut:

#1645 Fixes #1644; Economics without Worklock enrollment
  nucypher/blockchain/economics.py
  tests/blockchain/eth/entities/deployers/test_worklock_deployer.py
Labels: Blocker, Bug 🐞

#1650 Automated Docker Tagging (latest, experimental)
  .circleci/config.yml
Labels: Automation, circleci

#1651 Bump version: 2.0.0-beta.2 → 2.0.0-beta.3
  .bumpversion.cfg
  .circleci/config.yml
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1653 use ipdb as debugger in nucypher-dev docker container
  dev/docker/Dockerfile
  dev/docker/docker-compose.yml
Labels: Automation, Enhancement, Test 🔍, not-premature

#1555 Refactor Specifications/Serializers
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/characters/base.py
  nucypher/characters/control/controllers.py
  nucypher/characters/control/emitters.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/control/serializers.py
  nucypher/characters/control/specifications.py
  nucypher/characters/control/specifications/__init__.py
  nucypher/characters/control/specifications/alice.py
  nucypher/characters/control/specifications/base.py
  nucypher/characters/control/specifications/bob.py
  nucypher/characters/control/specifications/enrico.py
  nucypher/characters/control/specifications/exceptions.py
  nucypher/characters/control/specifications/fields/__init__.py
  nucypher/characters/control/specifications/fields/base.py
  nucypher/characters/control/specifications/fields/cleartext.py
  nucypher/characters/control/specifications/fields/datetime.py
  nucypher/characters/control/specifications/fields/key.py
  nucypher/characters/control/specifications/fields/label.py
  nucypher/characters/control/specifications/fields/messagekit.py
  nucypher/characters/control/specifications/fields/misc.py
  nucypher/characters/control/specifications/fields/treasuremap.py
  nucypher/characters/lawful.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/enrico.py
  nucypher/cli/options.py
  nucypher/utilities/controllers.py
  requirements.txt
  tests/characters/control/blockchain/test_rpc_control_blockchain.py
  tests/characters/control/blockchain/test_web_control_blockchain.py
  tests/characters/control/federated/test_rpc_control_federated.py
  tests/characters/control/federated/test_web_control_federated.py
  tests/characters/test_specifications.py
  tests/cli/test_cli_lifecycle.py
Labels: API, Alice 👩, Bob 👨‍💼

#1625 CLI Tabulation and Staker UI
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/token.py
  nucypher/cli/actions.py
  nucypher/cli/commands/stake.py
  nucypher/cli/painting.py
  nucypher/cli/processes.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  requirements.txt
  tests/characters/test_specifications.py
Labels: CLI, Enhancement, UX

#1672 Fixes bug in PolicyManager #1671
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  tests/blockchain/eth/contracts/contracts/PolicyManagerTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager_operations.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking.py
Labels: Bug 🐞, ETH Contracts

#1680 Winding down agreement was a bit cluttered
  nucypher/cli/actions.py
Labels: CLI, Staking, UX

#1681 Bump version: 2.0.0-beta.3 → 2.0.0-beta.4
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1622 Inline CLI character configuration
  nucypher/cli/actions.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/options.py
  nucypher/cli/types.py
  nucypher/config/base.py
  nucypher/config/characters.py
  nucypher/config/constants.py
  nucypher/config/node.py
  tests/cli/test_alice.py
  tests/cli/test_bob.py
  tests/cli/test_cli_config.py
  tests/cli/test_cli_lifecycle.py
  tests/cli/ursula/test_federated_ursula.py
Labels: CLI, Configuration, Enhancement

#1652 [Do Not Merge] Fixes sub-stake duration (Pending Upgrade)
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/sol/source/contracts/Issuer.sol
  nucypher/blockchain/eth/sol/source/contracts/MultiSig.sol
  nucypher/blockchain/eth/sol/source/contracts/NuCypherToken.sol
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/blockchain/eth/sol/source/contracts/Seeder.sol
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/WorkLock.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/AbstractStakingContract.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PreallocationEscrow.sol
  nucypher/blockchain/eth/token.py
  nucypher/cli/commands/stake.py
  nucypher/cli/painting.py
  tests/blockchain/eth/contracts/base/test_issuer.py
  tests/blockchain/eth/contracts/contracts/IssuerTestSet.sol
  tests/blockchain/eth/contracts/integration/test_intercontract_integration.py
  tests/blockchain/eth/contracts/main/staking_contracts/conftest.py
  tests/blockchain/eth/contracts/main/staking_escrow/conftest.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow.py
  tests/blockchain/eth/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/blockchain/eth/contracts/main/worklock/test_worklock.py
  tests/blockchain/eth/entities/actors/test_staker.py
  tests/blockchain/eth/entities/agents/test_sampling_distribution.py
  tests/blockchain/eth/entities/agents/test_staking_escrow_agent.py
  tests/blockchain/eth/interfaces/test_token_and_stake.py
Labels: ETH Contracts, UX

#1685 Bump version: 2.0.0-beta.4 → 2.0.0-beta.5
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1695 Sorry Alice, your credit is strained far too thin.
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/policy/collections.py
  nucypher/policy/policies.py
  nucypher/utilities/sandbox/policy.py
  tests/characters/control/blockchain/conftest.py
  tests/characters/control/blockchain/test_web_control_blockchain.py
  tests/characters/test_alice_can_grant_and_revoke.py
  tests/characters/test_freerider_attacks.py
  tests/fixtures.py
Labels: Alice 👩, Attack

#1716 Clean Up WorkLock Terms
  nucypher/cli/painting.py
Labels: CLI, Enhancement

#1718 Latest updates to FAQ and Troubleshooting docs
  docs/source/support/faq.rst
  docs/source/support/troubleshooting.rst
Labels: Documentation

#1724 Bump version: 2.0.0-beta.5 → 2.0.0-beta.6
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1728 Documentation Blitz
  docs/source/guides/installation_guide.md
  docs/source/guides/staking_guide.rst
  docs/source/guides/ursula_configuration_guide.rst
Labels: Documentation

#1731 Reorganize Docs Layout
  docs/source/architecture/contracts.md
  docs/source/architecture/sub_stakes.rst
  docs/source/architecture/upgradeable_proxy_contracts.rst
  docs/source/guides/development/character_control_guide.rst
  docs/source/guides/development/cli_guide.rst
  docs/source/guides/development/development.rst
  docs/source/guides/development/getting_started.md
  docs/source/guides/installation_guide.md
  docs/source/guides/network_node/network_node.rst
  docs/source/guides/network_node/staking_guide.rst
  docs/source/guides/network_node/ursula_configuration_guide.rst
  docs/source/guides/worklock_guide.rst
  docs/source/index.rst
  docs/source/support/faq.rst
  docs/source/support/troubleshooting.rst
Labels: Documentation

#1734 Ansible worker deploy tweak: Don't wait for geth sync if we are just updating the node
  deploy/ansible/worker/include/init_worker.yml
  deploy/ansible/worker/include/run_geth.yml
  deploy/ansible/worker/include/update_existing_ursula.yml
Labels: Automation

#1662 [DO NOT MERGE YET] Reward rate range
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/status.py
  nucypher/cli/painting.py
  tests/blockchain/eth/contracts/main/policy_manager/test_policy_manager.py
  tests/blockchain/eth/entities/actors/test_deployer.py
  tests/blockchain/eth/entities/actors/test_staker.py
  tests/blockchain/eth/entities/agents/test_policy_manager_agent.py
  tests/blockchain/eth/entities/deployers/test_policy_manager_deployer.py
  tests/cli/test_deploy_commands.py
  tests/cli/test_status.py
  tests/cli/ursula/test_stakeholder_and_ursula.py
  tests/fixtures.py
Labels: Alice 👩, ETH Contracts, Economics 💵

#1755 Bump version: 2.0.0-beta.6 → 2.0.0-beta.7
  .bumpversion.cfg
  docs/source/conf.py
  nucypher/__about__.py
Labels: Release Candidate

#1756 Fix node details obtained by SQLiteForgetfulNodeStorage
  nucypher/config/storages.py
Labels: Bug 🐞, Data Storage
