Repository nucypher/nucypher, pull requests merged in 2020-12, with the labels that each got.

#2185 [WIP] Initial DAO documentation
  docs/source/.static/img/dao_proposal.png
  docs/source/architecture/dao.rst
  docs/source/guides/dao_guide.rst
  docs/source/index.rst
Labels: DAO, Documentation

#2459 Shorthand CLI flags: -avk, -bvk, and -bek
  newsfragments/2459.feature.rst
  nucypher/characters/control/specifications/alice.py
  nucypher/characters/control/specifications/bob.py
  nucypher/cli/commands/alice.py
Labels: CLI

#2451 Improve handling of incorrect password via software signer
  newsfragments/2451.misc.rst
  nucypher/blockchain/eth/signers/base.py
  nucypher/blockchain/eth/signers/software.py
  tests/integration/blockchain/test_keystore_signer_filesystem_integration.py
Labels: CLI, UX

#2460 Complete grant CLI policy interactons and probationary period enforcement
  newsfragments/2431.misc.rst
  newsfragments/2460.feature.rst
  nucypher/characters/control/specifications/alice.py
  nucypher/characters/lawful.py
  nucypher/cli/actions/auth.py
  nucypher/cli/actions/confirm.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/cli/painting/help.py
  nucypher/config/constants.py
  tests/acceptance/cli/lifecycle.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/integration/cli/actions/test_auth_actions.py
Labels: Alice 👩, CLI, Oily Rags 🛢️

#2115 Let me give you my card...
  newsfragments/2115.feature.rst
  nucypher/characters/control/specifications/alice.py
  nucypher/characters/control/specifications/bob.py
  nucypher/characters/lawful.py
  nucypher/cli/actions/select.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/contacts.py
  nucypher/cli/literature.py
  nucypher/cli/main.py
  nucypher/cli/options.py
  nucypher/cli/painting/policies.py
  nucypher/cli/types.py
  nucypher/config/characters.py
  nucypher/config/node.py
  nucypher/policy/collections.py
  nucypher/policy/identity.py
  nucypher/policy/policies.py
  setup.py
  tests/acceptance/characters/test_decentralized_grant.py
  tests/acceptance/cli/test_alice.py
  tests/acceptance/cli/test_bob.py
  tests/acceptance/cli/test_contacts.py
  tests/conftest.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/unit/cli/test_help.py
  tests/unit/test_card.py
Labels: Alice 👩, Bob 👨‍💼, CLI, UX

#2240 Worklock pooling contract
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/AbstractStakingContract.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PoolingStakingContract.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/WorkLockPoolingContract.sol
  nucypher/blockchain/eth/sol/source/zeppelin/proxy/Initializable.sol
  tests/contracts/contracts/StakingContractsTestSet.sol
  tests/contracts/main/staking_contracts/test_staking_interface.py
  tests/contracts/main/staking_contracts/test_worklock_pooling_contract.py
Labels: ETH Contracts, Staking

#2467 Include offending ursula list on nucypher.policy.policies.Rejected
  newsfragments/2467.misc.rst
  nucypher/policy/policies.py
Labels: Alice 👩

#2466 Deprecation: Internal geth process mode (--geth)
  newsfragments/2466.misc.rst
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/providers.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/felix.py
  nucypher/cli/commands/multisig.py
  nucypher/cli/commands/status.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/options.py
  nucypher/cli/processes.py
  nucypher/config/node.py
  nucypher/utilities/logging.py
  tests/acceptance/blockchain/clients/test_geth_integration.py
  tests/conftest.py
  tests/fixtures.py
  tests/unit/test_web3_clients.py
  tests/utils/blockchain.py
Labels: Code Quality 🔧

#2468 Deprecation: Managed client syncing and Stale interface methods
  newsfragments/2468.misc.rst
  nucypher/blockchain/eth/clients.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/cli/commands/multisig.py
  nucypher/cli/commands/stake.py
  nucypher/cli/utils.py
  nucypher/config/node.py
  nucypher/policy/identity.py
  scripts/hooks/nucypher_agents.py
  tests/acceptance/blockchain/clients/test_syncing.py
  tests/mock/agents.py
  tests/unit/test_web3_clients.py
Labels: Code Quality 🔧

#2474 Pretty worker & staker console messages
  newsfragments/2474.misc.rst
  nucypher/blockchain/eth/actors.py
  nucypher/cli/actions/configure.py
  nucypher/cli/actions/confirm.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/cli/painting/help.py
  nucypher/cli/painting/staking.py
  tests/acceptance/blockchain/actors/test_deployer.py
  tests/acceptance/cli/test_alice.py
  tests/acceptance/cli/test_bob.py
  tests/acceptance/cli/test_cli_config.py
  tests/acceptance/cli/test_mixed_configurations.py
  tests/acceptance/cli/ursula/test_federated_ursula.py
Labels: UX

#2483 Prevent Vladimir from creating a ":memory:" directory
  newsfragments/2483.misc.rst
  nucypher/characters/unlawful.py
Labels: Bug 🐞

#2244 Simplify Bob.retrieve()
  newsfragments/2244.misc.rst
  nucypher/characters/lawful.py
  nucypher/crypto/kits.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/integration/network/test_treasure_map_integration.py
Labels: Bob 👨‍💼, Code Quality 🔧

#2445 Not so fast... (More stability for the commitment tracker, gas price configuration improvements)
  docs/source/guides/environment_variables.rst
  docs/source/guides/network_node/nucypher_host_management_cli.rst
  docs/source/support/faq.rst
  newsfragments/2420.feature.rst
  newsfragments/2445.feature.rst
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/token.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/cloudworkers.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/options.py
  nucypher/cli/utils.py
  nucypher/config/node.py
  nucypher/utilities/clouddeploy.py
  nucypher/utilities/datafeeds.py
  nucypher/utilities/gas_strategies.py
  tests/acceptance/blockchain/actors/test_worker.py
  tests/acceptance/blockchain/interfaces/test_handle_multiversion_contracts.py
  tests/acceptance/blockchain/interfaces/test_testerchain.py
  tests/acceptance/cli/test_alice.py
  tests/acceptance/cli/test_bob.py
  tests/contracts/test_contracts_upgradeability.py
  tests/metrics/grant_availability.py
  tests/unit/test_datafeeds.py
  tests/unit/test_gas_strategies.py
  tests/unit/test_work_tracker_error_handling.py
Labels: Documentation, Gas⛽️, Ursula :woman_astronaut:

#2477 Autodoc for smart contracts
  .circleci/config.yml
  .gitignore
  .pre-commit-config.yaml
  docs-requirements.txt
  docs/source/.static/style.css
  docs/source/conf.py
  docs/source/contracts_api/index.rst
  docs/source/index.rst
  newsfragments/2477.doc.rst
  scripts/installation/install_solc.py
  scripts/solidity_doc/generate_doc.py
  setup.py
Labels: CircleCI, Documentation, ETH Contracts
