Repository nucypher/nucypher, pull requests merged in 2021-05, with the labels that each got.

#2677 Update service fees pricing to reflect 7-day period duration
  docs/source/architecture/service_fees.rst
  newsfragments/2677.doc.rst
Labels: Documentation

#2662 Improve keyring creation prompts and warnings
  newsfragments/2662.misc.rst
  nucypher/cli/actions/auth.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/felix.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/literature.py
  nucypher/cli/painting/help.py
  nucypher/cli/utils.py
  tests/integration/cli/actions/test_auth_actions.py
Labels: CLI, UX

#2665 Detailed description of Ursula's web status page
  docs/source/.static/img/Annotated-Ursula-Status-Webpage-v1.png
  docs/source/staking/running_a_worker.rst
  newsfragments/2665.doc.rst
Labels: Documentation

#2699 Remove IndisputableEvidence and related machinery
  newsfragments/2699.removal.rst
  nucypher/blockchain/eth/agents.py
  nucypher/characters/lawful.py
  nucypher/crypto/utils.py
  nucypher/policy/collections.py
  nucypher/types.py
  tests/acceptance/blockchain/actors/test_investigator.py
  tests/acceptance/blockchain/agents/test_adjudicator_agent.py
  tests/contracts/integration/test_intercontract_integration.py
  tests/contracts/lib/test_reencryption_validator.py
  tests/contracts/lib/test_signature_verifier.py
  tests/contracts/main/adjudicator/conftest.py
  tests/contracts/main/adjudicator/test_adjudicator.py
  tests/metrics/estimate_gas.py
  tests/unit/crypto/test_coordinates_serialization.py
  tests/unit/crypto/test_umbral_signatures.py
  tests/unit/test_work_orders.py
  tests/utils/ursula.py
Labels: Code Quality 🔧, Slashing

#2710 Fix prometheus tests that should not be run unless prometheus is installed - it is an optional dependency
  nucypher/utilities/prometheus/collector.py
  tests/acceptance/utilities/test_prometheus_collectors.py
  tests/unit/test_prometheus.py
Labels: Dependencies, Test 🔍
