Repository nucypher/nucypher, pull requests merged in 2021-09, with the labels that each got.

#2768 Update Porter endpoint for retrieval
  docs/source/application_development/http_character_control.rst
  docs/source/application_development/porter.rst
  newsfragments/2768.feature.rst
  newsfragments/2772.feature.rst
  nucypher/characters/base.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/control/specifications/alice.py
  nucypher/characters/control/specifications/bob.py
  nucypher/characters/control/specifications/exceptions.py
  nucypher/characters/control/specifications/fields/key.py
  nucypher/characters/control/specifications/fields/messagekit.py
  nucypher/characters/control/specifications/fields/misc.py
  nucypher/characters/control/specifications/fields/signature.py
  nucypher/characters/control/specifications/fields/treasuremap.py
  nucypher/cli/commands/bob.py
  nucypher/cli/options.py
  nucypher/control/interfaces.py
  nucypher/control/specifications/exceptions.py
  nucypher/policy/maps.py
  nucypher/utilities/porter/control/interfaces.py
  nucypher/utilities/porter/control/specifications/fields/__init__.py
  nucypher/utilities/porter/control/specifications/fields/hrac.py
  nucypher/utilities/porter/control/specifications/fields/retrieve.py
  nucypher/utilities/porter/control/specifications/fields/ursula.py
  nucypher/utilities/porter/control/specifications/porter_schema.py
  nucypher/utilities/porter/porter.py
  tests/acceptance/characters/control/conftest.py
  tests/acceptance/characters/control/test_rpc_control_blockchain.py
  tests/acceptance/characters/control/test_treasure_map_field_non_federated.py
  tests/acceptance/characters/control/test_web_control_blockchain.py
  tests/acceptance/cli/test_bob.py
  tests/acceptance/porter/control/conftest.py
  tests/acceptance/porter/control/test_porter_rpc_control_blockchain.py
  tests/acceptance/porter/control/test_porter_web_control_blockchain.py
  tests/acceptance/porter/test_decentralized_porter.py
  tests/integration/characters/control/conftest.py
  tests/integration/characters/control/test_web_control_federated.py
  tests/integration/characters/test_specifications.py
  tests/integration/porter/control/conftest.py
  tests/integration/porter/control/test_porter_rpc_control_federated.py
  tests/integration/porter/control/test_porter_web_control_federated.py
  tests/integration/porter/test_federated_porter.py
  tests/integration/porter/test_porter_specifications.py
  tests/unit/characters/control/test_character_fields.py
  tests/unit/test_porter.py
  tests/utils/policy.py
Labels: API, Bob 👨‍💼, Porter

#2785 Prometheus Memory
  newsfragments/2785.bugfix.rst
  nucypher/blockchain/eth/events.py
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/prometheus/metrics.py
Labels: Ursula :woman_astronaut:

#2767 Versioning of bytes serializable protocol entities
  newsfragments/2767.feature.rst
  nucypher/network/retrieval.py
  nucypher/network/server.py
  nucypher/policy/kits.py
  nucypher/policy/maps.py
  nucypher/policy/policies.py
  nucypher/policy/revocation.py
  nucypher/utilities/versioning.py
  tests/acceptance/porter/control/test_porter_web_control_blockchain.py
  tests/integration/characters/test_federated_grant_and_revoke.py
  tests/integration/characters/test_specifications.py
  tests/integration/network/test_failure_modes.py
  tests/integration/porter/control/test_porter_web_control_federated.py
  tests/unit/test_porter.py
  tests/unit/test_versioning.py
Labels: Enhancement, API
