Repository nucypher/nucypher, pull requests merged in 2021-04, with the labels that each got.

#2596 Refinements for pool staking contract
  newsfragments/2596.feature.rst
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PoolingStakingContractV2.sol
  tests/contracts/main/staking_contracts/test_pooling_contract_v2.py
Labels: ETH Contracts

#2629 Use constant for loopback address
  examples/run_demo_ursula_fleet.py
  newsfragments/2629.misc.rst
  nucypher/cli/commands/felix.py
  nucypher/config/characters.py
  nucypher/network/protocols.py
  nucypher/utilities/networking.py
  scripts/local_fleet/run_single_ursula.py
  tests/acceptance/cli/ursula/test_run_ursula.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/unit/test_web3_clients.py
Labels: Code Quality 🔧

#2631 Handle ambiguous card nickname in lookup
  nucypher/policy/identity.py
Labels: CLI, UX

#2597 Staking Pool Docs
  docs/source/architecture/staking_contracts.rst
  docs/source/architecture/upgradeable_proxy_contracts.rst
  docs/source/index.rst
  newsfragments/2597.doc.rst
  scripts/solidity_doc/generate_doc.py
Labels: Documentation, Staking

#2633 Release note github action should handle multiple newsfragment files.
  .github/workflows/pr_release_note_entry.yml
Labels: Bug 🐞, CircleCI, Code Quality 🔧

#2609 Manual migration CLI command
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  tests/acceptance/cli/lifecycle.py
Labels: CLI

#2610 Update docs to reflect updated 7 day period length
  docs/source/architecture/dao.rst
  docs/source/architecture/period_duration.rst
  docs/source/architecture/service_fees.rst
  docs/source/architecture/sub_stakes.rst
  docs/source/glossary.rst
  docs/source/index.rst
  docs/source/staking/overview.rst
  docs/source/staking/remote_worker_cli.rst
  docs/source/staking/running_a_worker.rst
  docs/source/staking/stake_initialization.rst
  docs/source/staking/stake_management.rst
  docs/source/support/faq.rst
Labels: Documentation, Network

#2625 Fixes intermittently failing CLI test on CI
  tests/integration/network/test_node_storage.py
Labels: Bug 🐞, CircleCI, Test 🔍

#2643 Correct misnamed kwarg in migrate CLI.
  nucypher/blockchain/eth/actors.py
Labels: Bug 🐞, CLI

#2646 Fix incorrect use of `genesis_seconds_per_period` instead of `seconds_per_period`
  newsfragments/2646.bugfix.rst
  nucypher/cli/commands/status.py
  nucypher/utilities/prometheus/collector.py
Labels: CLI, Economics 💵, UX, Ursula :woman_astronaut:

#2617 Ensure that correct config filepath is printed when initializing character
  docs/source/staking/running_a_worker.rst
  newsfragments/2617.bugfix.rst
  newsfragments/2617.feature.rst
  nucypher/cli/actions/configure.py
  nucypher/cli/actions/select.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/felix.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/literature.py
  nucypher/cli/painting/help.py
  nucypher/config/base.py
  nucypher/config/characters.py
  tests/acceptance/cli/test_alice.py
  tests/acceptance/cli/test_mixed_configurations.py
  tests/acceptance/cli/ursula/test_run_ursula.py
  tests/integration/cli/actions/test_select_config_file.py
  tests/integration/config/test_character_configuration.py
Labels: CLI, Configuration, UX

#2648 Fix missing str caster in remove-inactive --all painting.
  nucypher/cli/commands/stake.py
Labels: Bug 🐞, CLI

#2649 Fix upgradeability test
  tests/contracts/test_contracts_upgradeability.py
Labels: Test 🔍

#2632 Refactor queries into a separate file
  nucypher/characters/lawful.py
  nucypher/cli/painting/nodes.py
  nucypher/datastore/datastore.py
  nucypher/datastore/queries.py
  nucypher/utilities/prometheus/collector.py
  tests/acceptance/characters/test_freerider_attacks.py
Labels: Code Quality 🔧

#2660 Improve logic for updating configuration file
  newsfragments/2660.bugfix.rst
  nucypher/config/base.py
Labels: Bug 🐞, CLI, Configuration, Ursula :woman_astronaut:

#2619 Creating multiple policies in one tx
  newsfragments/2619.feature.rst
  nucypher/blockchain/eth/sol/source/contracts/PolicyManager.sol
  tests/contracts/main/policy_manager/test_policy_manager.py
  tests/metrics/estimate_gas.py
Labels: Alice 👩, ETH Contracts

#2634 Improve Rewards command
  docs/source/references/cli_reference.rst
  docs/source/staking/stake_management.rst
  newsfragments/2634.feature.rst
  newsfragments/2634.removal.rst
  nucypher/blockchain/economics.py
  nucypher/blockchain/eth/clients.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/cli/painting/staking.py
  nucypher/cli/painting/transactions.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/integration/cli/test_stake_cli_functionality.py
Labels: CLI, Enhancement, UX
