Repository nucypher/nucypher, pull requests merged in 2021-03, with the labels that each got.

#2589 [Hotfix] Fix Ursulas not starting up when prometheus is enabled
  newsfragments/2589.bugfix.rst
  nucypher/utilities/prometheus/collector.py
  nucypher/utilities/prometheus/metrics.py
Labels: Bug 🐞, UX, Ursula :woman_astronaut:

#2574 Help nucypher-monitor get the info it needs
  newsfragments/2574.misc.rst
  nucypher/acumen/nicknames.py
  nucypher/acumen/perception.py
  nucypher/characters/lawful.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/network/templates/basic_status.mako
  tests/acceptance/characters/test_ursula_web_status.py
  tests/fixtures.py
Labels: Discovery Loop, Ursula :woman_astronaut:

#2528 UX Improvements for CLI
  docs/source/references/cli_reference.rst
  docs/source/staking/stake_management.rst
  newsfragments/2528.feature.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/signers/base.py
  nucypher/blockchain/eth/signers/software.py
  nucypher/cli/actions/select.py
  nucypher/cli/actions/staking.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/status.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/literature.py
  nucypher/cli/painting/help.py
  nucypher/cli/painting/status.py
  nucypher/config/keyring.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/integration/blockchain/test_keystore_signer_filesystem_integration.py
  tests/integration/cli/test_stake_cli_functionality.py
Labels: Bug 🐞, CLI, Enhancement, UX, Ursula :woman_astronaut:

#2591 Tests for prometheus collectors.
  .circleci/config.yml
  tests/acceptance/utilities/test_prometheus_collectors.py
Labels: Code Quality 🔧, Test 🔍

#2592 Enable eager worker commitment during startup
  nucypher/characters/lawful.py
Labels: Ursula :woman_astronaut:

#2593 Extended period economics
  nucypher/blockchain/economics.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/agents/test_worklock_agent.py
  tests/acceptance/blockchain/deployers/test_deployers_during_migration.py
  tests/acceptance/characters/control/conftest.py
  tests/acceptance/characters/control/test_web_control_blockchain.py
  tests/acceptance/characters/test_decentralized_grant.py
  tests/acceptance/characters/test_freerider_attacks.py
  tests/acceptance/characters/test_ursula_prepares_to_act_as_worker.py
  tests/acceptance/cli/lifecycle.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/acceptance/network/test_network_actors.py
  tests/contracts/integration/test_contract_economics.py
  tests/fixtures.py
  tests/integration/blockchain/test_exact_economics_model.py
  tests/integration/blockchain/test_token_and_stake_integration.py
  tests/metrics/estimate_gas.py
  tests/unit/test_blockchain_economics_model.py
Labels: Economics 💵

#2583 Deprecates worker IP address as enviorment variable
  docs/source/references/environment_variables.rst
  newsfragments/2583.removal.rst
  nucypher/cli/actions/configure.py
  nucypher/config/constants.py
  tests/acceptance/cli/test_cli_config.py
Labels: Code Quality 🔧

#2600 DAO proposal 1 testnet registry (Ibex)
  nucypher/blockchain/eth/contract_registry/ibex/contract_registry.json
Labels: Changes in Registry

#2599 Add documentation about approval / validation requirements for DAO proposals
  docs/source/architecture/dao.rst
  newsfragments/2599.doc.rst
Labels: DAO, Documentation

#2605 Contract Registry Updates for Lynx
  nucypher/blockchain/eth/contract_registry/lynx/contract_registry.json
Labels: Changes in Registry

#2606 Testnet Registries for StakingEscrow 5.7.1 and PolicyManager 6.2.1
  nucypher/blockchain/eth/contract_registry/ibex/contract_registry.json
  nucypher/blockchain/eth/contract_registry/lynx/contract_registry.json
Labels: Changes in Registry

#2607 Handle period migration in work tracker.
  newsfragments/2607.feature.rst
  nucypher/blockchain/eth/token.py
Labels: Ursula :woman_astronaut:

#2613 Fixes stake CLI name errors
  nucypher/cli/commands/stake.py
Labels: Bug 🐞, CLI

#2615 [Hotfix] Fixes account selection with ambiguous source.
  newsfragments/2615.bugfix.rst
  nucypher/cli/actions/select.py
Labels: Bug 🐞, CLI

#2614 Updated Period length CLI UX
  newsfragments/2614.bugfix.rst
  nucypher/cli/actions/collect.py
  nucypher/cli/actions/confirm.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/cli/painting/staking.py
  tests/integration/cli/actions/test_confirm_actions.py
  tests/integration/cli/test_stake_cli_functionality.py
Labels: CLI, UX

#2620 Include StakingEscrow 5.7.1 & PolicyManager 6.2.1 in mainnet registry
  nucypher/blockchain/eth/contract_registry/mainnet/contract_registry.json
Labels: Changes in Registry
