Repository nucypher/nucypher, pull requests merged in 2021-02, with the labels that each got.

#2518 Remove some StakingEscrow features to reduce code size
  docs/source/architecture/contracts.rst
  newsfragments/2518.removal.rst
  nucypher/blockchain/eth/__init__.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/constants.py
  nucypher/blockchain/eth/deployers.py
  nucypher/blockchain/eth/sol/__conf__.py
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/StakingInterface.sol
  nucypher/cli/actions/confirm.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/cli/painting/staking.py
  nucypher/cli/painting/status.py
  tests/acceptance/blockchain/actors/test_deployer.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/agents/test_staking_escrow_agent.py
  tests/acceptance/blockchain/deployers/conftest.py
  tests/acceptance/blockchain/deployers/test_adjudicator_deployer.py
  tests/acceptance/blockchain/deployers/test_deploy_idle_network.py
  tests/acceptance/blockchain/deployers/test_interdeployer_integration.py
  tests/acceptance/blockchain/deployers/test_policy_manager_deployer.py
  tests/acceptance/blockchain/deployers/test_preallocation_escrow_deployer.py
  tests/acceptance/blockchain/deployers/test_staking_escrow_deployer.py
  tests/acceptance/blockchain/deployers/test_worklock_deployer.py
  tests/acceptance/cli/deploy/test_deploy_cli.py
  tests/acceptance/cli/deploy/test_deploy_cli_commands.py
  tests/acceptance/cli/test_worklock_cli.py
  tests/acceptance/cli/ursula/test_stake_via_allocation_contract.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/contracts/contracts/StakingContractsTestSet.sol
  tests/contracts/contracts/StakingEscrowTestSet.sol
  tests/contracts/integration/test_intercontract_integration.py
  tests/contracts/main/staking_contracts/test_staking_interface.py
  tests/contracts/main/staking_escrow/conftest.py
  tests/contracts/main/staking_escrow/test_staking.py
  tests/contracts/main/staking_escrow/test_staking_escrow.py
  tests/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/contracts/test_contracts_upgradeability.py
  tests/fixtures.py
  tests/integration/cli/actions/test_confirm_actions.py
  tests/metrics/estimate_gas.py
  tests/utils/blockchain.py
Labels: ETH Contracts

#2546 Don't collect prometheus WorkLock metrics when on testnet
  newsfragments/2546.misc.rst
  nucypher/utilities/prometheus/metrics.py
Labels: Configuration, Network

#2544 Modification of WorkLockPoolingContract (without worklock part)
  newsfragments/2544.feature.rst
  nucypher/blockchain/eth/sol/source/contracts/staking_contracts/PoolingStakingContractV2.sol
  tests/contracts/main/staking_contracts/test_pooling_contract_v2.py
Labels: ETH Contracts

#2463 Documentation Reprise and Modernize
  docs/source/application_development/cli_examples.rst
  docs/source/application_development/getting_started.rst
  docs/source/application_development/http_character_control.rst
  docs/source/application_development/local_fleet_demo.rst
  docs/source/application_development/testnet.rst
  docs/source/architecture/contracts.rst
  docs/source/architecture/worklock.rst
  docs/source/conf.py
  docs/source/contracts_api/index.rst
  docs/source/demos/finnegans_wake_demo.rst
  docs/source/demos/heartbeat_demo.rst
  docs/source/guides/dao_guide.rst
  docs/source/guides/deployment_guide.rst
  docs/source/guides/development/development.rst
  docs/source/guides/development/getting_started.rst
  docs/source/guides/federated_testnet_guide.rst
  docs/source/guides/installation_guide.rst
  docs/source/guides/network_node/network_node.rst
  docs/source/guides/network_node/staking_guide.rst
  docs/source/guides/network_node/ursula_configuration_guide.rst
  docs/source/index.rst
  docs/source/references/cli_reference.rst
  docs/source/references/environment_variables.rst
  docs/source/references/networks.rst
  docs/source/references/pip-installation.rst
  docs/source/references/signers.rst
  docs/source/staking/best_practices.rst
  docs/source/staking/overview.rst
  docs/source/staking/remote_worker_cli.rst
  docs/source/staking/running_a_worker.rst
  docs/source/staking/stake_initialization.rst
  docs/source/staking/stake_management.rst
  docs/source/staking/testnet.rst
  docs/source/staking/worklock.rst
  docs/source/support/contribution.rst
  docs/source/support/faq.rst
  newsfragments/2463.doc.rst
  nucypher/characters/control/interfaces.py
  nucypher/cli/literature.py
  nucypher/exceptions.py
Labels: Documentation, Help Wanted

#2550 Bugfixes: Lazy provider connection and Default keyring root
  newsfragments/2550.bugfix.rst
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/config/keyring.py
  tests/conftest.py
  tests/integration/learning/test_discovery_phases.py
Labels: API

#2554 Example granting script for python API docs
  docs/source/application_development/getting_started.rst
  docs/source/staking/best_practices.rst
  newsfragments/2554.doc.rst
Labels: Bug 🐞, Documentation

#2555 Cache Alice's transacting power for later activation
  newsfragments/2555.bugfix.rst
  nucypher/characters/lawful.py
Labels: API, Alice 👩, Bug 🐞

#2551 Completes CLI Interactivity for Grant, Encrypt and Retrieve
  newsfragments/2551.feature.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/characters/control/controllers.py
  nucypher/characters/control/emitters.py
  nucypher/characters/control/specifications/bob.py
  nucypher/cli/actions/collect.py
  nucypher/cli/actions/confirm.py
  nucypher/cli/actions/validate.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/enrico.py
  nucypher/cli/painting/policies.py
  nucypher/cli/utils.py
  nucypher/policy/policies.py
  tests/acceptance/cli/lifecycle.py
Labels: Alice 👩, Bob 👨‍💼, CLI, Enhancement

#2548 Add --csv-file option for 'nucypher stake events' CLI to allow events to be output to CSV
  docs/source/references/cli_reference.rst
  docs/source/staking/stake_management.rst
  newsfragments/2548.feature.rst
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
  nucypher/cli/commands/stake.py
  nucypher/cli/literature.py
  nucypher/utilities/events.py
Labels: CLI, Enhancement, UX

#2560 Alternate finnegans wake demo for Lynx testnet + API Refinements
  docs/source/demos/finnegans_wake_demo.rst
  examples/finnegans_wake_demo/README.md
  examples/finnegans_wake_demo/download_finnegans_wake.sh
  examples/finnegans_wake_demo/finnegans-wake-demo-federated.py
  examples/finnegans_wake_demo/finnegans-wake-demo-testnet.py
  examples/finnegans_wake_demo/finnegans-wake-excerpt.txt
  newsfragments/2560.misc.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/signers/software.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/dao.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/felix.py
  nucypher/cli/commands/multisig.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/commands/worklock.py
  nucypher/cli/utils.py
  nucypher/crypto/powers.py
  nucypher/network/nodes.py
  nucypher/utilities/ethereum.py
  scripts/circle/docker-compose.yml
  scripts/circle/download_and_run_finnegans_wake.sh
  scripts/circle/run_finnegans_wake.sh
  scripts/circle/run_finnegans_wake_demo_docker-circle.sh
  tests/acceptance/blockchain/actors/test_bidder.py
  tests/acceptance/blockchain/actors/test_deployer.py
  tests/acceptance/blockchain/actors/test_multisig_actors.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/agents/test_policy_manager_agent.py
  tests/acceptance/blockchain/deployers/test_deploy_idle_network.py
  tests/acceptance/blockchain/interfaces/test_handle_multiversion_contracts.py
  tests/acceptance/blockchain/interfaces/test_testerchain.py
  tests/acceptance/blockchain/interfaces/test_transacting_power.py
  tests/acceptance/cli/deploy/test_deploy_cli.py
  tests/acceptance/cli/deploy/test_deploy_cli_commands.py
  tests/acceptance/cli/test_worklock_cli.py
  tests/acceptance/cli/ursula/test_local_keystore_integration.py
  tests/acceptance/cli/ursula/test_stake_via_allocation_contract.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/contracts/test_contracts_upgradeability.py
  tests/integration/blockchain/test_keystore_signer_filesystem_integration.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/integration/cli/test_worklock_cli_functionality.py
  tests/metrics/grant_availability.py
  tests/utils/blockchain.py
Labels: API, Demos, Enhancement

#2569 fix: broken link to contributing docs
  CONTRIBUTING.rst
  README.md
Labels: Bug 🐞, Documentation

#2352 Fleet sensor refactor
  deploy/ansible/worker/include/check_running_ursula.yml
  newsfragments/2352.misc.rst
  nucypher/acumen/nicknames.py
  nucypher/acumen/perception.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/cli/painting/nodes.py
  nucypher/cli/processes.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/network/templates/basic_status.mako
  nucypher/network/trackers.py
  nucypher/utilities/prometheus/collector.py
  tests/acceptance/characters/test_ursula_web_status.py
  tests/acceptance/network/test_network_actors.py
  tests/fixtures.py
  tests/integration/characters/test_ursula_startup.py
  tests/integration/learning/test_domains.py
  tests/integration/learning/test_firstula_circumstances.py
  tests/integration/learning/test_fleet_state.py
  tests/integration/network/test_failure_modes.py
  tests/mock/performance_mocks.py
  tests/unit/test_external_ip_utilities.py
Labels: Ursula :woman_astronaut:

#2536 Persistent TLS certificates; Simplify Ursula Initialization
  newsfragments/2536.bugfix.rst
  nucypher/acumen/perception.py
  nucypher/blockchain/__init__.py
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/interfaces.py
  nucypher/blockchain/eth/token.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/config/__init__.py
  nucypher/config/characters.py
  nucypher/config/keyring.py
  nucypher/config/node.py
  nucypher/crypto/api.py
  nucypher/crypto/keypairs.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/utilities/networking.py
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/actors/test_worker.py
  tests/acceptance/characters/test_stakeholder.py
  tests/acceptance/characters/test_transacting_power_acceptance.py
  tests/acceptance/characters/test_ursula_prepares_to_act_as_worker.py
  tests/acceptance/cli/test_alice.py
  tests/acceptance/cli/test_mixed_configurations.py
  tests/acceptance/cli/test_worklock_cli.py
  tests/acceptance/cli/ursula/test_local_keystore_integration.py
  tests/acceptance/cli/ursula/test_stake_via_allocation_contract.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/acceptance/learning/test_fault_tolerance.py
  tests/acceptance/network/test_network_actors.py
  tests/fixtures.py
  tests/integration/cli/test_ursula_local_keystore_cli_functionality.py
  tests/integration/config/test_character_configuration.py
  tests/integration/config/test_configuration_persistence.py
  tests/integration/config/test_keyring_integration.py
  tests/integration/config/test_storages.py
  tests/unit/config/test_keyring.py
  tests/utils/matchers.py
  tests/utils/ursula.py
Labels: Bug 🐞, Code Quality 🔧, Ursula :woman_astronaut:

#2581 Fixes #1874
  examples/heartbeat_demo/alicia.py
  examples/heartbeat_demo/doctor.py
Labels: Bug 🐞, CircleCI, Demos

#2585 Extend policy probationary period for 2 months to 2021-04-30T23:59:59 UTC
  newsfragments/2585.misc.rst
  nucypher/config/constants.py
Labels: Alice 👩, CLI, UX
