Repository nucypher/nucypher, pull requests merged in 2021-08, with the labels that each got.

#2769 [Hotfix] Remove problematic gas feed for now, and make gas feeds more robust against errors.
  newsfragments/2769.bugfix.rst
  nucypher/utilities/gas_strategies.py
  tests/unit/test_datafeeds.py
Labels: Bug 🐞, Gas⛽️

#2776 Add a section to the docs about how period commitment works.
  docs/source/.static/img/period_commitment.png
  docs/source/architecture/periods.rst
  docs/source/index.rst
  docs/source/support/faq.rst
  newsfragments/2776.doc.rst
Labels: Documentation

#2774 Rename `m` to `threshold` and `n` to `shares`
  docs/source/application_development/cli_examples.rst
  docs/source/application_development/getting_started.rst
  docs/source/application_development/http_character_control.rst
  examples/finnegans_wake_demo/finnegans-wake-demo-federated.py
  examples/finnegans_wake_demo/finnegans-wake-demo-testnet.py
  examples/heartbeat_demo/alicia.py
  newsfragments/2774.misc.rst
  newsfragments/2774.removal.rst
  nucypher/blockchain/eth/actors.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/control/specifications/alice.py
  nucypher/characters/control/specifications/fields/misc.py
  nucypher/characters/lawful.py
  nucypher/cli/actions/collect.py
  nucypher/cli/actions/confirm.py
  nucypher/cli/commands/alice.py
  nucypher/cli/options.py
  nucypher/config/characters.py
  nucypher/crypto/powers.py
  nucypher/policy/maps.py
  nucypher/policy/policies.py
  tests/acceptance/characters/control/conftest.py
  tests/acceptance/characters/control/test_web_control_blockchain.py
  tests/acceptance/characters/test_decentralized_grant.py
  tests/acceptance/characters/test_freerider_attacks.py
  tests/acceptance/characters/test_ursula_prepares_to_act_as_worker.py
  tests/acceptance/cli/lifecycle.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/acceptance/network/test_network_actors.py
  tests/constants.py
  tests/fixtures.py
  tests/integration/characters/control/conftest.py
  tests/integration/characters/control/test_web_control_federated.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
  tests/integration/characters/test_federated_grant_and_revoke.py
  tests/integration/characters/test_specifications.py
  tests/integration/config/test_configuration_persistence.py
  tests/integration/config/test_keystore_integration.py
  tests/integration/learning/test_discovery_phases.py
  tests/integration/network/test_failure_modes.py
  tests/integration/porter/conftest.py
  tests/metrics/grant_availability.py
  tests/unit/test_treasure_maps.py
Labels: Naming stuff

#2786 Fix creation of filepath for output of events to csv file
  newsfragments/2786.bugfix.rst
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/status.py
  nucypher/utilities/events.py
Labels: CLI
