Repository nucypher/nucypher, pull requests merged in 2021-01, with the labels that each got.

#2489 Fix rtd build
  .circleci/config.yml
  docs/source/conf.py
  newsfragments/2489.bugfix.rst
  scripts/solidity_doc/generate_doc.py
Labels: Documentation

#2491 In-memory mock LMDB for tests
  newsfragments/2491.bugfix.rst
  tests/conftest.py
  tests/constants.py
  tests/integration/config/test_storages.py
  tests/integration/conftest.py
  tests/mock/datastore.py
  tests/mock/performance_mocks.py
  tests/unit/datastore/conftest.py
  tests/unit/datastore/test_datastore.py
  tests/unit/datastore/test_datastore_models.py
  tests/utils/ursula.py
Labels: Data Storage, Test 🔍

#2492 Continued fix rtd build
  docs/source/conf.py
  newsfragments/2492.bugfix.rst
  scripts/installation/install_solc.py
Labels: Documentation

#2496 Update requirements for documentation build to fix failing RTD build
  docs-requirements.txt
  newsfragments/2496.misc.rst
Labels: Dependencies, Documentation

#2507 Deprecates manual worker commitment via CLI
  newsfragments/2507.removal.rst
  nucypher/cli/commands/ursula.py
  nucypher/cli/processes.py
  tests/acceptance/cli/ursula/test_ursula_command.py
Labels: CLI, Ursula :woman_astronaut:

#2510 Include relock of docs-requirements.txt in the relock_dependencies script
  Makefile
  Pipfile.lock
  dev-requirements.txt
  docs-requirements.txt
  newsfragments/2510.misc.rst
  requirements.txt
  scripts/dependencies/docs/Pipfile
  scripts/dependencies/relock_dependencies.sh
Labels: Dependencies, Documentation

#2470 Deprecation: Automated deployment series by ContractAdministrator
  .gitignore
  newsfragments/2470.removal.rst
  nucypher/blockchain/eth/actors.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/literature.py
  nucypher/cli/painting/deployment.py
  tests/acceptance/blockchain/actors/test_deployer.py
  tests/acceptance/cli/deploy/test_deploy_cli.py
  tests/acceptance/cli/deploy/test_deploy_cli_commands.py
  tests/acceptance/cli/test_cli_config.py
  tests/acceptance/cli/test_contacts.py
  tests/conftest.py
  tests/metrics/estimate_gas.py
  tests/utils/blockchain.py
Labels: Code Quality 🔧

#2486 Estimate gas with block identifier 'latest'
  newsfragments/2486.bugfix.rst
  nucypher/blockchain/eth/interfaces.py
Labels: Gas⛽️

#2482 Parallel arrangement proposals
  examples/finnegans_wake_demo/finnegans-wake-demo.py
  examples/heartbeat_demo/alicia.py
  newsfragments/2479.bugfix.rst
  newsfragments/2482.feature.rst
  nucypher/blockchain/eth/agents.py
  nucypher/characters/control/interfaces.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/crypto/kits.py
  nucypher/network/middleware.py
  nucypher/network/server.py
  nucypher/policy/collections.py
  nucypher/policy/identity.py
  nucypher/policy/policies.py
  nucypher/utilities/concurrency.py
  tests/acceptance/blockchain/agents/test_sampling_distribution.py
  tests/acceptance/characters/control/conftest.py
  tests/acceptance/characters/control/test_rpc_control_blockchain.py
  tests/acceptance/characters/control/test_web_control_blockchain.py
  tests/acceptance/characters/test_decentralized_grant.py
  tests/acceptance/characters/test_freerider_attacks.py
  tests/acceptance/characters/test_ursula_prepares_to_act_as_worker.py
  tests/acceptance/cli/test_bob.py
  tests/acceptance/cli/ursula/test_stake_via_allocation_contract.py
  tests/acceptance/cli/ursula/test_stakeholder_and_ursula.py
  tests/acceptance/network/test_network_actors.py
  tests/acceptance/utilities/test_concurrency.py
  tests/fixtures.py
  tests/integration/characters/control/conftest.py
  tests/integration/characters/control/test_rpc_control_federated.py
  tests/integration/characters/control/test_web_control_federated.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/integration/characters/test_bob_joins_policy_and_retrieves.py
  tests/integration/characters/test_federated_grant_and_revoke.py
  tests/integration/learning/test_discovery_phases.py
  tests/integration/network/test_failure_modes.py
  tests/integration/network/test_network_upgrade.py
  tests/integration/network/test_treasure_map_integration.py
  tests/metrics/grant_availability.py
  tests/utils/policy.py
Labels: Alice 👩

#2462 IP address checks on worker startup
  .gitignore
  deploy/ansible/worker/include/run_ursula.yml
  dev/docker/8-federated-ursulas.yml
  newsfragments/2462.feature.rst
  nucypher/blockchain/eth/actors.py
  nucypher/blockchain/eth/agents.py
  nucypher/blockchain/eth/token.py
  nucypher/characters/base.py
  nucypher/characters/lawful.py
  nucypher/characters/unlawful.py
  nucypher/cli/actions/configure.py
  nucypher/cli/commands/stake.py
  nucypher/cli/commands/ursula.py
  nucypher/cli/literature.py
  nucypher/cli/types.py
  nucypher/config/characters.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/network/server.py
  nucypher/utilities/clouddeploy.py
  nucypher/utilities/networking.py
  scripts/circle/docker-compose.yml
  tests/acceptance/blockchain/actors/test_staker.py
  tests/acceptance/blockchain/actors/test_worker.py
  tests/acceptance/characters/test_stakeholder.py
  tests/acceptance/characters/test_ursula_prepares_to_act_as_worker.py
  tests/acceptance/cli/test_cli_config.py
  tests/acceptance/cli/ursula/test_federated_ursula.py
  tests/acceptance/cli/ursula/test_local_keystore_integration.py
  tests/acceptance/cli/ursula/test_run_ursula.py
  tests/acceptance/cli/ursula/test_stake_via_allocation_contract.py
  tests/acceptance/learning/test_fault_tolerance.py
  tests/conftest.py
  tests/fixtures.py
  tests/integration/config/test_character_configuration.py
  tests/unit/test_work_tracker_error_handling.py
  tests/utils/config.py
  tests/utils/ursula.py
Labels: Bug 🐞, Configuration, Network, Ursula :woman_astronaut:

#2525 Remove docs pip extra from setup.py
  .circleci/config.yml
  setup.py
Labels: Bug 🐞, Dependencies, Packaging

#2527 Startup IP Followup
  newsfragments/2527.bugfix.rst
  nucypher/cli/actions/configure.py
  nucypher/utilities/networking.py
  tests/acceptance/cli/ursula/test_run_ursula.py
  tests/fixtures.py
  tests/unit/test_external_ip_utilities.py
Labels: Bug 🐞, Ursula :woman_astronaut:

#2534 Fixed blocking call waiting for number of known nodes which could infinite loop
  newsfragments/2534.bugfix.rst
  nucypher/network/nodes.py
  tests/metrics/grant_availability.py
Labels: Alice 👩, Bug 🐞, Discovery Loop
