Repository nucypher/nucypher, pull requests merged in 2021-07, with the labels that each got.

#2731 Update newsfragment README file to include 'removal' type
  newsfragments/README.md
Labels: Documentation

#2721 Initial Porter Documentation
  docs/source/.static/img/porter_diagram.svg
  docs/source/application_development/porter.rst
  docs/source/glossary.rst
  docs/source/index.rst
  docs/source/support/contribution.rst
  nucypher/cli/commands/porter.py
Labels: Documentation

#2732 Use default/dynamic active staker pagination size and standardize Porter execution timeouts
  docs/source/references/environment_variables.rst
  nucypher/blockchain/eth/agents.py
  nucypher/config/constants.py
  nucypher/policy/reservoir.py
  nucypher/utilities/porter/porter.py
Labels: Alice 👩, UX, Web

#2733 Publish Porter docker image
  .circleci/config.yml
  deploy/docker/porter/Dockerfile
  deploy/docker/porter/docker-compose.yml
  docs/source/application_development/porter.rst
Labels: Packaging, Web

#2746 Allow query parameters to be passed in the URL
  docs/source/application_development/porter.rst
  nucypher/control/controllers.py
  nucypher/control/specifications/fields/base.py
  nucypher/utilities/porter/control/specifications/porter_schema.py
  tests/acceptance/porter/control/test_porter_web_control_blockchain.py
  tests/integration/porter/control/test_porter_web_control_federated.py
  tests/integration/porter/test_porter_specifications.py
  tests/unit/test_control.py
  tests/unit/test_porter.py
Labels: Web

#2729 Porter implementation of `/exec_work_order` (associated with TMapConKFrags for `/reencrypt` endpoint)
  docs/source/application_development/porter.rst
  nucypher/characters/base.py
  nucypher/cli/commands/porter.py
  nucypher/control/controllers.py
  nucypher/control/specifications/fields/base.py
  nucypher/network/middleware.py
  nucypher/network/nodes.py
  nucypher/utilities/porter/control/interfaces.py
  nucypher/utilities/porter/control/specifications/fields/ursula.py
  nucypher/utilities/porter/control/specifications/fields/ursulainfo.py
  nucypher/utilities/porter/control/specifications/fields/workorder.py
  nucypher/utilities/porter/control/specifications/porter_schema.py
  nucypher/utilities/porter/porter.py
  tests/acceptance/porter/control/test_porter_rpc_control_blockchain.py
  tests/acceptance/porter/control/test_porter_web_control_blockchain.py
  tests/acceptance/porter/test_decentralized_porter.py
  tests/fixtures.py
  tests/integration/porter/control/test_porter_rpc_control_federated.py
  tests/integration/porter/control/test_porter_web_control_federated.py
  tests/integration/porter/test_federated_porter.py
  tests/integration/porter/test_porter_specifications.py
  tests/unit/test_control.py
  tests/unit/test_porter.py
  tests/utils/policy.py
Labels: API, Bob 👨‍💼, Web

#2753 Ensure that gas price used for transactions is an int
  newsfragments/2753.bugfix.rst
  nucypher/utilities/gas_strategies.py
Labels: Bug 🐞, Gas⛽️

#2762 Don't put bytes directly into log - instead write as hex
  newsfragments/2762.bugfix.rst
  nucypher/network/nodes.py
Labels: Bug 🐞, Logging

#2759 Increment cache version to force rebuild of dependencies.
  .circleci/config.yml
Labels: CircleCI, Dependencies

#2764 Don't include stakers with expired stakes in the `missing_stakers` results for `StakingEscrowAgent.partition_stakers_by_activity()`
  newsfragments/2764.bugfix.rst
  nucypher/blockchain/eth/agents.py
Labels: Bug 🐞, Staking
