Repository nucypher/nucypher, pull requests merged in 2022-04, with the labels that each got.

#2888 Porter should properly check that Ursula is reachable when sampling
  newsfragments/2888.bugfix.rst
  nucypher/utilities/porter/porter.py
Labels: Porter

#2837 Bye bye, blake2b-py!
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  docs-requirements.txt
  newsfragments/2837.misc.rst
  nucypher/blockchain/eth/interfaces.py
  requirements.txt
  scripts/dependencies/docs/Pipfile
  tests/contracts/main/staking_escrow/test_staking_escrow.py
  tests/fixtures.py
  tests/utils/blockchain.py
Labels: Dependencies :smiling_imp:

#2909 Add more color to nucypher cli output, fixes #1150
  newsfragments/2909.misc.rst
  nucypher/cli/actions/validate.py
  nucypher/cli/commands/alice.py
  nucypher/cli/commands/bob.py
  nucypher/cli/commands/contacts.py
  nucypher/cli/commands/deploy.py
  nucypher/cli/commands/porter.py
  nucypher/cli/commands/status.py
  nucypher/cli/commands/ursula.py
  nucypher/control/emitters.py
Labels: CLI, Style :sparkles:

#2906 Release Cycle and Versioning Docs
  docs/source/support/contribution.rst
Labels: Documentation
