Repository nucypher/nucypher, pull requests merged in 2022-11, with the labels that each got.

#2996 Add tapir network to network, nodes, and registry
  newsfragments/2996.feature.rst
  nucypher/blockchain/eth/contract_registry/tapir/contract_registry.json
  nucypher/blockchain/eth/networks.py
  nucypher/network/nodes.py
Labels: Registry

#3000 Update contract registry for lynx
  newsfragments/3000.feature.rst
  nucypher/blockchain/eth/contract_registry/lynx/contract_registry.json
Labels: Registry

#2993 [WIP] Export reusable pytest fixtures and cleanup
  .github/workflows/contract_tests.yml
  .github/workflows/python_tests.yml
  setup.py
  tests/conftest.py
  tests/contracts/main/staking_escrow/test_staking_escrow_additional.py
  tests/fixtures.py
  tests/mock/__init__.py
  tests/utils/__init__.py
Labels: Do Not Merge

#3011 Fixes missing call to response.json on HTTP 400.
  nucypher/network/middleware.py
Labels: Bug :bug:

#3025 Handle retrieval request with no conditions
  newsfragments/3025.bugfix.rst
  nucypher/characters/lawful.py
  nucypher/network/retrieval.py
  nucypher/network/server.py
  nucypher/policy/conditions/base.py
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/exceptions.py
  nucypher/policy/conditions/lingo.py
  nucypher/policy/conditions/rust_shims.py
  nucypher/policy/conditions/time.py
  nucypher/policy/conditions/types.py
  nucypher/policy/conditions/utils.py
  tests/acceptance/blockchain/conditions/conftest.py
  tests/acceptance/blockchain/conditions/test_conditions.py
  tests/integration/characters/test_bob_handles_frags.py
  tests/unit/conditions/test_condition_lingo.py
  tests/unit/conditions/test_condition_validity.py
  tests/unit/conditions/test_evm_condition_serializers.py
  tests/unit/conditions/test_return_value.py
  tests/unit/conditions/test_utils.py
  tests/utils/policy.py
Labels: Bug :bug:

#3019 Prevent network port reuse in tests
  newsfragments/3019.dev.rst
  tests/acceptance/cli/ursula/test_federated_ursula.py
  tests/contracts/main/application/conftest.py
  tests/fixtures.py
  tests/integration/config/test_storages.py
  tests/integration/conftest.py
  tests/utils/config.py
  tests/utils/ursula.py
Labels: Bug :bug:, Test 🔍
