Repository nucypher/nucypher, pull requests merged in 2022-01, with the labels that each got.

#2835 rust-python execution environment for CI
  .circleci/config.yml
  .circleci/docker/Dockerfile
  .circleci/docker/README.md
  Makefile
  setup.py
Labels: CircleCI, Dependencies

#2847 Update contract registry for ibex deployment of StakingEscrow that has tStaking functionality
  nucypher/blockchain/eth/contract_registry/ibex/contract_registry.json
Labels: Registry

#2852 Latest update to StakingEscrow on Rinkeby: 0xf069e51e2D9D49f036516740cf44172A2A860A4C
  nucypher/blockchain/eth/contract_registry/ibex/contract_registry.json
  nucypher/blockchain/eth/sol/source/contracts/StakingEscrow.sol
Labels: Changes in Registry

#2849 Use nucypher/rust-python
  .circleci/config.yml
  deploy/docker/Dockerfile
  dev/docker/Dockerfile
  scripts/demos/run_finnegans_wake_demo.sh
  scripts/demos/run_finnegans_wake_demo_docker.sh
Labels: CircleCI
