Repository nucypher/nucypher, pull requests merged in 2022-05, with the labels that each got.

#2927 Bump nucypher-core to 0.2 and relock dependencies
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  docs-requirements.txt
  newsfragments/2927.misc.rst
  requirements.txt
Labels: Dependencies :smiling_imp:

#2934 Fix status events
  newsfragments/2934.bugfix.rst
  nucypher/blockchain/eth/agents.py
  nucypher/cli/commands/status.py
  nucypher/cli/options.py
Labels: Bug :bug:

#2932 Fixes #2902; Removes [docs] pip extra
  .circleci/config.yml
  newsfragments/2932.misc.rst
  setup.py
Labels: Bug :bug:, Packaging

#2916 Adapt nucypher-ops tutorial for mainnet
  docs/source/pre_application/cloud_node_management.rst
  docs/source/pre_application/overview.rst
  docs/source/pre_application/testnet.rst
  newsfragments/2916.doc.rst
Labels: Documentation

#2942 Remove `setuptools-markdown` dependency
  newsfragments/2942.removal.rst
  setup.py
Labels: Dependencies :smiling_imp:

#2944 Add default seed node for Oryx
  newsfragments/2944.misc.rst
  nucypher/network/nodes.py
Labels: Ursula :woman_astronaut:
