Repository nucypher/nucypher, pull requests merged in 2023-10, with the labels that each got.

#3208 Bump CI's Maximum Python Version to 3.11
  .github/workflows/python_tests.yml
  docs/source/references/installation.rst
  newsfragments/3208.dev.rst
  readthedocs.yml
  setup.py
Labels: Automation

#3277 Add Tapir contract registry from latest deployment.
  newsfragments/3277.misc.rst
  nucypher/blockchain/eth/contract_registry/tapir.json
Labels: Registry

#3278 Support ethereum/sepolia as a condition evaluation blockchain
  nucypher/policy/conditions/evm.py
  tests/unit/test_condition_chains.py
Labels: Bug :bug:

#3279 Nodes should reject decryption requests for expired rituals
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
  newsfragments/3279.feature.rst
  nucypher/network/server.py
  tests/acceptance/actors/test_dkg_ritual.py
  tests/integration/blockchain/test_integration_dkg_ritual.py
Labels: Bug :bug:

#3274 Running Lynx simple example as a GH action
  .github/workflows/lynx.yml
  .github/workflows/ruff.yaml
  examples/testnet_simple_taco.py
  newsfragments/3185.feature.rst
  newsfragments/3274.dev.rst
Labels: Automation, Demos

#3285 Reduce blockchain calls to get chain id
  newsfragments/3285.misc.rst
  nucypher/blockchain/eth/clients.py
  tests/unit/test_ethereum_client.py
Labels: Optimization

#3292 Fix nucypher CLI: ursula config ip-address
  newsfragments/3292.bugfix.rst
  nucypher/cli/commands/ursula.py
  nucypher/cli/literature.py
  tests/integration/cli/test_ursula_config_cli.py
Labels: Bug :bug:, CLI

#3293 Add Not Operator Functionality
  examples/local_simple_taco.py
  examples/testnet_compound_multichain_taco.py
  examples/testnet_simple_taco.py
  newsfragments/3293.feature.rst
  nucypher/policy/conditions/evm.py
  nucypher/policy/conditions/exceptions.py
  nucypher/policy/conditions/lingo.py
  nucypher/policy/conditions/time.py
  scripts/hooks/nucypher_dkg.py
  tests/acceptance/actors/test_dkg_ritual.py
  tests/acceptance/conditions/test_conditions.py
  tests/fixtures.py
  tests/integration/blockchain/test_integration_dkg_ritual.py
  tests/integration/characters/test_conditional_reencryption.py
  tests/integration/characters/test_dkg_and_testnet_bypass.py
  tests/integration/config/test_keystore_integration.py
  tests/integration/learning/test_domains.py
  tests/unit/conditions/test_compound_conditions.py
  tests/unit/conditions/test_condition_lingo.py
  tests/unit/conditions/test_condition_validity.py
Labels: Enhancement

#3290 Add `taco` CLI command to list rituals for a specific TACo domain
  newsfragments/3290.misc.rst
  nucypher/cli/commands/taco.py
Labels: Enhancement, CLI

#3304 Use `v*.*.*` branches to trigger github actions instead of `development`
  .github/workflows/darker.yml
  .github/workflows/docker.yml
  .github/workflows/lynx.yml
  .github/workflows/pr_release_note_entry.yml
  .github/workflows/python_tests.yml
  .github/workflows/ruff.yaml
  newsfragments/3304.dev.rst
Labels: Packaging

#3309 updates dependency on nucypher-core to v0.13.0
  Pipfile
  Pipfile.lock
  dev-requirements.txt
  docs-requirements.txt
  newsfragments/3309.dev.rst
  requirements.txt
Labels: Dependencies :smiling_imp:, Do Not Merge

#3310 Relock dependencies with `prometheus-client` as a primary dependency
  Pipfile
  Pipfile.lock
  docs-requirements.txt
  newsfragments/3310.dev.rst
  requirements.txt
Labels: Dependencies :smiling_imp:
